# Energy production (Brazil and Global)

libraries

In [1]:
import pandas as pd
import numpy as np

The aim of this work is to bring some perspective on the global energy production and where Brazil fits in this scenario. 
source: http://data.un.org/Explorer.aspx?d=IFS&f=SeriesCode%3a66

In [2]:
# Exploring and Processing the Data

## Total Electricity Production

In [3]:
pd.set_option('display.max_rows', None)
energy = pd.read_csv('UNdata_total_electricity.csv')

In [4]:
energy.head()

,Country or Area,Commodity - Transaction,Year,Unit,Quantity,Quantity Footnotes
0,Afghanistan,Electricity - net production,2019.0,"Kilowatt-hours, million",1230.5,1.0
1,Afghanistan,Electricity - net production,2018.0,"Kilowatt-hours, million",979.0,1.0
2,Afghanistan,Electricity - net production,2017.0,"Kilowatt-hours, million",1010.1,1.0
3,Afghanistan,Electricity - net production,2016.0,"Kilowatt-hours, million",996.3,1.0
4,Afghanistan,Electricity - net production,2015.0,"Kilowatt-hours, million",973.7,1.0

In [5]:
# countries

#energy['Country or Area'].unique()
energy['Country or Area'].nunique()

245

In [6]:
#Unit columns
energy['Unit'].unique()

array(['Kilowatt-hours, million', nan], dtype=object)

In [7]:
#Quantity Footnotes
energy['Quantity Footnotes'].unique()

array([ 1., nan])

In [8]:
energy['Commodity - Transaction'].unique()

array(['Electricity - net production', 'Footnote', 'Estimate'],
      dtype=object)

In [9]:
# exploring 'Commodity - Transaction' column a bit

energy.loc[energy['Commodity - Transaction'] == 'Footnote']

,Country or Area,Commodity - Transaction,Year,Unit,Quantity,Quantity Footnotes
6685,fnSeqID,Footnote,NaN,NaN,NaN,NaN

In [10]:
energy.loc[energy['Commodity - Transaction'] == 'Estimate']

,Country or Area,Commodity - Transaction,Year,Unit,Quantity,Quantity Footnotes
6686,1,Estimate,NaN,NaN,NaN,NaN

Drop columns
- Commodity - Transaction
- Unit (it's always 'Kilowatt-hours, million', no need to keep it)
- Quantity Footnotes

In [11]:
energy = energy.drop(['Commodity - Transaction','Unit','Quantity Footnotes'], axis=1)

In [12]:
#'fnSeqID', '1'
energy.loc[energy['Country or Area'] == 'fnSeqID']

     Country or Area  Year  Quantity
6685         fnSeqID   NaN       NaN

In [13]:
energy = energy.drop([6685, 6686])
#energy['Country or Area'].unique()

In [14]:
energy['Country or Area'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plur. State of)', 'Bonaire, St Eustatius, Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Rep.', 'Chad',
       'Chile', 'China', 'China, Hong Kong SAR', 'China, Macao SAR',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       "Côte d'Ivoire", 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czechia',
       'Czechoslovakia (former)', 'Dem. Rep. of the Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Ethiopia, incl. Eritrea',
       'Faeroe Islands', 'Falkland Is. (Malvinas)', 'Fiji', 'Finland',
       'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'German Dem. R. (former)', 'Germany',
       'Germany, Fed. R. (former)', 'Ghana', 'Gibraltar', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Rep. of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', "Korea, Dem.Ppl's.Rep.",
       'Korea, Republic of', 'Kosovo', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Dem. Rep.", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (Fed. States of)', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Neth. Antilles (former)',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Other Asia',
       'Pacific Islands (former)', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Moldova',
       'Reunion', 'Réunion', 'Romania', 'Russian Federation', 'Rwanda',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Helena and Depend.', 'St. Kitts-Nevis',
       'St. Lucia', 'St. Pierre-Miquelon', 'St. Vincent-Grenadines',
       'State of Palestine', 'Sudan', 'Sudan (former)', 'Suriname',
       'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan',
       'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United Rep. of Tanzania', 'United States',
       'United States Virgin Is.', 'Uruguay', 'USSR (former)',
       'Uzbekistan', 'Vanuatu', 'Venezuela (Bolivar. Rep.)', 'Viet Nam',
       'Wallis and Futuna Is.', 'Yemen', 'Yemen Arab Rep. (former)',
       'Yemen, Dem. (former)', 'Yugoslavia, SFR (former)', 'Zambia',
       'Zimbabwe'], dtype=object)

In [15]:
#renaming columns
energy.rename(columns={'Country or Area':'country', 'Year':'id', 'Quantity':'quantity'}, inplace=True)

In [16]:
energy.head()

       country      id  quantity
0  Afghanistan  2019.0    1230.5
1  Afghanistan  2018.0     979.0
2  Afghanistan  2017.0    1010.1
3  Afghanistan  2016.0     996.3
4  Afghanistan  2015.0     973.7

In [17]:
#PD.CROSSTAB

In [18]:
#test0 = energy.loc[energy['Country or Area'] == 'Brazil']
#test1 = energy.loc[energy['Country or Area'] == 'Brazil'].T

In [19]:
total_energy = pd.crosstab(index=energy['country'], columns=energy['id'], values=energy['quantity'], aggfunc='sum')
#energy.pivot(index='Country or Area', columns='Year', values='Quantity') #error, duplicate entries

In [130]:
total_energy.head()

id,country,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Afghanistan,1055.0,945.0,658.0,650.0,642.0,633.0,633.0,628.0,624.0,...,865.0,955.0,967.0,965.300,991.300,973.700,996.300,1010.100,979.00,1230.50
1,Albania,3197.0,3582.0,3187.0,3314.0,3865.0,4382.0,5879.0,5145.0,5046.0,...,7743.3,4158.0,4725.0,6956.000,4724.430,5866.000,7135.900,4497.807,8506.92,5183.85
2,Algeria,14966.0,16155.0,17118.0,18176.0,18594.0,18485.0,19401.0,20051.0,21617.0,...,43229.0,46682.0,52644.0,55017.000,57693.000,62212.000,64032.000,68545.000,68962.00,NaN
3,American Samoa,98.0,106.0,106.0,119.0,125.0,130.0,134.0,141.0,148.0,...,154.0,148.4,148.9,149.479,148.725,153.972,161.242,158.653,160.50,160.50
4,Andorra,120.0,120.0,120.0,120.0,120.0,124.0,110.0,100.0,90.0,...,112.7,91.2,87.9,114.700,126.800,99.400,98.530,105.620,139.42,111.25

In [132]:
total_energy.loc[total_energy['country'] == 'Morocco']

id,country,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
145,Morocco,7899.0,8525.0,9105.0,9241.0,9651.0,10491.0,10973.0,12276.0,13061.0,...,22810.0,25627.0,27765.0,28202.0,29340.0,31165.0,32091.0,33132.0,35777.0,NaN

Adding a 'Total' row

In [21]:
# adding a total energy produced row
total_energy.loc['Total'] = total_energy.sum()
total_energy = total_energy.reset_index()

In [22]:
total_energy.head()

id,country,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Afghanistan,1055.0,945.0,658.0,650.0,642.0,633.0,633.0,628.0,624.0,...,865.0,955.0,967.0,965.300,991.300,973.700,996.300,1010.100,979.00,1230.50
1,Albania,3197.0,3582.0,3187.0,3314.0,3865.0,4382.0,5879.0,5145.0,5046.0,...,7743.3,4158.0,4725.0,6956.000,4724.430,5866.000,7135.900,4497.807,8506.92,5183.85
2,Algeria,14966.0,16155.0,17118.0,18176.0,18594.0,18485.0,19401.0,20051.0,21617.0,...,43229.0,46682.0,52644.0,55017.000,57693.000,62212.000,64032.000,68545.000,68962.00,NaN
3,American Samoa,98.0,106.0,106.0,119.0,125.0,130.0,134.0,141.0,148.0,...,154.0,148.4,148.9,149.479,148.725,153.972,161.242,158.653,160.50,160.50
4,Andorra,120.0,120.0,120.0,120.0,120.0,124.0,110.0,100.0,90.0,...,112.7,91.2,87.9,114.700,126.800,99.400,98.530,105.620,139.42,111.25

rank top 10 producers

In [23]:
#total_energy.sort_values(by=[1990, 'country'])
#total_energy.iloc[:,0:2].sort_values(by=[1990, 'country'], ascending=False)
#total_energy[['country',2019]].sort_values(by=[2019, 'country'], ascending=False)

In [24]:
total_energy_1992 = total_energy[['country',1992]]
total_energy_1992['ranking'] = total_energy_1992[1992].rank(ascending=False)-1
total_energy_1992 = total_energy_1992.sort_values(by=['ranking'], ascending=True)
print(total_energy_1992)

id                       country        1992.0  ranking
243                        Total  1.161912e+07      0.0
229                United States  3.097912e+06      1.0
179           Russian Federation  9.386580e+05      2.0
109                        Japan  8.686520e+05      3.0
42                         China  6.950800e+05      4.0
37                        Canada  5.046410e+05      5.0
82                       Germany  4.987810e+05      6.0
75                        France  4.431300e+05      7.0
100                        India  3.070320e+05      8.0
227               United Kingdom  3.008020e+05      9.0
28                        Brazil  2.385510e+05     10.0
225                      Ukraine  2.371020e+05     11.0
107                        Italy  2.144430e+05     12.0
196                 South Africa  1.554200e+05     13.0
198                        Spain  1.511560e+05     14.0
11                     Australia  1.493060e+05     15.0
209                       Sweden  1.425330e+05     16.0
140                       Mexico  1.262900e+05     17.0
172                       Poland  1.204090e+05     18.0
116           Korea, Republic of  1.201910e+05     19.0
161                       Norway  1.165400e+05     20.0
163                   Other Asia  1.011800e+05     21.0
112                   Kazakhstan  8.270100e+04     22.0
184                 Saudi Arabia  7.962800e+04     23.0
152                  Netherlands  7.457400e+04     24.0
19                       Belgium  6.834800e+04     25.0
102       Iran (Islamic Rep. of)  6.501100e+04     26.0
234    Venezuela (Bolivar. Rep.)  6.491900e+04     27.0
219                       Turkey  6.310500e+04     28.0
210                  Switzerland  5.789200e+04     29.0
54                       Czechia  5.537000e+04     30.0
213                     Thailand  5.502100e+04     31.0
74                       Finland  5.495700e+04     32.0
8                      Argentina  5.439400e+04     33.0
101                    Indonesia  5.298900e+04     34.0
12                       Austria  4.937200e+04     35.0
178                      Romania  4.805800e+04     36.0
232                   Uzbekistan  4.796400e+04     37.0
165                     Pakistan  4.396200e+04     38.0
63                         Egypt  4.385000e+04     39.0
43          China, Hong Kong SAR  3.507600e+04     40.0
18                       Belarus  3.454000e+04     41.0
86                        Greece  3.436000e+04     42.0
45                      Colombia  3.422700e+04     43.0
187        Serbia and Montenegro  3.349000e+04     44.0
154                  New Zealand  3.193700e+04     45.0
31                      Bulgaria  3.152900e+04     46.0
131                     Malaysia  3.068700e+04     47.0
98                       Hungary  2.911900e+04     48.0
58                       Denmark  2.882500e+04     49.0
173                     Portugal  2.869900e+04     50.0
169                     Paraguay  2.701200e+04     51.0
103                         Iraq  2.530000e+04     52.0
106                       Israel  2.367800e+04     53.0
115        Korea, Dem.Ppl's.Rep.  2.275000e+04     54.0
171                  Philippines  2.220300e+04     55.0
41                         Chile  2.198400e+04     56.0
192                     Slovakia  2.056900e+04     57.0
13                    Azerbaijan  1.869800e+04     58.0
226         United Arab Emirates  1.868900e+04     59.0
2                        Algeria  1.711800e+04     60.0
127                    Lithuania  1.694700e+04     61.0
212                   Tajikistan  1.682200e+04     62.0
190                    Singapore  1.657300e+04     63.0
174                  Puerto Rico  1.620500e+04     64.0
104                      Ireland  1.503700e+04     65.0
157                      Nigeria  1.451300e+04     66.0
118                       Kuwait  1.440900e+04     67.0
119                   Kyrgyzstan  1.348900e+04     68.0
170                         Peru  1.320900e+04     69.0
220                 Turkmenistan  1.214400e+04     70.0
176          Republic of Moldova  1.124800e+04     71.0
193                     Slovenia  1.108400e+04     72.0
51                          Cuba  1.073900e+04     73.0
80                       Georgia  1.059300e+04     74.0
211         Syrian Arab Republic  1.047300e+04     75.0
67                       Estonia  1.043700e+04     76.0
125                        Libya  9.530000e+03     77.0
235                     Viet Nam  9.187000e+03     78.0
145                      Morocco  9.105000e+03     79.0
16                    Bangladesh  9.053000e+03     80.0
231                      Uruguay  8.825000e+03     81.0
50                       Croatia  8.530000e+03     82.0
9                        Armenia  8.523000e+03     83.0
242                     Zimbabwe  8.157000e+03     84.0
241                       Zambia  7.780000e+03     85.0
62                       Ecuador  7.062000e+03     86.0
84                         Ghana  6.093000e+03     87.0
57        Dem. Rep. of the Congo  6.056000e+03     88.0
218                      Tunisia  5.892000e+03     89.0
159              North Macedonia  5.701000e+03     90.0
26        Bosnia and Herzegovina  5.656000e+03     91.0
61            Dominican Republic  5.348000e+03     92.0
175                        Qatar  4.873000e+03     93.0
162                         Oman  4.841000e+03     94.0
99                       Iceland  4.490000e+03     95.0
111                       Jordan  4.157000e+03     96.0
49                    Costa Rica  4.142000e+03     97.0
15                       Bahrain  3.907000e+03     98.0
122                      Lebanon  3.900000e+03     99.0
217          Trinidad and Tobago  3.802000e+03    100.0
199                    Sri Lanka  3.521000e+03    101.0
121                       Latvia  3.279000e+03    102.0
113                        Kenya  3.215000e+03    103.0
1                        Albania  3.187000e+03    104.0
167                       Panama  2.977000e+03    105.0
147                      Myanmar  2.946000e+03    106.0
36                      Cameroon  2.767000e+03    107.0
91                     Guatemala  2.766000e+03    108.0
142                     Mongolia  2.439000e+03    109.0
24      Bolivia (Plur. State of)  2.381000e+03    110.0
64                   El Salvador  2.317000e+03    111.0
97                      Honduras  2.309000e+03    112.0
53                        Cyprus  2.291000e+03    113.0
108                      Jamaica  2.193000e+03    114.0
237                        Yemen  1.915000e+03    115.0
228      United Rep. of Tanzania  1.838000e+03    116.0
56                 Côte d'Ivoire  1.819000e+03    117.0
89                    Guadeloupe  1.726000e+03    118.0
23                        Bhutan  1.558000e+03    119.0
136                   Martinique  1.546400e+03    120.0
155                    Nicaragua  1.495000e+03    121.0
90                          Guam  1.416300e+03    122.0
30             Brunei Darussalam  1.407000e+03    123.0
70       Ethiopia, incl. Eritrea  1.394000e+03    124.0
168             Papua New Guinea  1.390000e+03    125.0
134                        Malta  1.376000e+03    126.0
208                     Suriname  1.363600e+03    127.0
207               Sudan (former)  1.311000e+03    128.0
148                      Namibia  1.170000e+03    129.0
128                   Luxembourg  1.153000e+03    130.0
14                       Bahamas  1.130000e+03    131.0
153                New Caledonia  1.099000e+03    132.0
181                      Réunion  1.073000e+03    133.5
177                      Reunion  1.073000e+03    133.5
78                         Gabon  1.038000e+03    135.0
27                      Botswana  1.025000e+03    136.0
230     United States Virgin Is.  9.740000e+02    137.0
185                      Senegal  9.530000e+02    138.0
44              China, Macao SAR  9.420000e+02    139.0
150                        Nepal  9.400000e+02    140.0
5                         Angola  9.070000e+02    141.0
224                       Uganda  8.890000e+02    142.0
76                 French Guiana  8.700000e+02    143.0
151      Neth. Antilles (former)  8.530000e+02    144.0
138                    Mauritius  8.200000e+02    145.0
120       Lao People's Dem. Rep.  7.948122e+02    146.0
130                       Malawi  7.900000e+02    147.0
0                    Afghanistan  6.580000e+02    148.0
129                   Madagascar  5.953330e+02    149.0
93                        Guinea  5.170000e+02    150.0
17                      Barbados  4.960000e+02    151.0
73                          Fiji  4.640000e+02    152.0
22                       Bermuda  4.610000e+02    153.0
68                      Eswatini  4.150000e+02    154.0
96                         Haiti  3.810000e+02    155.0
47                         Congo  3.680000e+02    156.0
146                   Mozambique  3.480000e+02    157.0
110                       Jersey  3.467000e+02    158.0
10                         Aruba  3.410000e+02    159.0
160     Northern Mariana Islands  3.360000e+02    160.0
77              French Polynesia  3.070000e+02    161.0
133                         Mali  2.990000e+02    162.0
124                      Liberia  2.620000e+02    163.0
195                      Somalia  2.570000e+02    164.0
38                Cayman Islands  2.430000e+02    165.0
137                   Mauritania  2.383000e+02    166.0
215                         Togo  2.170000e+02    167.0
87                     Greenland  2.160000e+02    168.0
95                        Guyana  2.138658e+02    169.0
35                      Cambodia  2.020000e+02    170.0
32                  Burkina Faso  1.960000e+02    171.0
71                Faeroe Islands  1.940000e+02    172.0
59                      Djibouti  1.750000e+02    173.0
156                        Niger  1.646000e+02    174.0
180                       Rwanda  1.520000e+02    175.0
202                    St. Lucia  1.466000e+02    176.0
20                        Belize  1.370000e+02    177.0
4                        Andorra  1.200000e+02    178.0
189                 Sierra Leone  1.100000e+02    179.0
188                   Seychelles  1.060000e+02    180.5
3                 American Samoa  1.060000e+02    180.5
85                     Gibraltar  9.700000e+01    182.0
39          Central African Rep.  9.600000e+01    183.0
166                        Palau  9.500000e+01    184.0
7            Antigua and Barbuda  9.200000e+01    185.0
33                       Burundi  8.500000e+01    186.0
201              St. Kitts-Nevis  8.000000e+01    187.0
40                          Chad  7.700000e+01    188.0
141  Micronesia (Fed. States of)  7.600000e+01    189.0
79                        Gambia  6.700000e+01    190.0
135             Marshall Islands  6.500000e+01    191.0
126                Liechtenstein  6.489600e+01    192.0
88                       Grenada  6.100000e+01    193.0
205           State of Palestine  6.000000e+01    194.0
34                    Cabo Verde  5.890000e+01    195.0
194              Solomon Islands  5.700000e+01    196.5
204       St. Vincent-Grenadines  5.700000e+01    196.5
182                        Samoa  5.400000e+01    198.0
29        British Virgin Islands  4.600000e+01    199.0
94                 Guinea-Bissau  4.400000e+01    200.0
203          St. Pierre-Miquelon  4.300000e+01    201.0
139                      Mayotte  4.200000e+01    202.0
60                      Dominica  3.000000e+01    204.0
132                     Maldives  3.000000e+01    204.0
149                        Nauru  3.000000e+01    204.0
233                      Vanuatu  2.900000e+01    206.0
65             Equatorial Guinea  2.850000e+01    207.0
221     Turks and Caicos Islands  2.800000e+01    208.0
216                        Tonga  2.500000e+01    209.0
21                         Benin  2.400000e+01    210.0
6                       Anguilla  1.950000e+01    211.0
48                  Cook Islands  1.600000e+01    212.0
183        Sao Tome and Principe  1.500000e+01    213.0
46                       Comoros  1.497500e+01    214.0
144                   Montserrat  1.400000e+01    215.0
72       Falkland Is. (Malvinas)  1.100000e+01    216.0
114                     Kiribati  7.990000e+00    217.0
200       St. Helena and Depend.  5.180000e+00    218.0
158                         Niue  2.700000e+00    219.0
222                       Tuvalu  2.100000e+00    220.0
25   Bonaire, St Eustatius, Saba           NaN      NaN
52                       Curaçao           NaN      NaN
55       Czechoslovakia (former)           NaN      NaN
66                       Eritrea           NaN      NaN
69                      Ethiopia           NaN      NaN
81       German Dem. R. (former)           NaN      NaN
83     Germany, Fed. R. (former)           NaN      NaN
92                      Guernsey           NaN      NaN
105                  Isle of Man           NaN      NaN
117                       Kosovo           NaN      NaN
123                      Lesotho           NaN      NaN
143                   Montenegro           NaN      NaN
164     Pacific Islands (former)           NaN      NaN
186                       Serbia           NaN      NaN
191    Sint Maarten (Dutch part)           NaN      NaN
197                  South Sudan           NaN      NaN
206                        Sudan           NaN      NaN
214                  Timor-Leste           NaN      NaN
223                USSR (former)           NaN      NaN
236        Wallis and Futuna Is.           NaN      NaN
238     Yemen Arab Rep. (former)           NaN      NaN
239         Yemen, Dem. (former)           NaN      NaN
240     Yugoslavia, SFR (former)           NaN      NaN

<ipython-input-24-5ceb7e5b8c03>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_energy_1992['ranking'] = total_energy_1992[1992].rank(ascending=False)-1

In [25]:
total_energy_2018 = total_energy[['country',2018]]
total_energy_2018['ranking'] = total_energy_2018[2018].rank(ascending=False)-1
total_energy_2018 = total_energy_2018.sort_values(by=['ranking'], ascending=True)
print(total_energy_2018)

id                       country        2018.0  ranking
243                        Total  2.516194e+07      0.0
42                         China  6.612610e+06      1.0
229                United States  4.236928e+06      2.0
100                        India  1.413661e+06      3.0
179           Russian Federation  1.044537e+06      4.0
109                        Japan  1.026696e+06      5.0
37                        Canada  6.358120e+05      6.0
82                       Germany  6.091910e+05      7.0
28                        Brazil  5.935760e+05      8.0
116           Korea, Republic of  5.668450e+05      9.0
75                        France  5.580870e+05     10.0
140                       Mexico  3.218010e+05     11.0
227               United Kingdom  3.174670e+05     12.0
184                 Saudi Arabia  3.121930e+05     13.0
102       Iran (Islamic Rep. of)  2.963290e+05     14.0
219                       Turkey  2.905020e+05     15.0
107                        Italy  2.798440e+05     16.0
101                    Indonesia  2.737930e+05     17.0
198                        Spain  2.638270e+05     18.0
163                   Other Asia  2.635690e+05     19.0
11                     Australia  2.472920e+05     20.0
196                 South Africa  2.422110e+05     21.0
235                     Viet Nam  2.070550e+05     22.0
63                         Egypt  1.906820e+05     23.0
213                     Thailand  1.794740e+05     24.0
131                     Malaysia  1.698820e+05     25.0
209                       Sweden  1.596770e+05     26.0
172                       Poland  1.552590e+05     27.0
8                      Argentina  1.483070e+05     28.0
225                      Ukraine  1.470970e+05     29.0
161                       Norway  1.462380e+05     30.0
226         United Arab Emirates  1.312710e+05     31.0
165                     Pakistan  1.306710e+05     32.0
152                  Netherlands  1.110450e+05     33.0
234    Venezuela (Bolivar. Rep.)  9.876400e+04     34.0
112                   Kazakhstan  9.462400e+04     35.0
171                  Philippines  9.043430e+04     36.0
54                       Czechia  8.086100e+04     37.0
103                         Iraq  8.043100e+04     38.0
41                         Chile  7.988300e+04     39.0
45                      Colombia  7.784400e+04     40.0
16                    Bangladesh  7.419530e+04     41.0
19                       Belgium  7.198100e+04     42.0
2                        Algeria  6.896200e+04     43.0
74                       Finland  6.753300e+04     44.0
210                  Switzerland  6.744900e+04     45.0
106                       Israel  6.659000e+04     46.0
118                       Kuwait  6.579100e+04     47.0
12                       Austria  6.512000e+04     48.0
232                   Uzbekistan  6.156000e+04     49.0
178                      Romania  6.017500e+04     50.0
169                     Paraguay  5.872954e+04     51.0
173                     Portugal  5.819700e+04     52.0
170                         Peru  5.423900e+04     53.0
190                    Singapore  5.290480e+04     54.0
86                        Greece  5.008400e+04     55.0
175                        Qatar  4.465400e+04     56.0
154                  New Zealand  4.312700e+04     57.0
31                      Bulgaria  4.271500e+04     58.0
162                         Oman  3.719200e+04     59.0
18                       Belarus  3.670700e+04     60.0
43          China, Hong Kong SAR  3.656500e+04     61.0
145                      Morocco  3.577700e+04     62.0
157                      Nigeria  3.523900e+04     63.0
186                       Serbia  3.478400e+04     64.0
120       Lao People's Dem. Rep.  3.404990e+04     65.0
125                        Libya  3.332900e+04     66.0
104                      Ireland  3.035300e+04     67.0
98                       Hungary  2.983200e+04     68.0
15                       Bahrain  2.951700e+04     69.0
58                       Denmark  2.932300e+04     70.0
62                       Ecuador  2.882910e+04     71.0
192                     Slovakia  2.486300e+04     72.0
13                    Azerbaijan  2.436050e+04     73.0
147                      Myanmar  2.433200e+04     74.0
122                      Lebanon  2.310200e+04     75.0
220                 Turkmenistan  2.083100e+04     76.0
218                      Tunisia  2.055500e+04     77.0
212                   Tajikistan  1.953800e+04     78.0
99                       Iceland  1.943300e+04     79.0
61            Dominican Republic  1.895831e+04     80.0
51                          Cuba  1.887880e+04     81.0
111                       Jordan  1.833860e+04     82.0
26        Bosnia and Herzegovina  1.791200e+04     83.0
146                   Mozambique  1.655000e+04     84.0
84                         Ghana  1.619600e+04     85.0
174                  Puerto Rico  1.616700e+04     86.0
211         Syrian Arab Republic  1.612900e+04     87.0
206                        Sudan  1.591970e+04     88.0
241                       Zambia  1.578281e+04     89.0
119                   Kyrgyzstan  1.553400e+04     90.0
193                     Slovenia  1.544700e+04     91.0
199                    Sri Lanka  1.537366e+04     92.0
231                      Uruguay  1.419360e+04     93.0
115        Korea, Dem.Ppl's.Rep.  1.397000e+04     94.0
69                      Ethiopia  1.355300e+04     95.0
50                       Croatia  1.318200e+04     96.0
91                     Guatemala  1.279318e+04     97.0
80                       Georgia  1.193370e+04     98.0
5                         Angola  1.144500e+04     99.0
49                    Costa Rica  1.137644e+04    100.0
113                        Kenya  1.105300e+04    101.0
67                       Estonia  1.093300e+04    102.0
167                       Panama  1.086060e+04    103.0
57        Dem. Rep. of the Congo  1.054800e+04    104.0
56                 Côte d'Ivoire  9.866000e+03    105.0
97                      Honduras  9.506000e+03    106.5
24      Bolivia (Plur. State of)  9.506000e+03    106.5
242                     Zimbabwe  9.243000e+03    108.0
217          Trinidad and Tobago  8.889000e+03    109.0
1                        Albania  8.506920e+03    110.0
36                      Cameroon  8.374000e+03    111.0
35                      Cambodia  7.738000e+03    112.0
9                        Armenia  7.437445e+03    113.0
228      United Rep. of Tanzania  7.230000e+03    114.0
23                        Bhutan  6.960110e+03    115.0
121                       Latvia  6.203000e+03    116.0
142                     Mongolia  5.686000e+03    117.0
117                       Kosovo  5.380000e+03    118.0
159              North Macedonia  5.269361e+03    119.0
64                   El Salvador  5.238400e+03    120.0
150                        Nepal  4.854000e+03    121.0
53                        Cyprus  4.828000e+03    122.0
185                      Senegal  4.447000e+03    123.0
108                      Jamaica  4.383000e+03    124.0
168             Papua New Guinea  4.291400e+03    125.0
155                    Nicaragua  4.233000e+03    126.0
224                       Uganda  4.039500e+03    127.0
30             Brunei Darussalam  3.683000e+03    128.0
143                   Montenegro  3.545600e+03    129.0
153                New Caledonia  3.485000e+03    130.0
127                    Lithuania  3.314000e+03    131.0
133                         Mali  3.248000e+03    132.0
237                        Yemen  3.139000e+03    133.0
47                         Congo  3.117000e+03    134.0
138                    Mauritius  3.087500e+03    135.0
27                      Botswana  2.729895e+03    136.0
78                         Gabon  2.586720e+03    137.0
208                     Suriname  2.209520e+03    138.0
14                       Bahamas  2.200000e+03    139.0
128                   Luxembourg  2.171000e+03    140.0
130                       Malawi  2.055655e+03    141.0
129                   Madagascar  2.047000e+03    142.0
134                        Malta  1.912000e+03    143.0
93                        Guinea  1.875500e+03    144.0
90                          Guam  1.652000e+03    145.0
148                      Namibia  1.296000e+03    146.0
137                   Mauritania  1.175700e+03    147.0
95                        Guyana  1.103162e+03    148.0
17                      Barbados  1.038000e+03    149.0
96                         Haiti  1.028000e+03    150.0
73                          Fiji  9.930080e+02    151.0
10                         Aruba  9.828000e+02    152.0
0                    Afghanistan  9.790000e+02    153.0
32                  Burkina Faso  9.660000e+02    154.0
52                       Curaçao  8.490000e+02    155.0
176          Republic of Moldova  8.220000e+02    156.0
132                     Maldives  7.510000e+02    157.0
65             Equatorial Guinea  7.360960e+02    158.0
180                       Rwanda  7.280000e+02    159.0
77              French Polynesia  6.860000e+02    160.0
38                Cayman Islands  6.577200e+02    161.0
20                        Belize  6.243735e+02    162.0
22                       Bermuda  6.053000e+02    163.0
44              China, Macao SAR  5.990000e+02    164.0
215                         Togo  5.750000e+02    165.0
197                  South Sudan  5.710000e+02    166.0
230     United States Virgin Is.  5.648500e+02    167.0
68                      Eswatini  5.190000e+02    168.0
123                      Lesotho  5.166600e+02    169.0
87                     Greenland  5.150000e+02    170.0
188                   Seychelles  5.057000e+02    171.0
34                    Cabo Verde  4.821000e+02    172.0
66                       Eritrea  4.730000e+02    173.0
105                  Isle of Man  4.574000e+02    174.0
156                        Niger  4.420000e+02    175.0
214                  Timor-Leste  4.254550e+02    176.0
205           State of Palestine  4.204000e+02    177.0
160     Northern Mariana Islands  3.900000e+02    178.0
202                    St. Lucia  3.869400e+02    179.0
195                      Somalia  3.500000e+02    180.0
71                Faeroe Islands  3.410000e+02    181.0
7            Antigua and Barbuda  3.350000e+02    182.0
124                      Liberia  3.270000e+02    183.0
79                        Gambia  3.085170e+02    184.0
191    Sint Maarten (Dutch part)  2.914000e+02    185.0
221     Turks and Caicos Islands  2.490000e+02    186.0
201              St. Kitts-Nevis  2.270000e+02    187.0
88                       Grenada  2.244572e+02    188.0
40                          Chad  2.210000e+02    189.0
33                       Burundi  2.158700e+02    190.0
85                     Gibraltar  2.111000e+02    191.0
21                         Benin  2.020000e+02    192.0
3                 American Samoa  1.605000e+02    193.0
189                 Sierra Leone  1.563000e+02    194.0
182                        Samoa  1.493700e+02    195.0
39          Central African Rep.  1.470000e+02    196.0
204       St. Vincent-Grenadines  1.461990e+02    197.0
29        British Virgin Islands  1.400000e+02    198.0
4                        Andorra  1.394200e+02    199.0
25   Bonaire, St Eustatius, Saba  1.250000e+02    200.0
194              Solomon Islands  1.073380e+02    201.0
60                      Dominica  1.063040e+02    202.0
135             Marshall Islands  8.950000e+01    203.0
166                        Palau  8.900000e+01    204.5
126                Liechtenstein  8.900000e+01    204.5
46                       Comoros  8.670900e+01    206.0
94                 Guinea-Bissau  8.660000e+01    207.0
183        Sao Tome and Principe  8.480000e+01    208.0
6                       Anguilla  8.400000e+01    209.0
233                      Vanuatu  7.930400e+01    210.0
141  Micronesia (Fed. States of)  6.640000e+01    211.0
216                        Tonga  6.570000e+01    212.0
59                      Djibouti  5.800000e+01    213.0
92                      Guernsey  5.380000e+01    214.0
203          St. Pierre-Miquelon  4.950800e+01    215.0
110                       Jersey  4.294000e+01    216.0
48                  Cook Islands  4.140000e+01    217.0
149                        Nauru  3.582000e+01    218.0
114                     Kiribati  2.990000e+01    219.0
144                   Montserrat  1.950000e+01    220.0
236        Wallis and Futuna Is.  1.786800e+01    221.0
72       Falkland Is. (Malvinas)  1.765000e+01    222.0
200       St. Helena and Depend.  1.193400e+01    223.0
222                       Tuvalu  6.914000e+00    224.0
158                         Niue  3.700000e+00    225.0
55       Czechoslovakia (former)           NaN      NaN
70       Ethiopia, incl. Eritrea           NaN      NaN
76                 French Guiana           NaN      NaN
81       German Dem. R. (former)           NaN      NaN
83     Germany, Fed. R. (former)           NaN      NaN
89                    Guadeloupe           NaN      NaN
136                   Martinique           NaN      NaN
139                      Mayotte           NaN      NaN
151      Neth. Antilles (former)           NaN      NaN
164     Pacific Islands (former)           NaN      NaN
177                      Reunion           NaN      NaN
181                      Réunion           NaN      NaN
187        Serbia and Montenegro           NaN      NaN
207               Sudan (former)           NaN      NaN
223                USSR (former)           NaN      NaN
238     Yemen Arab Rep. (former)           NaN      NaN
239         Yemen, Dem. (former)           NaN      NaN
240     Yugoslavia, SFR (former)           NaN      NaN

<ipython-input-25-1f05b84d9a48>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_energy_2018['ranking'] = total_energy_2018[2018].rank(ascending=False)-1

## Solar

In [26]:
solar_energy = pd.read_csv('UNdata_solar_electricity.csv')
solar_energy = solar_energy.drop(['Commodity - Transaction','Unit','Quantity Footnotes'], axis=1)
solar_energy.rename(columns={'Country or Area':'country', 'Year':'id', 'Quantity':'quantity'}, inplace=True)

In [27]:
solar_energy.head()

       country      id  quantity
0  Afghanistan  2019.0     20.77
1      Algeria  2018.0     62.00
2      Algeria  2017.0     50.00
3      Algeria  2016.0     14.00
4      Algeria  2015.0     58.00

In [131]:
solar_energy.loc[solar_energy['country'] == 'Morocco']

id,country,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
110,Morocco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,6.0,401.0,415.0,950.0,NaN

In [28]:
solar_energy['country'].unique()

array(['Afghanistan', 'Algeria', 'American Samoa', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Benin', 'Bhutan',
       'Bolivia (Plur. State of)', 'Bonaire, St Eustatius, Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Rep.', 'Chile', 'China', 'Colombia',
       'Congo', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba',
       'Curaçao', 'Cyprus', 'Czechia', 'Dem. Rep. of the Congo',
       'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland',
       'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia',
       'Germany', 'Ghana', 'Greece', 'Grenada', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'India', 'Indonesia', 'Iran (Islamic Rep. of)', 'Iraq',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kiribati', "Korea, Dem.Ppl's.Rep.", 'Korea, Republic of',
       'Kosovo', 'Kuwait', "Lao People's Dem. Rep.", 'Latvia', 'Lebanon',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (Fed. States of)', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'North Macedonia', 'Norway', 'Oman',
       'Other Asia', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Republic of Moldova', 'Reunion', 'Réunion', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'Sao Tome and Principe',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'St. Helena and Depend.', 'St. Kitts-Nevis', 'St. Lucia',
       'St. Vincent-Grenadines', 'State of Palestine', 'Suriname',
       'Sweden', 'Switzerland', 'Thailand', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom',
       'United Rep. of Tanzania', 'United States',
       'United States Virgin Is.', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivar. Rep.)', 'Viet Nam', 'Wallis and Futuna Is.',
       'Yemen', 'Zambia', 'fnSeqID', '1'], dtype=object)

In [29]:
solar_energy.loc[solar_energy['country'] == 'fnSeqID']

      country  id  quantity
2002  fnSeqID NaN       NaN

In [30]:
solar_energy.loc[solar_energy['country'] == '1']

     country  id  quantity
2003       1 NaN       NaN

In [31]:
solar_energy = solar_energy.drop([2002, 2003])
solar_energy['country'].unique()

array(['Afghanistan', 'Algeria', 'American Samoa', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Benin', 'Bhutan',
       'Bolivia (Plur. State of)', 'Bonaire, St Eustatius, Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Rep.', 'Chile', 'China', 'Colombia',
       'Congo', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba',
       'Curaçao', 'Cyprus', 'Czechia', 'Dem. Rep. of the Congo',
       'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland',
       'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia',
       'Germany', 'Ghana', 'Greece', 'Grenada', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'India', 'Indonesia', 'Iran (Islamic Rep. of)', 'Iraq',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kiribati', "Korea, Dem.Ppl's.Rep.", 'Korea, Republic of',
       'Kosovo', 'Kuwait', "Lao People's Dem. Rep.", 'Latvia', 'Lebanon',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (Fed. States of)', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'North Macedonia', 'Norway', 'Oman',
       'Other Asia', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Republic of Moldova', 'Reunion', 'Réunion', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'Sao Tome and Principe',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'St. Helena and Depend.', 'St. Kitts-Nevis', 'St. Lucia',
       'St. Vincent-Grenadines', 'State of Palestine', 'Suriname',
       'Sweden', 'Switzerland', 'Thailand', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom',
       'United Rep. of Tanzania', 'United States',
       'United States Virgin Is.', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivar. Rep.)', 'Viet Nam', 'Wallis and Futuna Is.',
       'Yemen', 'Zambia'], dtype=object)

In [32]:
solar_energy = pd.crosstab(index=solar_energy['country'], columns=solar_energy['id'], values=solar_energy['quantity'], aggfunc='sum')
solar_energy.loc['Total'] = solar_energy.sum()
solar_energy = solar_energy.reset_index()
solar_energy.head()

id,country,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.77
1,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,58.00,14.00,50.000,62.000,NaN
2,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,1.409,2.419,2.37,2.35,2.92,4.832,4.832,4.80
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.20,0.20,0.30,0.700,0.900,1.20
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,11.0,14.000,15.000,17.00,18.00,18.00,18.000,18.000,NaN

In [33]:
solar_energy_1992 = solar_energy[['country',1992]]
solar_energy_1992['ranking'] = solar_energy_1992[1992].rank(ascending=False)-1
solar_energy_1992 = solar_energy_1992.sort_values(by=['ranking'], ascending=True)
print(solar_energy_1992)

id                       country  1992.0  ranking
189                        Total   868.0      0.0
179                United States   749.0      1.0
81                         Japan    81.0      2.0
155                        Spain    12.0      3.0
79                         Italy     9.0      4.0
62                       Germany     4.0      5.0
107                       Mexico     3.0      6.5
164                  Switzerland     3.0      6.5
32                        Canada     2.0      8.5
86            Korea, Republic of     2.0      8.5
56                       Finland     1.0     11.0
116                  Netherlands     1.0     11.0
134                     Portugal     1.0     11.0
0                    Afghanistan     NaN      NaN
1                        Algeria     NaN      NaN
2                 American Samoa     NaN      NaN
3                        Andorra     NaN      NaN
4                         Angola     NaN      NaN
5                       Anguilla     NaN      NaN
6            Antigua and Barbuda     NaN      NaN
7                      Argentina     NaN      NaN
8                        Armenia     NaN      NaN
9                      Australia     NaN      NaN
10                       Austria     NaN      NaN
11                    Azerbaijan     NaN      NaN
12                       Bahrain     NaN      NaN
13                    Bangladesh     NaN      NaN
14                      Barbados     NaN      NaN
15                       Belarus     NaN      NaN
16                       Belgium     NaN      NaN
17                         Benin     NaN      NaN
18                        Bhutan     NaN      NaN
19      Bolivia (Plur. State of)     NaN      NaN
20   Bonaire, St Eustatius, Saba     NaN      NaN
21        Bosnia and Herzegovina     NaN      NaN
22                      Botswana     NaN      NaN
23                        Brazil     NaN      NaN
24        British Virgin Islands     NaN      NaN
25             Brunei Darussalam     NaN      NaN
26                      Bulgaria     NaN      NaN
27                  Burkina Faso     NaN      NaN
28                       Burundi     NaN      NaN
29                    Cabo Verde     NaN      NaN
30                      Cambodia     NaN      NaN
31                      Cameroon     NaN      NaN
33          Central African Rep.     NaN      NaN
34                         Chile     NaN      NaN
35                         China     NaN      NaN
36                      Colombia     NaN      NaN
37                         Congo     NaN      NaN
38                  Cook Islands     NaN      NaN
39                    Costa Rica     NaN      NaN
40                       Croatia     NaN      NaN
41                          Cuba     NaN      NaN
42                       Curaçao     NaN      NaN
43                        Cyprus     NaN      NaN
44                       Czechia     NaN      NaN
45        Dem. Rep. of the Congo     NaN      NaN
46                       Denmark     NaN      NaN
47            Dominican Republic     NaN      NaN
48                       Ecuador     NaN      NaN
49                         Egypt     NaN      NaN
50                   El Salvador     NaN      NaN
51                       Eritrea     NaN      NaN
52                       Estonia     NaN      NaN
53                      Eswatini     NaN      NaN
54                      Ethiopia     NaN      NaN
55                          Fiji     NaN      NaN
57                        France     NaN      NaN
58                 French Guiana     NaN      NaN
59              French Polynesia     NaN      NaN
60                         Gabon     NaN      NaN
61                        Gambia     NaN      NaN
63                         Ghana     NaN      NaN
64                        Greece     NaN      NaN
65                       Grenada     NaN      NaN
66                    Guadeloupe     NaN      NaN
67                          Guam     NaN      NaN
68                     Guatemala     NaN      NaN
69                 Guinea-Bissau     NaN      NaN
70                        Guyana     NaN      NaN
71                         Haiti     NaN      NaN
72                      Honduras     NaN      NaN
73                       Hungary     NaN      NaN
74                         India     NaN      NaN
75                     Indonesia     NaN      NaN
76        Iran (Islamic Rep. of)     NaN      NaN
77                          Iraq     NaN      NaN
78                        Israel     NaN      NaN
80                       Jamaica     NaN      NaN
82                        Jordan     NaN      NaN
83                    Kazakhstan     NaN      NaN
84                      Kiribati     NaN      NaN
85         Korea, Dem.Ppl's.Rep.     NaN      NaN
87                        Kosovo     NaN      NaN
88                        Kuwait     NaN      NaN
89        Lao People's Dem. Rep.     NaN      NaN
90                        Latvia     NaN      NaN
91                       Lebanon     NaN      NaN
92                       Liberia     NaN      NaN
93                         Libya     NaN      NaN
94                 Liechtenstein     NaN      NaN
95                     Lithuania     NaN      NaN
96                    Luxembourg     NaN      NaN
97                    Madagascar     NaN      NaN
98                      Malaysia     NaN      NaN
99                      Maldives     NaN      NaN
100                         Mali     NaN      NaN
101                        Malta     NaN      NaN
102             Marshall Islands     NaN      NaN
103                   Martinique     NaN      NaN
104                   Mauritania     NaN      NaN
105                    Mauritius     NaN      NaN
106                      Mayotte     NaN      NaN
108  Micronesia (Fed. States of)     NaN      NaN
109                   Montenegro     NaN      NaN
110                      Morocco     NaN      NaN
111                   Mozambique     NaN      NaN
112                      Myanmar     NaN      NaN
113                      Namibia     NaN      NaN
114                        Nauru     NaN      NaN
115                        Nepal     NaN      NaN
117                New Caledonia     NaN      NaN
118                  New Zealand     NaN      NaN
119                    Nicaragua     NaN      NaN
120                        Niger     NaN      NaN
121                      Nigeria     NaN      NaN
122                         Niue     NaN      NaN
123              North Macedonia     NaN      NaN
124                       Norway     NaN      NaN
125                         Oman     NaN      NaN
126                   Other Asia     NaN      NaN
127                     Pakistan     NaN      NaN
128                        Palau     NaN      NaN
129                       Panama     NaN      NaN
130             Papua New Guinea     NaN      NaN
131                         Peru     NaN      NaN
132                  Philippines     NaN      NaN
133                       Poland     NaN      NaN
135                  Puerto Rico     NaN      NaN
136          Republic of Moldova     NaN      NaN
137                      Reunion     NaN      NaN
138                      Romania     NaN      NaN
139           Russian Federation     NaN      NaN
140                       Rwanda     NaN      NaN
141                      Réunion     NaN      NaN
142                        Samoa     NaN      NaN
143        Sao Tome and Principe     NaN      NaN
144                 Saudi Arabia     NaN      NaN
145                      Senegal     NaN      NaN
146                       Serbia     NaN      NaN
147                   Seychelles     NaN      NaN
148                 Sierra Leone     NaN      NaN
149                    Singapore     NaN      NaN
150                     Slovakia     NaN      NaN
151                     Slovenia     NaN      NaN
152              Solomon Islands     NaN      NaN
153                 South Africa     NaN      NaN
154                  South Sudan     NaN      NaN
156                    Sri Lanka     NaN      NaN
157       St. Helena and Depend.     NaN      NaN
158              St. Kitts-Nevis     NaN      NaN
159                    St. Lucia     NaN      NaN
160       St. Vincent-Grenadines     NaN      NaN
161           State of Palestine     NaN      NaN
162                     Suriname     NaN      NaN
163                       Sweden     NaN      NaN
165                     Thailand     NaN      NaN
166                  Timor-Leste     NaN      NaN
167                         Togo     NaN      NaN
168                        Tonga     NaN      NaN
169          Trinidad and Tobago     NaN      NaN
170                      Tunisia     NaN      NaN
171                       Turkey     NaN      NaN
172     Turks and Caicos Islands     NaN      NaN
173                       Tuvalu     NaN      NaN
174                       Uganda     NaN      NaN
175                      Ukraine     NaN      NaN
176         United Arab Emirates     NaN      NaN
177               United Kingdom     NaN      NaN
178      United Rep. of Tanzania     NaN      NaN
180     United States Virgin Is.     NaN      NaN
181                      Uruguay     NaN      NaN
182                   Uzbekistan     NaN      NaN
183                      Vanuatu     NaN      NaN
184    Venezuela (Bolivar. Rep.)     NaN      NaN
185                     Viet Nam     NaN      NaN
186        Wallis and Futuna Is.     NaN      NaN
187                        Yemen     NaN      NaN
188                       Zambia     NaN      NaN

<ipython-input-33-47f4a7a68f91>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  solar_energy_1992['ranking'] = solar_energy_1992[1992].rank(ascending=False)-1

In [34]:
solar_energy_2018 = solar_energy[['country',2018]]
solar_energy_2018['ranking'] = solar_energy_2018[2018].rank(ascending=False)-1
solar_energy_2018 = solar_energy_2018.sort_values(by=['ranking'], ascending=True)
print(solar_energy_2018)

<ipython-input-34-55aaea0bd821>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  solar_energy_2018['ranking'] = solar_energy_2018[2018].rank(ascending=False)-1

id                       country         2018.0  ranking
189                        Total  565067.347833      0.0
35                         China  177517.000000      1.0
179                United States   85184.000000      2.0
81                         Japan   62668.000000      3.0
62                       Germany   45784.000000      4.0
74                         India   39728.000000      5.0
79                         Italy   22654.000000      6.0
177               United Kingdom   12858.000000      7.0
155                        Spain   12744.000000      8.0
57                        France   10569.000000      9.0
9                      Australia    9929.000000     10.0
86            Korea, Republic of    9208.000000     11.0
171                       Turkey    7800.000000     12.0
34                         Chile    5217.000000     13.0
165                     Thailand    4537.000000     14.0
153                 South Africa    4241.000000     15.0
16                       Belgium    3902.000000     16.0
32                        Canada    3796.000000     17.0
64                        Greece    3791.000000     18.0
116                  Netherlands    3693.000000     19.0
23                        Brazil    3461.000000     20.0
126                   Other Asia    2739.000000     21.0
44                       Czechia    2359.000000     22.0
164                  Switzerland    1944.000000     23.0
107                       Mexico    1856.000000     24.0
138                      Romania    1771.000000     25.0
78                        Israel    1574.000000     26.0
10                       Austria    1438.000000     27.0
26                      Bulgaria    1343.000000     28.0
176         United Arab Emirates    1303.100000     29.0
132                  Philippines    1249.100000     30.0
175                      Ukraine    1107.000000     31.0
134                     Portugal    1006.000000     32.0
72                      Honduras     993.000000     33.0
46                       Denmark     953.000000     34.0
110                      Morocco     950.000000     35.0
82                        Jordan     836.200000     36.0
131                         Peru     797.000000     37.0
139           Russian Federation     719.945000     38.0
127                     Pakistan     714.000000     39.0
98                      Malaysia     632.000000     40.0
73                       Hungary     620.000000     41.0
150                     Slovakia     585.000000     42.0
49                         Egypt     537.000000     43.0
187                        Yemen     458.000000     44.0
181                      Uruguay     413.500000     45.0
163                       Sweden     407.000000     46.0
77                          Iraq     377.000000     47.0
133                       Poland     300.000000     48.0
13                    Bangladesh     291.300000     49.0
50                   El Salvador     289.300000     50.0
76        Iran (Islamic Rep. of)     286.000000     51.0
151                     Slovenia     255.000000     52.0
129                       Panama     232.600000     53.0
47            Dominican Republic     230.440000     54.0
68                     Guatemala     208.310000     55.0
43                        Cyprus     200.000000     56.0
101                        Malta     190.000000     57.0
156                    Sri Lanka     186.296000     58.0
113                      Namibia     180.000000     59.0
170                      Tunisia     174.000000     60.0
149                    Singapore     169.000000     61.0
104                   Mauritania     144.000000     62.0
19      Bolivia (Plur. State of)     127.000000     63.0
41                          Cuba     124.300000     64.0
96                    Luxembourg     120.000000     65.0
15                       Belarus     118.000000     66.0
83                    Kazakhstan     116.000000     67.0
7                      Argentina     108.000000     68.0
118                  New Zealand      99.000000     69.0
56                       Finland      90.000000     70.0
178      United Rep. of Tanzania      88.000000     71.0
95                     Lithuania      87.000000     72.0
135                  Puerto Rico      81.000000     73.0
145                      Senegal      80.000000     74.0
40                       Croatia      75.000000     75.0
1                        Algeria      62.000000     76.0
161           State of Palestine      60.000000     77.0
39                    Costa Rica      55.338300     78.0
27                  Burkina Faso      54.100000     79.0
67                          Guam      51.600000     80.0
105                    Mauritius      49.300000     81.0
91                       Lebanon      48.000000     82.0
117                New Caledonia      46.700000     83.0
80                       Jamaica      46.000000     84.0
14                      Barbados      44.090000     85.0
51                       Eritrea      43.000000     86.0
11                    Azerbaijan      39.300000     87.0
48                       Ecuador      38.080000     88.0
59              French Polynesia      37.000000     89.0
63                         Ghana      32.800000     90.0
120                        Niger      32.700000     91.0
174                       Uganda      32.200000     92.0
52                       Estonia      31.000000     93.0
121                      Nigeria      28.000000     94.0
45        Dem. Rep. of the Congo      26.680000     95.0
94                 Liechtenstein      25.200000     96.0
119                    Nicaragua      24.000000     97.0
185                     Viet Nam      23.000000     98.0
123              North Macedonia      22.788000     99.0
180     United States Virgin Is.      21.240000    100.0
142                        Samoa      21.117000    101.0
21        Bosnia and Herzegovina      21.000000    102.5
36                      Colombia      21.000000    102.5
54                      Ethiopia      20.000000    104.0
8                        Armenia      19.463000    105.0
42                       Curaçao      19.000000    106.5
31                      Cameroon      19.000000    106.5
140                       Rwanda      18.100000    108.0
4                         Angola      18.000000    109.0
30                      Cambodia      16.000000    110.0
85         Korea, Dem.Ppl's.Rep.      15.000000    111.0
99                      Maldives      14.000000    112.0
146                       Serbia      13.000000    113.5
6            Antigua and Barbuda      13.000000    113.5
89        Lao People's Dem. Rep.      11.500000    115.0
70                        Guyana      11.120000    116.0
38                  Cook Islands      10.500000    117.0
29                    Cabo Verde      10.400000    118.0
112                      Myanmar      10.000000    119.0
55                          Fiji       9.500000    120.0
12                       Bahrain       9.000000    121.0
93                         Libya       8.000000    122.0
28                       Burundi       7.930000    123.0
69                 Guinea-Bissau       6.920000    124.0
75                     Indonesia       6.600000    125.0
184    Venezuela (Bolivar. Rep.)       6.000000    126.0
148                 Sierra Leone       5.800000    127.0
183                      Vanuatu       5.300000    128.0
159                    St. Lucia       5.000000    131.0
20   Bonaire, St Eustatius, Saba       5.000000    131.0
169          Trinidad and Tobago       5.000000    131.0
17                         Benin       5.000000    131.0
22                      Botswana       5.000000    131.0
84                      Kiribati       4.900000    134.0
2                 American Samoa       4.832000    135.0
162                     Suriname       4.400000    136.0
168                        Tonga       4.147000    137.0
92                       Liberia       4.000000    139.0
88                        Kuwait       4.000000    139.0
125                         Oman       4.000000    139.0
61                        Gambia       3.500000    141.5
147                   Seychelles       3.500000    141.5
167                         Togo       3.000000    144.0
154                  South Sudan       3.000000    144.0
158              St. Kitts-Nevis       3.000000    144.0
100                         Mali       2.900000    146.0
152              Solomon Islands       2.895000    147.0
108  Micronesia (Fed. States of)       2.700000    148.0
109                   Montenegro       2.300000    149.0
173                       Tuvalu       2.048200    150.0
25             Brunei Darussalam       2.000000    153.5
111                   Mozambique       2.000000    153.5
87                        Kosovo       2.000000    153.5
102             Marshall Islands       2.000000    153.5
60                         Gabon       2.000000    153.5
124                       Norway       2.000000    153.5
160       St. Vincent-Grenadines       1.964000    157.0
157       St. Helena and Depend.       1.654000    158.0
130             Papua New Guinea       1.390000    159.0
114                        Nauru       1.180000    160.0
90                        Latvia       1.000000    163.5
71                         Haiti       1.000000    163.5
144                 Saudi Arabia       1.000000    163.5
37                         Congo       1.000000    163.5
136          Republic of Moldova       1.000000    163.5
115                        Nepal       1.000000    163.5
166                  Timor-Leste       0.936000    167.0
188                       Zambia       0.930000    168.0
3                        Andorra       0.900000    169.0
18                        Bhutan       0.662000    170.0
122                         Niue       0.469000    171.0
33          Central African Rep.       0.430000    172.0
143        Sao Tome and Principe       0.400000    173.0
24        British Virgin Islands       0.300000    174.5
5                       Anguilla       0.300000    174.5
128                        Palau       0.250000    176.0
182                   Uzbekistan       0.200000    177.0
186        Wallis and Futuna Is.       0.160000    178.0
97                    Madagascar       0.120000    179.0
53                      Eswatini       0.115000    180.0
65                       Grenada       0.108333    181.0
0                    Afghanistan            NaN      NaN
58                 French Guiana            NaN      NaN
66                    Guadeloupe            NaN      NaN
103                   Martinique            NaN      NaN
106                      Mayotte            NaN      NaN
137                      Reunion            NaN      NaN
141                      Réunion            NaN      NaN
172     Turks and Caicos Islands            NaN      NaN

## Wind

In [35]:
wind_energy = pd.read_csv('UNdata_wind_electricity.csv')
wind_energy = wind_energy.drop(['Commodity - Transaction','Unit','Quantity Footnotes'], axis=1)
wind_energy.rename(columns={'Country or Area':'country', 'Year':'id', 'Quantity':'quantity'}, inplace=True)

In [36]:
wind_energy.head()

     country      id  quantity
0    Algeria  2018.0      84.0
1    Algeria  2017.0      68.0
2    Algeria  2016.0      19.0
3    Algeria  2015.0      19.0
4  Argentina  2019.0    4996.0

In [37]:
wind_energy['country'].unique()

array(['Algeria', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium',
       'Bhutan', 'Bolivia (Plur. State of)',
       'Bonaire, St Eustatius, Saba', 'Bosnia and Herzegovina', 'Brazil',
       'British Virgin Islands', 'Bulgaria', 'Cabo Verde', 'Canada',
       'Chile', 'China', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba',
       'Curaçao', 'Cyprus', 'Czechia', 'Denmark', 'Dominican Republic',
       'Ecuador', 'Egypt', 'Eritrea', 'Estonia', 'Ethiopia',
       'Faeroe Islands', 'Falkland Is. (Malvinas)', 'Fiji', 'Finland',
       'France', 'French Polynesia', 'Gambia', 'Georgia', 'Germany',
       'Germany, Fed. R. (former)', 'Greece', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guyana', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran (Islamic Rep. of)', 'Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea, Republic of', 'Kosovo', 'Latvia', 'Lithuania',
       'Luxembourg', 'Maldives', 'Malta', 'Martinique', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia (Fed. States of)', 'Montenegro',
       'Morocco', 'Namibia', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'North Macedonia', 'Norway',
       'Other Asia', 'Pakistan', 'Panama', 'Papua New Guinea', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Republic of Moldova', 'Reunion', 'Réunion', 'Romania',
       'Russian Federation', 'Samoa', 'Saudi Arabia', 'Serbia',
       'Seychelles', 'Slovakia', 'Slovenia', 'South Africa', 'Spain',
       'Sri Lanka', 'St. Helena and Depend.', 'St. Kitts-Nevis',
       'St. Pierre-Miquelon', 'Sweden', 'Switzerland', 'Thailand',
       'Tonga', 'Tunisia', 'Turkey', 'Ukraine', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivar. Rep.)', 'Viet Nam', 'fnSeqID', '1'],
      dtype=object)

In [38]:
wind_energy.loc[wind_energy['country'] == 'fnSeqID']

      country  id  quantity
1953  fnSeqID NaN       NaN

In [39]:
wind_energy.loc[wind_energy['country'] == '1']

     country  id  quantity
1954       1 NaN       NaN

In [40]:
wind_energy = wind_energy.drop([1953, 1954])
wind_energy['country'].unique()

array(['Algeria', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium',
       'Bhutan', 'Bolivia (Plur. State of)',
       'Bonaire, St Eustatius, Saba', 'Bosnia and Herzegovina', 'Brazil',
       'British Virgin Islands', 'Bulgaria', 'Cabo Verde', 'Canada',
       'Chile', 'China', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba',
       'Curaçao', 'Cyprus', 'Czechia', 'Denmark', 'Dominican Republic',
       'Ecuador', 'Egypt', 'Eritrea', 'Estonia', 'Ethiopia',
       'Faeroe Islands', 'Falkland Is. (Malvinas)', 'Fiji', 'Finland',
       'France', 'French Polynesia', 'Gambia', 'Georgia', 'Germany',
       'Germany, Fed. R. (former)', 'Greece', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guyana', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran (Islamic Rep. of)', 'Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea, Republic of', 'Kosovo', 'Latvia', 'Lithuania',
       'Luxembourg', 'Maldives', 'Malta', 'Martinique', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia (Fed. States of)', 'Montenegro',
       'Morocco', 'Namibia', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'North Macedonia', 'Norway',
       'Other Asia', 'Pakistan', 'Panama', 'Papua New Guinea', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Republic of Moldova', 'Reunion', 'Réunion', 'Romania',
       'Russian Federation', 'Samoa', 'Saudi Arabia', 'Serbia',
       'Seychelles', 'Slovakia', 'Slovenia', 'South Africa', 'Spain',
       'Sri Lanka', 'St. Helena and Depend.', 'St. Kitts-Nevis',
       'St. Pierre-Miquelon', 'Sweden', 'Switzerland', 'Thailand',
       'Tonga', 'Tunisia', 'Turkey', 'Ukraine', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivar. Rep.)', 'Viet Nam'], dtype=object)

In [41]:
wind_energy = pd.crosstab(index=wind_energy['country'], columns=wind_energy['id'], values=wind_energy['quantity'], aggfunc='sum')
wind_energy.loc['Total'] = wind_energy.sum()
wind_energy = wind_energy.reset_index()
wind_energy.head()

id,country,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,19.0,19.0,68.0,84.000,NaN
1,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,10.0,15.0,33.0,...,25.0,26.0,369.0,461.0,619.0,599.0,547.0,612.0,1413.000,4996.0
2,Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,6.0,4.0,4.0,4.0,3.0,2.0,2.1,1.881,NaN
3,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,106.5,112.6,136.4,138.4,138.4,138.4,144.9,143.8,174.900,164.9
4,Australia,NaN,NaN,NaN,NaN,4.0,7.0,7.0,7.0,8.0,...,5052.0,6085.0,6970.0,7960.0,10252.0,11467.0,12199.0,12597.0,15164.000,NaN

In [42]:
wind_energy_1992 = wind_energy[['country',1992]]
wind_energy_1992['ranking'] = wind_energy_1992[1992].rank(ascending=False)-1
wind_energy_1992 = wind_energy_1992.sort_values(by=['ranking'], ascending=True)
print(wind_energy_1992)

id                       country  1992.0  ranking
127                        Total  4588.0      0.0
121                United States  2917.0      1.0
29                       Denmark   915.0      2.0
44                       Germany   291.0      3.0
81                   Netherlands   147.0      4.0
108                        Spain   103.0      5.0
19                        Canada    59.0      6.0
54                         India    52.0      7.0
120               United Kingdom    40.0      8.0
113                       Sweden    31.0      9.0
10                       Belgium     9.0     10.0
46                        Greece     8.0     11.0
57                       Ireland     5.0     12.0
94                      Portugal     4.0     13.0
59                         Italy     2.0     14.5
39                       Finland     2.0     14.5
83                   New Zealand     1.0     17.0
75                        Mexico     1.0     17.0
61                         Japan     1.0     17.0
0                        Algeria     NaN      NaN
1                      Argentina     NaN      NaN
2                        Armenia     NaN      NaN
3                          Aruba     NaN      NaN
4                      Australia     NaN      NaN
5                        Austria     NaN      NaN
6                     Azerbaijan     NaN      NaN
7                        Bahrain     NaN      NaN
8                     Bangladesh     NaN      NaN
9                        Belarus     NaN      NaN
11                        Bhutan     NaN      NaN
12      Bolivia (Plur. State of)     NaN      NaN
13   Bonaire, St Eustatius, Saba     NaN      NaN
14        Bosnia and Herzegovina     NaN      NaN
15                        Brazil     NaN      NaN
16        British Virgin Islands     NaN      NaN
17                      Bulgaria     NaN      NaN
18                    Cabo Verde     NaN      NaN
20                         Chile     NaN      NaN
21                         China     NaN      NaN
22                      Colombia     NaN      NaN
23                    Costa Rica     NaN      NaN
24                       Croatia     NaN      NaN
25                          Cuba     NaN      NaN
26                       Curaçao     NaN      NaN
27                        Cyprus     NaN      NaN
28                       Czechia     NaN      NaN
30            Dominican Republic     NaN      NaN
31                       Ecuador     NaN      NaN
32                         Egypt     NaN      NaN
33                       Eritrea     NaN      NaN
34                       Estonia     NaN      NaN
35                      Ethiopia     NaN      NaN
36                Faeroe Islands     NaN      NaN
37       Falkland Is. (Malvinas)     NaN      NaN
38                          Fiji     NaN      NaN
40                        France     NaN      NaN
41              French Polynesia     NaN      NaN
42                        Gambia     NaN      NaN
43                       Georgia     NaN      NaN
45     Germany, Fed. R. (former)     NaN      NaN
47                    Guadeloupe     NaN      NaN
48                          Guam     NaN      NaN
49                     Guatemala     NaN      NaN
50                        Guyana     NaN      NaN
51                      Honduras     NaN      NaN
52                       Hungary     NaN      NaN
53                       Iceland     NaN      NaN
55                     Indonesia     NaN      NaN
56        Iran (Islamic Rep. of)     NaN      NaN
58                        Israel     NaN      NaN
60                       Jamaica     NaN      NaN
62                        Jordan     NaN      NaN
63                    Kazakhstan     NaN      NaN
64                         Kenya     NaN      NaN
65            Korea, Republic of     NaN      NaN
66                        Kosovo     NaN      NaN
67                        Latvia     NaN      NaN
68                     Lithuania     NaN      NaN
69                    Luxembourg     NaN      NaN
70                      Maldives     NaN      NaN
71                         Malta     NaN      NaN
72                    Martinique     NaN      NaN
73                    Mauritania     NaN      NaN
74                     Mauritius     NaN      NaN
76   Micronesia (Fed. States of)     NaN      NaN
77                    Montenegro     NaN      NaN
78                       Morocco     NaN      NaN
79                       Namibia     NaN      NaN
80                         Nepal     NaN      NaN
82                 New Caledonia     NaN      NaN
84                     Nicaragua     NaN      NaN
85               North Macedonia     NaN      NaN
86                        Norway     NaN      NaN
87                    Other Asia     NaN      NaN
88                      Pakistan     NaN      NaN
89                        Panama     NaN      NaN
90              Papua New Guinea     NaN      NaN
91                          Peru     NaN      NaN
92                   Philippines     NaN      NaN
93                        Poland     NaN      NaN
95                   Puerto Rico     NaN      NaN
96           Republic of Moldova     NaN      NaN
97                       Reunion     NaN      NaN
98                       Romania     NaN      NaN
99            Russian Federation     NaN      NaN
100                      Réunion     NaN      NaN
101                        Samoa     NaN      NaN
102                 Saudi Arabia     NaN      NaN
103                       Serbia     NaN      NaN
104                   Seychelles     NaN      NaN
105                     Slovakia     NaN      NaN
106                     Slovenia     NaN      NaN
107                 South Africa     NaN      NaN
109                    Sri Lanka     NaN      NaN
110       St. Helena and Depend.     NaN      NaN
111              St. Kitts-Nevis     NaN      NaN
112          St. Pierre-Miquelon     NaN      NaN
114                  Switzerland     NaN      NaN
115                     Thailand     NaN      NaN
116                        Tonga     NaN      NaN
117                      Tunisia     NaN      NaN
118                       Turkey     NaN      NaN
119                      Ukraine     NaN      NaN
122                      Uruguay     NaN      NaN
123                   Uzbekistan     NaN      NaN
124                      Vanuatu     NaN      NaN
125    Venezuela (Bolivar. Rep.)     NaN      NaN
126                     Viet Nam     NaN      NaN

<ipython-input-42-f073b711a945>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wind_energy_1992['ranking'] = wind_energy_1992[1992].rank(ascending=False)-1

In [43]:
wind_energy_2018 = wind_energy[['country',2018]]
wind_energy_2018['ranking'] = wind_energy_2018[2018].rank(ascending=False)-1
wind_energy_2018 = wind_energy_2018.sort_values(by=['ranking'], ascending=True)
print(wind_energy_2018)

<ipython-input-43-4e3f2fcd3952>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wind_energy_2018['ranking'] = wind_energy_2018[2018].rank(ascending=False)-1

id                       country        2018.0  ranking
127                        Total  1.272283e+06      0.0
21                         China  3.659710e+05      1.0
121                United States  2.758340e+05      2.0
44                       Germany  1.099510e+05      3.0
54                         India  6.429400e+04      4.0
120               United Kingdom  5.690400e+04      5.0
108                        Spain  5.089600e+04      6.0
15                        Brazil  4.847500e+04      7.0
19                        Canada  3.318300e+04      8.0
40                        France  2.860000e+04      9.0
118                       Turkey  1.994900e+04     10.0
59                         Italy  1.771600e+04     11.0
113                       Sweden  1.662300e+04     12.0
4                      Australia  1.516400e+04     13.0
29                       Denmark  1.389900e+04     14.0
75                        Mexico  1.287500e+04     15.0
93                        Poland  1.279900e+04     16.0
94                      Portugal  1.261600e+04     17.0
81                   Netherlands  1.056300e+04     18.0
57                       Ireland  8.640000e+03     19.0
61                         Japan  7.481000e+03     20.0
10                       Belgium  7.465000e+03     21.0
107                 South Africa  6.467000e+03     22.0
98                       Romania  6.322000e+03     23.0
46                        Greece  6.300000e+03     24.0
5                        Austria  6.030000e+03     25.0
39                       Finland  5.839000e+03     26.0
122                      Uruguay  4.732200e+03     27.0
86                        Norway  3.876000e+03     28.0
78                       Morocco  3.841000e+03     29.0
20                         Chile  3.588000e+03     30.0
65            Korea, Republic of  2.465000e+03     31.0
32                         Egypt  2.234000e+03     32.0
88                      Pakistan  2.124000e+03     33.0
83                   New Zealand  2.068000e+03     34.0
23                    Costa Rica  1.798875e+03     35.0
87                    Other Asia  1.686000e+03     36.0
115                     Thailand  1.641000e+03     37.0
91                          Peru  1.502000e+03     38.0
1                      Argentina  1.413000e+03     39.0
24                       Croatia  1.335000e+03     40.0
17                      Bulgaria  1.318000e+03     41.0
119                      Ukraine  1.188000e+03     42.0
92                   Philippines  1.152900e+03     43.0
68                     Lithuania  1.144000e+03     44.0
51                      Honduras  9.290000e+02     45.0
84                     Nicaragua  8.010000e+02     46.0
62                        Jordan  7.070000e+02     47.0
34                       Estonia  6.360000e+02     48.0
28                       Czechia  6.090000e+02     49.0
52                       Hungary  6.070000e+02     50.0
89                        Panama  5.879000e+02     51.0
56        Iran (Islamic Rep. of)  5.850000e+02     52.0
35                      Ethiopia  5.330000e+02     53.0
30            Dominican Republic  4.974800e+02     54.0
117                      Tunisia  4.530000e+02     55.0
63                    Kazakhstan  4.270000e+02     56.0
64                         Kenya  3.760000e+02     57.0
109                    Sri Lanka  3.263330e+02     58.0
49                     Guatemala  3.195000e+02     59.0
126                     Viet Nam  3.170000e+02     60.0
60                       Jamaica  3.020000e+02     61.0
69                    Luxembourg  2.550000e+02     62.0
26                       Curaçao  2.340000e+02     63.0
99            Russian Federation  2.318830e+02     64.0
27                        Cyprus  2.214300e+02     65.0
58                        Israel  1.830000e+02     66.0
3                          Aruba  1.749000e+02     67.0
103                       Serbia  1.500000e+02     68.0
77                    Montenegro  1.410000e+02     69.0
114                  Switzerland  1.220000e+02     70.5
67                        Latvia  1.220000e+02     70.5
95                   Puerto Rico  1.080000e+02     72.0
73                    Mauritania  1.040000e+02     73.0
14        Bosnia and Herzegovina  1.030000e+02     74.0
9                        Belarus  9.900000e+01     75.0
85               North Macedonia  9.733800e+01     76.0
18                    Cabo Verde  9.300000e+01     77.0
43                       Georgia  8.430000e+01     78.0
0                        Algeria  8.400000e+01     79.0
6                     Azerbaijan  8.270002e+01     80.0
31                       Ecuador  8.026000e+01     81.0
125    Venezuela (Bolivar. Rep.)  7.100000e+01     82.0
36                Faeroe Islands  6.380000e+01     83.0
12      Bolivia (Plur. State of)  5.900000e+01     84.0
82                 New Caledonia  4.500000e+01     85.0
25                          Cuba  4.350000e+01     86.0
22                      Colombia  4.300000e+01     87.5
13   Bonaire, St Eustatius, Saba  4.300000e+01     87.5
66                        Kosovo  3.000000e+01     89.0
96           Republic of Moldova  2.300000e+01     90.0
79                       Namibia  1.810000e+01     91.0
74                     Mauritius  1.510000e+01     92.0
80                         Nepal  1.400000e+01     93.0
111              St. Kitts-Nevis  8.000000e+00     94.0
104                   Seychelles  7.400000e+00     95.0
105                     Slovakia  6.000000e+00     97.0
8                     Bangladesh  6.000000e+00     97.0
106                     Slovenia  6.000000e+00     97.0
37       Falkland Is. (Malvinas)  5.412200e+00     99.0
124                      Vanuatu  4.770000e+00    100.0
53                       Iceland  4.000000e+00    101.0
102                 Saudi Arabia  3.555000e+00    102.0
38                          Fiji  2.558000e+00    103.0
110       St. Helena and Depend.  2.503000e+00    104.0
33                       Eritrea  2.000000e+00    105.5
70                      Maldives  2.000000e+00    105.5
2                        Armenia  1.881000e+00    107.0
11                        Bhutan  1.130000e+00    108.0
76   Micronesia (Fed. States of)  1.100000e+00    109.0
7                        Bahrain  1.000000e+00    110.0
16        British Virgin Islands  6.000000e-01    111.0
48                          Guam  5.000000e-01    112.0
50                        Guyana  3.500000e-01    113.0
101                        Samoa  1.340000e-01    114.0
42                        Gambia  1.000000e-01    115.0
41              French Polynesia  8.000000e-02    116.0
71                         Malta  6.000000e-02    117.0
116                        Tonga  2.200000e-02    118.0
45     Germany, Fed. R. (former)           NaN      NaN
47                    Guadeloupe           NaN      NaN
55                     Indonesia           NaN      NaN
72                    Martinique           NaN      NaN
90              Papua New Guinea           NaN      NaN
97                       Reunion           NaN      NaN
100                      Réunion           NaN      NaN
112          St. Pierre-Miquelon           NaN      NaN
123                   Uzbekistan           NaN      NaN

## Hydro

In [44]:
hydro_energy = pd.read_csv('UNdata_hydro_electricity.csv')
hydro_energy = hydro_energy.drop(['Commodity - Transaction','Unit','Quantity Footnotes'], axis=1)
hydro_energy.rename(columns={'Country or Area':'country', 'Year':'id', 'Quantity':'quantity'}, inplace=True)

In [45]:
hydro_energy.head()

       country      id  quantity
0  Afghanistan  2019.0   1388.04
1  Afghanistan  2018.0   1065.79
2  Afghanistan  2017.0   1243.78
3  Afghanistan  2016.0   1239.20
4  Afghanistan  2015.0   1189.50

In [46]:
hydro_energy['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plur. State of)', 'Bosnia and Herzegovina', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Rep.', 'Chile', 'China', 'Colombia',
       'Congo', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba',
       'Czechia', 'Czechoslovakia (former)', 'Dem. Rep. of the Congo',
       'Denmark', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Estonia', 'Eswatini',
       'Ethiopia', 'Ethiopia, incl. Eritrea', 'Faeroe Islands', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Georgia', 'German Dem. R. (former)', 'Germany',
       'Germany, Fed. R. (former)', 'Ghana', 'Greece', 'Greenland',
       'Guadeloupe', 'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Rep. of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', "Korea, Dem.Ppl's.Rep.", 'Korea, Republic of', 'Kosovo',
       'Kyrgyzstan', "Lao People's Dem. Rep.", 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Martinique',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (Fed. States of)',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Nigeria', 'North Macedonia', 'Norway', 'Other Asia',
       'Pacific Islands (former)', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Republic of Moldova', 'Reunion',
       'Réunion', 'Romania', 'Russian Federation', 'Rwanda', 'Samoa',
       'Sao Tome and Principe', 'Serbia', 'Serbia and Montenegro',
       'Sierra Leone', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'South Africa', 'Spain', 'Sri Lanka', 'St. Vincent-Grenadines',
       'Sudan', 'Sudan (former)', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Kingdom', 'United Rep. of Tanzania', 'United States',
       'Uruguay', 'USSR (former)', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivar. Rep.)', 'Viet Nam', 'Wallis and Futuna Is.',
       'Yugoslavia, SFR (former)', 'Zambia', 'Zimbabwe', 'fnSeqID', '1'],
      dtype=object)

In [47]:
hydro_energy.loc[hydro_energy['country'] == 'fnSeqID']

      country  id  quantity
4556  fnSeqID NaN       NaN

In [48]:
hydro_energy.loc[hydro_energy['country'] == '1']

     country  id  quantity
4557       1 NaN       NaN

In [49]:
hydro_energy = hydro_energy.drop([4556, 4557])
hydro_energy['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plur. State of)', 'Bosnia and Herzegovina', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Rep.', 'Chile', 'China', 'Colombia',
       'Congo', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba',
       'Czechia', 'Czechoslovakia (former)', 'Dem. Rep. of the Congo',
       'Denmark', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Estonia', 'Eswatini',
       'Ethiopia', 'Ethiopia, incl. Eritrea', 'Faeroe Islands', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Georgia', 'German Dem. R. (former)', 'Germany',
       'Germany, Fed. R. (former)', 'Ghana', 'Greece', 'Greenland',
       'Guadeloupe', 'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Rep. of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', "Korea, Dem.Ppl's.Rep.", 'Korea, Republic of', 'Kosovo',
       'Kyrgyzstan', "Lao People's Dem. Rep.", 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Martinique',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (Fed. States of)',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Nigeria', 'North Macedonia', 'Norway', 'Other Asia',
       'Pacific Islands (former)', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Republic of Moldova', 'Reunion',
       'Réunion', 'Romania', 'Russian Federation', 'Rwanda', 'Samoa',
       'Sao Tome and Principe', 'Serbia', 'Serbia and Montenegro',
       'Sierra Leone', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'South Africa', 'Spain', 'Sri Lanka', 'St. Vincent-Grenadines',
       'Sudan', 'Sudan (former)', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Kingdom', 'United Rep. of Tanzania', 'United States',
       'Uruguay', 'USSR (former)', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivar. Rep.)', 'Viet Nam', 'Wallis and Futuna Is.',
       'Yugoslavia, SFR (former)', 'Zambia', 'Zimbabwe'], dtype=object)

In [50]:
hydro_energy = pd.crosstab(index=hydro_energy['country'], columns=hydro_energy['id'], values=hydro_energy['quantity'], aggfunc='sum')
hydro_energy.loc['Total'] = hydro_energy.sum()
hydro_energy = hydro_energy.reset_index()
hydro_energy.head()

id,country,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Afghanistan,764.0,690.0,478.0,475.0,472.0,466.0,475.0,485.0,495.0,...,767.0,829.0,878.0,803.9,1197.00,1189.5,1239.20,1243.780,1065.79,1388.04
1,Albania,2801.0,3567.0,3219.0,3314.0,3771.0,4204.0,5726.0,5028.0,4921.0,...,7743.3,4158.0,4725.0,6956.0,4724.43,5895.0,7135.90,4526.179,8552.15,5183.85
2,Algeria,135.0,293.0,199.0,353.0,166.0,193.0,130.0,75.0,100.0,...,174.0,502.0,622.0,330.0,254.00,145.0,145.00,517.000,638.00,NaN
3,Andorra,120.0,120.0,120.0,120.0,120.0,124.0,110.0,100.0,90.0,...,100.0,78.9,76.2,101.8,113.40,85.6,84.37,87.930,118.20,89.09
4,Angola,725.0,772.0,840.0,890.0,895.0,900.0,925.0,875.0,1060.0,...,3703.0,4007.0,3772.0,4767.0,5041.00,5193.0,5815.00,7653.000,8734.00,NaN

In [51]:
hydro_energy_1992 = hydro_energy[['country',1992]]
hydro_energy_1992['ranking'] = hydro_energy_1992[1992].rank(ascending=False)-1
hydro_energy_1992 = hydro_energy_1992.sort_values(by=['ranking'], ascending=True)
print(hydro_energy_1992)

id                       country        1992.0  ranking
174                        Total  2.268369e+06      0.0
24                        Canada  3.164890e+05      1.0
164                United States  2.748830e+05      2.0
18                        Brazil  2.233430e+05      3.0
131           Russian Federation  1.718430e+05      4.0
27                         China  1.324700e+05      5.0
116                       Norway  1.170620e+05      6.0
79                         Japan  9.091400e+04      7.0
149                       Sweden  7.486100e+04      8.0
51                        France  7.258400e+04      9.0
70                         India  6.988600e+04     10.0
168    Venezuela (Bolivar. Rep.)  4.706800e+04     11.0
77                         Italy  4.578600e+04     12.0
8                        Austria  3.609900e+04     13.0
150                  Switzerland  3.406200e+04     14.0
122                     Paraguay  2.711500e+04     15.0
157                       Turkey  2.656800e+04     16.0
102                       Mexico  2.617000e+04     17.0
28                      Colombia  2.232600e+04     18.0
57                       Germany  2.119500e+04     19.0
112                  New Zealand  2.109100e+04     20.0
143                        Spain  2.093400e+04     21.0
5                      Argentina  1.957100e+04     22.0
119                     Pakistan  1.864700e+04     23.0
26                         Chile  1.675000e+04     24.0
152                   Tajikistan  1.592800e+04     25.0
7                      Australia  1.576800e+04     26.0
50                       Finland  1.510700e+04     27.0
83         Korea, Dem.Ppl's.Rep.  1.420000e+04     28.0
71                     Indonesia  1.277200e+04     29.0
130                      Romania  1.170000e+04     30.0
137        Serbia and Montenegro  1.134300e+04     31.0
123                         Peru  9.784000e+03     32.0
72        Iran (Islamic Rep. of)  9.530000e+03     33.0
86                    Kyrgyzstan  9.200000e+03     34.0
41                         Egypt  8.540000e+03     35.0
117                   Other Asia  8.353000e+03     36.0
161                      Ukraine  8.090000e+03     37.0
165                      Uruguay  7.922000e+03     38.0
172                       Zambia  7.740000e+03     39.0
162               United Kingdom  7.128000e+03     40.0
169                     Viet Nam  7.093000e+03     41.0
81                    Kazakhstan  6.866000e+03     42.0
59                         Ghana  6.602000e+03     43.0
55                       Georgia  6.502000e+03     44.0
166                   Uzbekistan  6.281000e+03     45.0
114                      Nigeria  6.059000e+03     46.0
36        Dem. Rep. of the Congo  6.054000e+03     47.0
126                     Portugal  5.074000e+03     48.0
40                       Ecuador  4.974000e+03     49.0
84            Korea, Republic of  4.863000e+03     50.0
97                      Malaysia  4.357000e+03     51.0
31                       Croatia  4.349000e+03     52.0
69                       Iceland  4.310000e+03     53.0
124                  Philippines  4.267000e+03     54.0
153                     Thailand  4.239000e+03     55.0
125                       Poland  3.570000e+03     56.0
30                    Costa Rica  3.559000e+03     57.0
140                     Slovenia  3.423000e+03     58.0
17        Bosnia and Herzegovina  3.408000e+03     59.0
1                        Albania  3.219000e+03     60.0
173                     Zimbabwe  3.161000e+03     61.0
6                        Armenia  3.043000e+03     62.0
144                    Sri Lanka  2.900000e+03     63.0
82                         Kenya  2.796000e+03     64.0
23                      Cameroon  2.702000e+03     65.0
88                        Latvia  2.523000e+03     66.0
60                        Greece  2.389000e+03     67.0
139                     Slovakia  2.332000e+03     68.0
63                     Guatemala  2.113000e+03     69.5
67                      Honduras  2.113000e+03     69.5
19                      Bulgaria  2.063000e+03     71.0
120                       Panama  1.891000e+03     72.0
9                     Azerbaijan  1.747000e+03     73.0
33                       Czechia  1.638000e+03     74.0
163      United Rep. of Tanzania  1.605000e+03     75.0
15                        Bhutan  1.563000e+03     76.0
107                      Myanmar  1.518000e+03     77.0
151         Syrian Arab Republic  1.502000e+03     78.0
42                   El Salvador  1.416000e+03     79.0
16      Bolivia (Plur. State of)  1.318000e+03     80.0
148                     Suriname  1.161600e+03     81.0
12                       Belgium  1.156000e+03     82.0
47       Ethiopia, incl. Eritrea  1.152000e+03     83.0
108                      Namibia  1.149000e+03     84.0
74                       Ireland  1.050000e+03     85.0
35                 Côte d'Ivoire  1.048000e+03     86.0
105                      Morocco  9.640000e+02     87.0
147               Sudan (former)  9.400000e+02     88.0
109                        Nepal  8.950000e+02     89.0
160                       Uganda  8.900000e+02     90.0
115              North Macedonia  8.480000e+02     91.0
4                         Angola  8.400000e+02     92.0
10                    Bangladesh  7.960000e+02     93.0
96                        Malawi  7.770000e+02     94.0
142                 South Africa  7.720000e+02     95.0
87        Lao People's Dem. Rep.  7.518122e+02     96.0
54                         Gabon  7.120000e+02     97.0
73                          Iraq  7.000000e+02     98.0
94                    Luxembourg  6.080000e+02     99.0
89                       Lebanon  5.500000e+02    100.0
39            Dominican Republic  5.330000e+02    101.0
129                      Reunion  4.950000e+02    102.5
133                      Réunion  4.950000e+02    102.5
0                    Afghanistan  4.780000e+02    104.0
93                     Lithuania  4.700000e+02    105.0
121             Papua New Guinea  4.600000e+02    106.0
29                         Congo  4.250000e+02    107.0
49                          Fiji  3.850000e+02    108.0
95                    Madagascar  3.352674e+02    109.0
106                   Mozambique  3.250000e+02    110.0
66                         Haiti  3.210000e+02    111.0
127                  Puerto Rico  3.000000e+02    112.0
111                New Caledonia  2.720000e+02    113.0
113                    Nicaragua  2.650000e+02    114.0
128          Republic of Moldova  2.580000e+02    115.0
98                          Mali  2.100000e+02    116.0
45                      Eswatini  2.040000e+02    117.0
2                        Algeria  1.990000e+02    118.0
64                        Guinea  1.800000e+02    119.0
132                       Rwanda  1.720000e+02    120.0
68                       Hungary  1.580000e+02    121.0
155                         Togo  1.280000e+02    122.0
110                  Netherlands  1.200000e+02    123.5
3                        Andorra  1.200000e+02    123.5
101                    Mauritius  1.130000e+02    125.0
78                       Jamaica  1.090000e+02    126.0
21                       Burundi  1.050000e+02    127.0
32                          Cuba  1.010000e+02    128.0
53              French Polynesia  9.100000e+01    129.0
48                Faeroe Islands  8.400000e+01    130.0
25          Central African Rep.  7.800000e+01    131.0
156                      Tunisia  6.500000e+01    132.0
92                 Liechtenstein  6.171600e+01    133.0
22                      Cambodia  4.700000e+01    134.0
134                        Samoa  3.500000e+01    135.0
76                        Israel  2.900000e+01    136.0
37                       Denmark  2.800000e+01    137.0
100                   Mauritania  2.600000e+01    138.0
145       St. Vincent-Grenadines  2.000000e+01    139.5
20                  Burkina Faso  2.000000e+01    139.5
11                       Belarus  1.700000e+01    141.0
38                      Dominica  1.600000e+01    142.0
80                        Jordan  1.500000e+01    143.0
135        Sao Tome and Principe  7.000000e+00    144.0
43             Equatorial Guinea  4.000000e+00    145.5
158                 Turkmenistan  4.000000e+00    145.5
44                       Estonia  1.000000e+00    147.0
13                        Belize           NaN      NaN
14                         Benin           NaN      NaN
34       Czechoslovakia (former)           NaN      NaN
46                      Ethiopia           NaN      NaN
52                 French Guiana           NaN      NaN
56       German Dem. R. (former)           NaN      NaN
58     Germany, Fed. R. (former)           NaN      NaN
61                     Greenland           NaN      NaN
62                    Guadeloupe           NaN      NaN
65                        Guyana           NaN      NaN
75                   Isle of Man           NaN      NaN
85                        Kosovo           NaN      NaN
90                       Lesotho           NaN      NaN
91                       Liberia           NaN      NaN
99                    Martinique           NaN      NaN
103  Micronesia (Fed. States of)           NaN      NaN
104                   Montenegro           NaN      NaN
118     Pacific Islands (former)           NaN      NaN
136                       Serbia           NaN      NaN
138                 Sierra Leone           NaN      NaN
141              Solomon Islands           NaN      NaN
146                        Sudan           NaN      NaN
154                  Timor-Leste           NaN      NaN
159                USSR (former)           NaN      NaN
167                      Vanuatu           NaN      NaN
170        Wallis and Futuna Is.           NaN      NaN
171     Yugoslavia, SFR (former)           NaN      NaN

<ipython-input-51-f57ea3044b5f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hydro_energy_1992['ranking'] = hydro_energy_1992[1992].rank(ascending=False)-1

In [52]:
hydro_energy_2018 = hydro_energy[['country',2018]]
hydro_energy_2018['ranking'] = hydro_energy_2018[2018].rank(ascending=False)-1
hydro_energy_2018 = hydro_energy_2018.sort_values(by=['ranking'], ascending=True)
print(hydro_energy_2018)

id                       country        2018.0  ranking
174                        Total  4.305553e+06      0.0
27                         China  1.231787e+06      1.0
18                        Brazil  3.889710e+05      2.0
24                        Canada  3.859510e+05      3.0
164                United States  3.170040e+05      4.0
131           Russian Federation  1.930273e+05      5.0
116                       Norway  1.395090e+05      6.0
70                         India  1.349910e+05      7.0
79                         Japan  8.834800e+04      8.0
169                     Viet Nam  8.420500e+04      9.0
51                        France  7.059000e+04     10.0
149                       Sweden  6.225000e+04     11.0
157                       Turkey  5.993800e+04     12.0
28                      Colombia  5.993300e+04     13.0
122                     Paraguay  5.921090e+04     14.0
168    Venezuela (Bolivar. Rep.)  5.815000e+04     15.0
77                         Italy  5.050300e+04     16.0
5                      Argentina  4.143000e+04     17.0
8                        Austria  4.121600e+04     18.0
150                  Switzerland  3.780300e+04     19.0
143                        Spain  3.680300e+04     20.0
102                       Mexico  3.263600e+04     21.0
123                         Peru  3.073700e+04     22.0
119                     Pakistan  2.772900e+04     23.0
97                      Malaysia  2.632500e+04     24.0
112                  New Zealand  2.628700e+04     25.0
57                       Germany  2.414300e+04     26.0
26                         Chile  2.336700e+04     27.0
87        Lao People's Dem. Rep.  2.184370e+04     28.0
40                       Ecuador  2.067800e+04     29.0
71                     Indonesia  1.977400e+04     30.0
152                   Tajikistan  1.839440e+04     31.0
130                      Romania  1.809700e+04     32.0
7                      Australia  1.602100e+04     33.0
72        Iran (Islamic Rep. of)  1.505100e+04     34.0
107                      Myanmar  1.482600e+04     35.0
86                    Kyrgyzstan  1.431800e+04     36.0
106                   Mozambique  1.392100e+04     37.0
69                       Iceland  1.381400e+04     38.0
126                     Portugal  1.362900e+04     39.0
50                       Finland  1.330100e+04     40.0
46                      Ethiopia  1.301800e+04     41.0
83         Korea, Dem.Ppl's.Rep.  1.280000e+04     42.0
41                         Egypt  1.272600e+04     43.0
172                       Zambia  1.266600e+04     44.0
161                      Ukraine  1.200700e+04     45.0
136                       Serbia  1.139300e+04     46.0
36        Dem. Rep. of the Congo  1.106400e+04     47.0
81                    Kazakhstan  1.033000e+04     48.0
55                       Georgia  9.949400e+03     49.0
146                        Sudan  9.657000e+03     50.0
124                  Philippines  9.400800e+03     51.0
4                         Angola  8.734000e+03     52.0
1                        Albania  8.552150e+03     53.0
30                    Costa Rica  8.342897e+03     54.0
162               United Kingdom  7.988000e+03     55.0
120                       Panama  7.857800e+03     56.0
117                   Other Asia  7.839000e+03     57.0
31                       Croatia  7.785000e+03     58.0
153                     Thailand  7.565000e+03     59.0
84            Korea, Republic of  7.270000e+03     60.0
15                        Bhutan  6.958640e+03     61.0
165                      Uruguay  6.556600e+03     62.0
17        Bosnia and Herzegovina  6.519000e+03     63.0
114                      Nigeria  6.458000e+03     64.0
144                    Sri Lanka  6.400734e+03     65.0
59                         Ghana  6.017000e+03     66.0
166                   Uzbekistan  5.897319e+03     67.0
60                        Greece  5.760000e+03     68.0
142                 South Africa  5.694000e+03     69.0
19                      Bulgaria  5.423000e+03     70.0
63                     Guatemala  5.218465e+03     71.0
173                     Zimbabwe  5.049000e+03     72.0
23                      Cameroon  5.023000e+03     73.0
109                        Nepal  4.898000e+03     74.0
140                     Slovenia  4.893000e+03     75.0
22                      Cambodia  4.737000e+03     76.0
82                         Kenya  3.986000e+03     77.0
139                     Slovakia  3.879000e+03     78.0
160                       Uganda  3.601900e+03     79.0
67                      Honduras  3.262000e+03     80.0
35                 Côte d'Ivoire  2.962000e+03     81.0
33                       Czechia  2.679000e+03     82.0
16      Bolivia (Plur. State of)  2.613000e+03     83.0
88                        Latvia  2.432000e+03     84.0
125                       Poland  2.387000e+03     85.0
6                        Armenia  2.318175e+03     86.0
163      United Rep. of Tanzania  2.234000e+03     87.0
104                   Montenegro  2.092000e+03     88.0
96                        Malawi  2.080655e+03     89.0
105                      Morocco  1.998000e+03     90.0
73                          Iraq  1.818000e+03     91.0
115              North Macedonia  1.791366e+03     92.0
39            Dominican Republic  1.779510e+03     93.0
9                     Azerbaijan  1.768000e+03     94.0
42                   El Salvador  1.630600e+03     95.0
94                    Luxembourg  1.336000e+03     96.0
12                       Belgium  1.329000e+03     97.0
29                         Congo  1.239000e+03     98.0
64                        Guinea  1.181500e+03     99.0
108                      Namibia  1.144000e+03    100.0
98                          Mali  1.130000e+03    101.0
10                    Bangladesh  1.085800e+03    102.0
0                    Afghanistan  1.065790e+03    103.0
54                         Gabon  1.056530e+03    104.0
148                     Suriname  9.997000e+02    105.0
95                    Madagascar  9.683000e+02    106.0
93                     Lithuania  9.600000e+02    107.0
74                       Ireland  9.320000e+02    108.0
121             Papua New Guinea  8.760000e+02    109.0
151         Syrian Arab Republic  7.540000e+02    110.0
2                        Algeria  6.380000e+02    111.0
49                          Fiji  5.667090e+02    112.0
90                       Lesotho  5.166600e+02    113.0
113                    Nicaragua  4.110000e+02    114.0
61                     Greenland  4.000000e+02    115.0
132                       Rwanda  3.501000e+02    116.0
89                       Lebanon  3.480000e+02    117.0
11                       Belarus  3.240000e+02    118.0
111                New Caledonia  3.172000e+02    119.0
85                        Kosovo  2.730000e+02    120.0
13                        Belize  2.496955e+02    121.0
68                       Hungary  2.220000e+02    122.0
45                      Eswatini  2.080000e+02    123.0
43             Equatorial Guinea  2.000000e+02    124.0
66                         Haiti  1.970000e+02    125.0
155                         Togo  1.962000e+02    126.0
78                       Jamaica  1.790000e+02    127.0
53              French Polynesia  1.640000e+02    128.0
25          Central African Rep.  1.460000e+02    129.0
32                          Cuba  1.455000e+02    130.0
21                       Burundi  1.330300e+02    131.0
101                    Mauritius  1.245000e+02    132.0
91                       Liberia  1.220000e+02    133.0
3                        Andorra  1.182000e+02    134.0
48                Faeroe Islands  1.081000e+02    135.0
20                  Burkina Faso  9.140000e+01    136.0
138                 Sierra Leone  7.830000e+01    137.0
110                  Netherlands  7.200000e+01    138.0
92                 Liechtenstein  6.190000e+01    139.0
128          Republic of Moldova  4.400000e+01    140.0
134                        Samoa  4.280000e+01    141.0
127                  Puerto Rico  3.800000e+01    142.0
38                      Dominica  2.418000e+01    143.0
145       St. Vincent-Grenadines  2.377000e+01    144.0
80                        Jordan  2.270000e+01    145.0
156                      Tunisia  1.700000e+01    146.0
37                       Denmark  1.500000e+01    147.5
44                       Estonia  1.500000e+01    147.5
167                      Vanuatu  7.080000e+00    149.0
135        Sao Tome and Principe  5.900000e+00    150.0
75                   Isle of Man  3.000000e+00    151.0
154                  Timor-Leste  1.500000e+00    152.0
141              Solomon Islands  8.910000e-01    153.0
170        Wallis and Futuna Is.  3.400000e-01    154.0
103  Micronesia (Fed. States of)  1.100000e-01    155.0
76                        Israel  0.000000e+00    156.0
14                         Benin           NaN      NaN
34       Czechoslovakia (former)           NaN      NaN
47       Ethiopia, incl. Eritrea           NaN      NaN
52                 French Guiana           NaN      NaN
56       German Dem. R. (former)           NaN      NaN
58     Germany, Fed. R. (former)           NaN      NaN
62                    Guadeloupe           NaN      NaN
65                        Guyana           NaN      NaN
99                    Martinique           NaN      NaN
100                   Mauritania           NaN      NaN
118     Pacific Islands (former)           NaN      NaN
129                      Reunion           NaN      NaN
133                      Réunion           NaN      NaN
137        Serbia and Montenegro           NaN      NaN
147               Sudan (former)           NaN      NaN
158                 Turkmenistan           NaN      NaN
159                USSR (former)           NaN      NaN
171     Yugoslavia, SFR (former)           NaN      NaN

<ipython-input-52-4d3bd29b11d3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hydro_energy_2018['ranking'] = hydro_energy_2018[2018].rank(ascending=False)-1

## Geothermal

In [53]:
geothermal_energy = pd.read_csv('UNdata_geothermal_electricity.csv')
geothermal_energy = geothermal_energy.drop(['Commodity - Transaction','Unit','Quantity Footnotes'], axis=1)
geothermal_energy.rename(columns={'Country or Area':'country', 'Year':'id', 'Quantity':'quantity'}, inplace=True)

In [54]:
geothermal_energy.head()

     country      id  quantity
0  Australia  2018.0       0.0
1  Australia  2017.0       1.0
2  Australia  2016.0       0.0
3  Australia  2015.0       1.0
4  Australia  2014.0       1.0

In [55]:
geothermal_energy['country'].unique()

array(['Australia', 'Austria', 'Chile', 'Costa Rica', 'Croatia',
       'El Salvador', 'Ethiopia', 'Ethiopia, incl. Eritrea', 'France',
       'Germany', 'Guadeloupe', 'Guatemala', 'Honduras', 'Hungary',
       'Iceland', 'Indonesia', 'Italy', 'Japan', 'Kenya', 'Mexico',
       'New Zealand', 'Nicaragua', 'Other Asia', 'Papua New Guinea',
       'Philippines', 'Portugal', 'Russian Federation', 'Thailand',
       'Turkey', 'United States', 'USSR (former)', 'Viet Nam', 'fnSeqID',
       '1'], dtype=object)

In [56]:
geothermal_energy.loc[geothermal_energy['country'] == 'fnSeqID']

     country  id  quantity
620  fnSeqID NaN       NaN

In [57]:
geothermal_energy.loc[geothermal_energy['country'] == '1']

    country  id  quantity
621       1 NaN       NaN

In [58]:
geothermal_energy = geothermal_energy.drop([620, 621])
geothermal_energy['country'].unique()

array(['Australia', 'Austria', 'Chile', 'Costa Rica', 'Croatia',
       'El Salvador', 'Ethiopia', 'Ethiopia, incl. Eritrea', 'France',
       'Germany', 'Guadeloupe', 'Guatemala', 'Honduras', 'Hungary',
       'Iceland', 'Indonesia', 'Italy', 'Japan', 'Kenya', 'Mexico',
       'New Zealand', 'Nicaragua', 'Other Asia', 'Papua New Guinea',
       'Philippines', 'Portugal', 'Russian Federation', 'Thailand',
       'Turkey', 'United States', 'USSR (former)', 'Viet Nam'],
      dtype=object)

In [59]:
geothermal_energy = pd.crosstab(index=geothermal_energy['country'], columns=geothermal_energy['id'], values=geothermal_energy['quantity'], aggfunc='sum')
geothermal_energy.loc['Total'] = geothermal_energy.sum()
geothermal_energy = geothermal_energy.reset_index()
geothermal_energy.head()

id,country,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000,1.000,0.000,NaN
1,Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000,NaN,NaN,NaN
2,Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.000,214.000,NaN
3,Costa Rica,NaN,NaN,NaN,NaN,342.0,468.0,510.0,544.0,591.0,...,1176.080555,1279.542778,1402.550833,1516.735278,1538.135556,1375.628889,1339.515,1117.832,968.571,1512.575
4,Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000,NaN

In [60]:
geothermal_energy_1992 = geothermal_energy[['country',1992]]
geothermal_energy_1992['ranking'] = geothermal_energy_1992[1992].rank(ascending=False)-1
geothermal_energy_1992 = geothermal_energy_1992.sort_values(by=['ranking'], ascending=True)
print(geothermal_energy_1992)

id                  country   1992.0  ranking
32                    Total  38766.0      0.0
30            United States  17168.0      1.0
19                   Mexico   5804.0      2.0
24              Philippines   5700.0      3.0
16                    Italy   3459.0      4.0
20              New Zealand   2259.0      5.0
17                    Japan   1787.0      6.0
15                Indonesia   1025.0      7.0
21                Nicaragua    468.0      8.0
5               El Salvador    391.0      9.0
18                    Kenya    272.0     10.0
14                  Iceland    230.0     11.0
28                   Turkey     70.0     12.0
7   Ethiopia, incl. Eritrea     66.0     13.0
10               Guadeloupe     30.0     14.0
26       Russian Federation     29.0     15.0
25                 Portugal      5.0     16.0
22               Other Asia      2.0     17.0
27                 Thailand      1.0     18.0
0                 Australia      NaN      NaN
1                   Austria      NaN      NaN
2                     Chile      NaN      NaN
3                Costa Rica      NaN      NaN
4                   Croatia      NaN      NaN
6                  Ethiopia      NaN      NaN
8                    France      NaN      NaN
9                   Germany      NaN      NaN
11                Guatemala      NaN      NaN
12                 Honduras      NaN      NaN
13                  Hungary      NaN      NaN
23         Papua New Guinea      NaN      NaN
29            USSR (former)      NaN      NaN
31                 Viet Nam      NaN      NaN

<ipython-input-60-f31f90fe202b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  geothermal_energy_1992['ranking'] = geothermal_energy_1992[1992].rank(ascending=False)-1

In [61]:
geothermal_energy_2018 = geothermal_energy[['country',2018]]
geothermal_energy_2018['ranking'] = geothermal_energy_2018[2018].rank(ascending=False)-1
geothermal_energy_2018 = geothermal_energy_2018.sort_values(by=['ranking'], ascending=True)
print(geothermal_energy_2018)

id                  country     2018.0  ranking
32                    Total  87933.264      0.0
30            United States  18773.000      1.0
15                Indonesia  12804.000      2.0
24              Philippines  10435.300      3.0
20              New Zealand   7961.000      4.0
28                   Turkey   7431.000      5.0
16                    Italy   6105.000      6.0
14                  Iceland   6010.000      7.0
19                   Mexico   5283.000      8.0
18                    Kenya   5128.000      9.0
17                    Japan   2524.000     10.0
5               El Salvador   1545.300     11.0
3                Costa Rica    968.571     12.0
21                Nicaragua    801.000     13.0
26       Russian Federation    426.343     14.0
23         Papua New Guinea    425.000     15.0
12                 Honduras    297.000     16.0
11                Guatemala    249.750     17.0
25                 Portugal    230.000     18.0
2                     Chile    214.000     19.0
9                   Germany    178.000     20.0
8                    France    129.000     21.0
13                  Hungary     12.000     22.0
4                   Croatia      2.000     23.0
27                 Thailand      1.000     24.0
0                 Australia      0.000     25.0
1                   Austria        NaN      NaN
6                  Ethiopia        NaN      NaN
7   Ethiopia, incl. Eritrea        NaN      NaN
10               Guadeloupe        NaN      NaN
22               Other Asia        NaN      NaN
29            USSR (former)        NaN      NaN
31                 Viet Nam        NaN      NaN

<ipython-input-61-d8e2733150c2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  geothermal_energy_2018['ranking'] = geothermal_energy_2018[2018].rank(ascending=False)-1

## Nuclear

In [62]:
nuclear_energy = pd.read_csv('UNdata_nuclear_electricity.csv')
nuclear_energy = nuclear_energy.drop(['Commodity - Transaction','Unit','Quantity Footnotes'], axis=1)
nuclear_energy.rename(columns={'Country or Area':'country', 'Year':'id', 'Quantity':'quantity'}, inplace=True)

In [63]:
nuclear_energy.head()

     country      id  quantity
0  Argentina  2019.0    7927.0
1  Argentina  2018.0    6453.0
2  Argentina  2017.0    6088.0
3  Argentina  2016.0    8285.0
4  Argentina  2015.0    7139.0

In [64]:
nuclear_energy['country'].unique()

array(['Argentina', 'Armenia', 'Belgium', 'Brazil', 'Bulgaria', 'Canada',
       'China', 'Czechia', 'Czechoslovakia (former)', 'Finland', 'France',
       'German Dem. R. (former)', 'Germany', 'Germany, Fed. R. (former)',
       'Hungary', 'India', 'Iran (Islamic Rep. of)', 'Japan',
       'Korea, Republic of', 'Lithuania', 'Mexico', 'Netherlands',
       'Other Asia', 'Pakistan', 'Romania', 'Russian Federation',
       'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Sweden',
       'Switzerland', 'Ukraine', 'United Kingdom', 'United States',
       'USSR (former)', 'Yugoslavia, SFR (former)', 'fnSeqID', '1'],
      dtype=object)

In [65]:
nuclear_energy.loc[nuclear_energy['country'] == 'fnSeqID']

     country  id  quantity
883  fnSeqID NaN       NaN

In [66]:
nuclear_energy.loc[nuclear_energy['country'] == '1']

    country  id  quantity
884       1 NaN       NaN

In [67]:
nuclear_energy = nuclear_energy.drop([883, 884])
nuclear_energy['country'].unique()

array(['Argentina', 'Armenia', 'Belgium', 'Brazil', 'Bulgaria', 'Canada',
       'China', 'Czechia', 'Czechoslovakia (former)', 'Finland', 'France',
       'German Dem. R. (former)', 'Germany', 'Germany, Fed. R. (former)',
       'Hungary', 'India', 'Iran (Islamic Rep. of)', 'Japan',
       'Korea, Republic of', 'Lithuania', 'Mexico', 'Netherlands',
       'Other Asia', 'Pakistan', 'Romania', 'Russian Federation',
       'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Sweden',
       'Switzerland', 'Ukraine', 'United Kingdom', 'United States',
       'USSR (former)', 'Yugoslavia, SFR (former)'], dtype=object)

In [68]:
nuclear_energy = pd.crosstab(index=nuclear_energy['country'], columns=nuclear_energy['id'], values=nuclear_energy['quantity'], aggfunc='sum')
nuclear_energy.loc['Total'] = nuclear_energy.sum()
nuclear_energy = nuclear_energy.reset_index()
nuclear_energy.head()

id,country,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Argentina,7281.0,7771.0,7081.0,7750.0,8235.0,7066.0,7459.0,7961.0,7453.0,...,7171.0,6371.0,6395.0,6207.0,5756.0,7139.0,8285.0,6088.0,6453.000,7927.0
1,Armenia,NaN,NaN,NaN,NaN,NaN,304.0,2324.0,1600.0,1589.0,...,2490.0,2548.0,2322.0,2360.0,2465.0,2788.0,2381.0,2619.6,2076.079,NaN
2,Belgium,42722.0,42861.0,43456.0,41927.0,40624.0,41356.0,43336.0,47408.0,46165.0,...,47944.0,48234.0,40295.0,42644.0,33703.0,26103.0,43523.0,42227.0,28597.000,NaN
3,Brazil,2237.0,1442.0,1760.0,1800.0,1800.0,2519.0,2429.0,3169.0,3265.0,...,14523.0,15659.0,16038.0,15450.0,15378.0,14734.0,15864.0,15739.0,15674.000,16129.0
4,Bulgaria,14665.0,13184.0,11552.0,13973.0,15335.0,17261.0,18082.0,17751.0,16899.0,...,15249.0,16314.0,15785.0,14171.0,15867.0,15383.0,15776.0,15545.0,16125.000,NaN

In [69]:
nuclear_energy_1992 = nuclear_energy[['country',1992]]
nuclear_energy_1992['ranking'] = nuclear_energy_1992[1992].rank(ascending=False)-1
nuclear_energy_1992 = nuclear_energy_1992.sort_values(by=['ranking'], ascending=True)
print(nuclear_energy_1992)

id                    country     1992.0  ranking
37                      Total  2124025.0      0.0
35              United States   655970.0      1.0
10                     France   338445.0      2.0
17                      Japan   223259.0      3.0
12                    Germany   158804.0      4.0
25         Russian Federation   119626.0      5.0
5                      Canada    80582.0      6.0
34             United Kingdom    76807.0      7.0
33                    Ukraine    73750.0      8.0
30                     Sweden    63544.0      9.0
18         Korea, Republic of    56530.0     10.0
29                      Spain    55782.0     11.0
2                     Belgium    43456.0     12.0
22                 Other Asia    33845.0     13.0
31                Switzerland    23448.0     14.0
9                     Finland    19260.0     15.0
19                  Lithuania    14638.0     16.0
14                    Hungary    13964.0     17.0
7                     Czechia    12250.0     18.0
4                    Bulgaria    11552.0     19.0
26                   Slovakia    11050.0     20.0
28               South Africa     9288.0     21.0
0                   Argentina     7081.0     22.0
15                      India     6726.0     23.0
27                   Slovenia     3971.0     24.0
20                     Mexico     3919.0     25.0
21                Netherlands     3800.0     26.0
3                      Brazil     1760.0     27.0
6                       China      500.0     28.0
23                   Pakistan      418.0     29.0
1                     Armenia        NaN      NaN
8     Czechoslovakia (former)        NaN      NaN
11    German Dem. R. (former)        NaN      NaN
13  Germany, Fed. R. (former)        NaN      NaN
16     Iran (Islamic Rep. of)        NaN      NaN
24                    Romania        NaN      NaN
32              USSR (former)        NaN      NaN
36   Yugoslavia, SFR (former)        NaN      NaN

<ipython-input-69-4d588a745b51>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nuclear_energy_1992['ranking'] = nuclear_energy_1992[1992].rank(ascending=False)-1

In [70]:
nuclear_energy_2018 = nuclear_energy[['country',2018]]
nuclear_energy_2018['ranking'] = nuclear_energy_2018[2018].rank(ascending=False)-1
nuclear_energy_2018 = nuclear_energy_2018.sort_values(by=['ranking'], ascending=True)
print(nuclear_energy_2018)

id                    country       2018.0  ranking
37                      Total  2708655.220      0.0
35              United States   841329.000      1.0
10                     France   412942.000      2.0
6                       China   294359.000      3.0
25         Russian Federation   204569.141      4.0
18         Korea, Republic of   133505.000      5.0
5                      Canada   100731.000      6.0
33                    Ukraine    84398.000      7.0
12                    Germany    76005.000      8.0
30                     Sweden    68549.000      9.0
34             United Kingdom    65064.000     10.0
17                      Japan    64929.000     11.0
29                      Spain    55766.000     12.0
15                      India    37813.000     13.0
7                     Czechia    29921.000     14.0
2                     Belgium    28597.000     15.0
22                 Other Asia    27682.000     16.0
31                Switzerland    25513.000     17.0
9                     Finland    22793.000     18.0
4                    Bulgaria    16125.000     19.0
14                    Hungary    15733.000     20.0
3                      Brazil    15674.000     21.0
26                   Slovakia    14843.000     22.0
20                     Mexico    13675.000     23.0
28               South Africa    11580.000     24.0
24                    Romania    11377.000     25.0
23                   Pakistan     9849.000     26.0
16     Iran (Islamic Rep. of)     7514.000     27.0
0                   Argentina     6453.000     28.0
27                   Slovenia     5776.000     29.0
21                Netherlands     3515.000     30.0
1                     Armenia     2076.079     31.0
8     Czechoslovakia (former)          NaN      NaN
11    German Dem. R. (former)          NaN      NaN
13  Germany, Fed. R. (former)          NaN      NaN
19                  Lithuania          NaN      NaN
32              USSR (former)          NaN      NaN
36   Yugoslavia, SFR (former)          NaN      NaN

<ipython-input-70-79cae907b976>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nuclear_energy_2018['ranking'] = nuclear_energy_2018[2018].rank(ascending=False)-1

## Compiling 2018

- Compile all energy sources per country with (total - sum = others) at the end
- assume others as not renewable

In [71]:
#energy.rename(columns={'Country or Area':'country', 'Year':'id', 'Quantity':'quantity'}, inplace=True)
energy_production_2018 = total_energy[['country', 2018]].rename(columns={2018:'total_prod'})
solar_production_2018 =  solar_energy[['country', 2018]].rename(columns={2018:'solar'})
wind_production_2018 =  wind_energy[['country', 2018]].rename(columns={2018:'wind'})
hydro_production_2018 =  hydro_energy[['country', 2018]].rename(columns={2018:'hydro'})
geothermal_production_2018 =  geothermal_energy[['country', 2018]].rename(columns={2018:'geothermal'})
nuclear_production_2018 =  nuclear_energy[['country', 2018]].rename(columns={2018:'nuclear'})

In [72]:
energy_production_2018 = energy_production_2018.merge(solar_production_2018, how='outer', on=['country'])
energy_production_2018 = energy_production_2018.merge(wind_production_2018, how='outer', on=['country'])
energy_production_2018 = energy_production_2018.merge(hydro_production_2018, how='outer', on=['country'])
energy_production_2018 = energy_production_2018.merge(geothermal_production_2018, how='outer', on=['country'])
energy_production_2018 = energy_production_2018.merge(nuclear_production_2018, how='outer', on=['country'])
energy_production_2018

id,country,total_prod,solar,wind,hydro,geothermal,nuclear
0,Afghanistan,9.790000e+02,NaN,NaN,1.065790e+03,NaN,NaN
1,Albania,8.506920e+03,NaN,NaN,8.552150e+03,NaN,NaN
2,Algeria,6.896200e+04,62.000000,8.400000e+01,6.380000e+02,NaN,NaN
3,American Samoa,1.605000e+02,4.832000,NaN,NaN,NaN,NaN
4,Andorra,1.394200e+02,0.900000,NaN,1.182000e+02,NaN,NaN
5,Angola,1.144500e+04,18.000000,NaN,8.734000e+03,NaN,NaN
6,Anguilla,8.400000e+01,0.300000,NaN,NaN,NaN,NaN
7,Antigua and Barbuda,3.350000e+02,13.000000,NaN,NaN,NaN,NaN
8,Argentina,1.483070e+05,108.000000,1.413000e+03,4.143000e+04,NaN,6453.000
9,Armenia,7.437445e+03,19.463000,1.881000e+00,2.318175e+03,NaN,2076.079
10,Aruba,9.828000e+02,NaN,1.749000e+02,NaN,NaN,NaN
11,Australia,2.472920e+05,9929.000000,1.516400e+04,1.602100e+04,0.000,NaN
12,Austria,6.512000e+04,1438.000000,6.030000e+03,4.121600e+04,NaN,NaN
13,Azerbaijan,2.436050e+04,39.300000,8.270002e+01,1.768000e+03,NaN,NaN
14,Bahamas,2.200000e+03,NaN,NaN,NaN,NaN,NaN
15,Bahrain,2.951700e+04,9.000000,1.000000e+00,NaN,NaN,NaN
16,Bangladesh,7.419530e+04,291.300000,6.000000e+00,1.085800e+03,NaN,NaN
17,Barbados,1.038000e+03,44.090000,NaN,NaN,NaN,NaN
18,Belarus,3.670700e+04,118.000000,9.900000e+01,3.240000e+02,NaN,NaN
19,Belgium,7.198100e+04,3902.000000,7.465000e+03,1.329000e+03,NaN,28597.000
20,Belize,6.243735e+02,NaN,NaN,2.496955e+02,NaN,NaN
21,Benin,2.020000e+02,5.000000,NaN,NaN,NaN,NaN
22,Bermuda,6.053000e+02,NaN,NaN,NaN,NaN,NaN
23,Bhutan,6.960110e+03,0.662000,1.130000e+00,6.958640e+03,NaN,NaN
24,Bolivia (Plur. State of),9.506000e+03,127.000000,5.900000e+01,2.613000e+03,NaN,NaN
25,"Bonaire, St Eustatius, Saba",1.250000e+02,5.000000,4.300000e+01,NaN,NaN,NaN
26,Bosnia and Herzegovina,1.791200e+04,21.000000,1.030000e+02,6.519000e+03,NaN,NaN
27,Botswana,2.729895e+03,5.000000,NaN,NaN,NaN,NaN
28,Brazil,5.935760e+05,3461.000000,4.847500e+04,3.889710e+05,NaN,15674.000
29,British Virgin Islands,1.400000e+02,0.300000,6.000000e-01,NaN,NaN,NaN
30,Brunei Darussalam,3.683000e+03,2.000000,NaN,NaN,NaN,NaN
31,Bulgaria,4.271500e+04,1343.000000,1.318000e+03,5.423000e+03,NaN,16125.000
32,Burkina Faso,9.660000e+02,54.100000,NaN,9.140000e+01,NaN,NaN
33,Burundi,2.158700e+02,7.930000,NaN,1.330300e+02,NaN,NaN
34,Cabo Verde,4.821000e+02,10.400000,9.300000e+01,NaN,NaN,NaN
35,Cambodia,7.738000e+03,16.000000,NaN,4.737000e+03,NaN,NaN
36,Cameroon,8.374000e+03,19.000000,NaN,5.023000e+03,NaN,NaN
37,Canada,6.358120e+05,3796.000000,3.318300e+04,3.859510e+05,NaN,100731.000
38,Cayman Islands,6.577200e+02,NaN,NaN,NaN,NaN,NaN
39,Central African Rep.,1.470000e+02,0.430000,NaN,1.460000e+02,NaN,NaN
40,Chad,2.210000e+02,NaN,NaN,NaN,NaN,NaN
41,Chile,7.988300e+04,5217.000000,3.588000e+03,2.336700e+04,214.000,NaN
42,China,6.612610e+06,177517.000000,3.659710e+05,1.231787e+06,NaN,294359.000
43,"China, Hong Kong SAR",3.656500e+04,NaN,NaN,NaN,NaN,NaN
44,"China, Macao SAR",5.990000e+02,NaN,NaN,NaN,NaN,NaN
45,Colombia,7.784400e+04,21.000000,4.300000e+01,5.993300e+04,NaN,NaN
46,Comoros,8.670900e+01,NaN,NaN,NaN,NaN,NaN
47,Congo,3.117000e+03,1.000000,NaN,1.239000e+03,NaN,NaN
48,Cook Islands,4.140000e+01,10.500000,NaN,NaN,NaN,NaN
49,Costa Rica,1.137644e+04,55.338300,1.798875e+03,8.342897e+03,968.571,NaN
50,Croatia,1.318200e+04,75.000000,1.335000e+03,7.785000e+03,2.000,NaN
51,Cuba,1.887880e+04,124.300000,4.350000e+01,1.455000e+02,NaN,NaN
52,Curaçao,8.490000e+02,19.000000,2.340000e+02,NaN,NaN,NaN
53,Cyprus,4.828000e+03,200.000000,2.214300e+02,NaN,NaN,NaN
54,Czechia,8.086100e+04,2359.000000,6.090000e+02,2.679000e+03,NaN,29921.000
55,Czechoslovakia (former),NaN,NaN,NaN,NaN,NaN,NaN
56,Côte d'Ivoire,9.866000e+03,NaN,NaN,2.962000e+03,NaN,NaN
57,Dem. Rep. of the Congo,1.054800e+04,26.680000,NaN,1.106400e+04,NaN,NaN
58,Denmark,2.932300e+04,953.000000,1.389900e+04,1.500000e+01,NaN,NaN
59,Djibouti,5.800000e+01,NaN,NaN,NaN,NaN,NaN
60,Dominica,1.063040e+02,NaN,NaN,2.418000e+01,NaN,NaN
61,Dominican Republic,1.895831e+04,230.440000,4.974800e+02,1.779510e+03,NaN,NaN
62,Ecuador,2.882910e+04,38.080000,8.026000e+01,2.067800e+04,NaN,NaN
63,Egypt,1.906820e+05,537.000000,2.234000e+03,1.272600e+04,NaN,NaN
64,El Salvador,5.238400e+03,289.300000,NaN,1.630600e+03,1545.300,NaN
65,Equatorial Guinea,7.360960e+02,NaN,NaN,2.000000e+02,NaN,NaN
66,Eritrea,4.730000e+02,43.000000,2.000000e+00,NaN,NaN,NaN
67,Estonia,1.093300e+04,31.000000,6.360000e+02,1.500000e+01,NaN,NaN
68,Eswatini,5.190000e+02,0.115000,NaN,2.080000e+02,NaN,NaN
69,Ethiopia,1.355300e+04,20.000000,5.330000e+02,1.301800e+04,NaN,NaN
70,"Ethiopia, incl. Eritrea",NaN,NaN,NaN,NaN,NaN,NaN
71,Faeroe Islands,3.410000e+02,NaN,6.380000e+01,1.081000e+02,NaN,NaN
72,Falkland Is. (Malvinas),1.765000e+01,NaN,5.412200e+00,NaN,NaN,NaN
73,Fiji,9.930080e+02,9.500000,2.558000e+00,5.667090e+02,NaN,NaN
74,Finland,6.753300e+04,90.000000,5.839000e+03,1.330100e+04,NaN,22793.000
75,France,5.580870e+05,10569.000000,2.860000e+04,7.059000e+04,129.000,412942.000
76,French Guiana,NaN,NaN,NaN,NaN,NaN,NaN
77,French Polynesia,6.860000e+02,37.000000,8.000000e-02,1.640000e+02,NaN,NaN
78,Gabon,2.586720e+03,2.000000,NaN,1.056530e+03,NaN,NaN
79,Gambia,3.085170e+02,3.500000,1.000000e-01,NaN,NaN,NaN
80,Georgia,1.193370e+04,NaN,8.430000e+01,9.949400e+03,NaN,NaN
81,German Dem. R. (former),NaN,NaN,NaN,NaN,NaN,NaN
82,Germany,6.091910e+05,45784.000000,1.099510e+05,2.414300e+04,178.000,76005.000
83,"Germany, Fed. R. (former)",NaN,NaN,NaN,NaN,NaN,NaN
84,Ghana,1.619600e+04,32.800000,NaN,6.017000e+03,NaN,NaN
85,Gibraltar,2.111000e+02,NaN,NaN,NaN,NaN,NaN
86,Greece,5.008400e+04,3791.000000,6.300000e+03,5.760000e+03,NaN,NaN
87,Greenland,5.150000e+02,NaN,NaN,4.000000e+02,NaN,NaN
88,Grenada,2.244572e+02,0.108333,NaN,NaN,NaN,NaN
89,Guadeloupe,NaN,NaN,NaN,NaN,NaN,NaN
90,Guam,1.652000e+03,51.600000,5.000000e-01,NaN,NaN,NaN
91,Guatemala,1.279318e+04,208.310000,3.195000e+02,5.218465e+03,249.750,NaN
92,Guernsey,5.380000e+01,NaN,NaN,NaN,NaN,NaN
93,Guinea,1.875500e+03,NaN,NaN,1.181500e+03,NaN,NaN
94,Guinea-Bissau,8.660000e+01,6.920000,NaN,NaN,NaN,NaN
95,Guyana,1.103162e+03,11.120000,3.500000e-01,NaN,NaN,NaN
96,Haiti,1.028000e+03,1.000000,NaN,1.970000e+02,NaN,NaN
97,Honduras,9.506000e+03,993.000000,9.290000e+02,3.262000e+03,297.000,NaN
98,Hungary,2.983200e+04,620.000000,6.070000e+02,2.220000e+02,12.000,15733.000
99,Iceland,1.943300e+04,NaN,4.000000e+00,1.381400e+04,6010.000,NaN
100,India,1.413661e+06,39728.000000,6.429400e+04,1.349910e+05,NaN,37813.000
101,Indonesia,2.737930e+05,6.600000,NaN,1.977400e+04,12804.000,NaN
102,Iran (Islamic Rep. of),2.963290e+05,286.000000,5.850000e+02,1.505100e+04,NaN,7514.000
103,Iraq,8.043100e+04,377.000000,NaN,1.818000e+03,NaN,NaN
104,Ireland,3.035300e+04,NaN,8.640000e+03,9.320000e+02,NaN,NaN
105,Isle of Man,4.574000e+02,NaN,NaN,3.000000e+00,NaN,NaN
106,Israel,6.659000e+04,1574.000000,1.830000e+02,0.000000e+00,NaN,NaN
107,Italy,2.798440e+05,22654.000000,1.771600e+04,5.050300e+04,6105.000,NaN
108,Jamaica,4.383000e+03,46.000000,3.020000e+02,1.790000e+02,NaN,NaN
109,Japan,1.026696e+06,62668.000000,7.481000e+03,8.834800e+04,2524.000,64929.000
110,Jersey,4.294000e+01,NaN,NaN,NaN,NaN,NaN
111,Jordan,1.833860e+04,836.200000,7.070000e+02,2.270000e+01,NaN,NaN
112,Kazakhstan,9.462400e+04,116.000000,4.270000e+02,1.033000e+04,NaN,NaN
113,Kenya,1.105300e+04,NaN,3.760000e+02,3.986000e+03,5128.000,NaN
114,Kiribati,2.990000e+01,4.900000,NaN,NaN,NaN,NaN
115,"Korea, Dem.Ppl's.Rep.",1.397000e+04,15.000000,NaN,1.280000e+04,NaN,NaN
116,"Korea, Republic of",5.668450e+05,9208.000000,2.465000e+03,7.270000e+03,NaN,133505.000
117,Kosovo,5.380000e+03,2.000000,3.000000e+01,2.730000e+02,NaN,NaN
118,Kuwait,6.579100e+04,4.000000,NaN,NaN,NaN,NaN
119,Kyrgyzstan,1.553400e+04,NaN,NaN,1.431800e+04,NaN,NaN
120,Lao People's Dem. Rep.,3.404990e+04,11.500000,NaN,2.184370e+04,NaN,NaN
121,Latvia,6.203000e+03,1.000000,1.220000e+02,2.432000e+03,NaN,NaN
122,Lebanon,2.310200e+04,48.000000,NaN,3.480000e+02,NaN,NaN
123,Lesotho,5.166600e+02,NaN,NaN,5.166600e+02,NaN,NaN
124,Liberia,3.270000e+02,4.000000,NaN,1.220000e+02,NaN,NaN
125,Libya,3.332900e+04,8.000000,NaN,NaN,NaN,NaN
126,Liechtenstein,8.900000e+01,25.200000,NaN,6.190000e+01,NaN,NaN
127,Lithuania,3.314000e+03,87.000000,1.144000e+03,9.600000e+02,NaN,NaN
128,Luxembourg,2.171000e+03,120.000000,2.550000e+02,1.336000e+03,NaN,NaN
129,Madagascar,2.047000e+03,0.120000,NaN,9.683000e+02,NaN,NaN
130,Malawi,2.055655e+03,NaN,NaN,2.080655e+03,NaN,NaN
131,Malaysia,1.698820e+05,632.000000,NaN,2.632500e+04,NaN,NaN
132,Maldives,7.510000e+02,14.000000,2.000000e+00,NaN,NaN,NaN
133,Mali,3.248000e+03,2.900000,NaN,1.130000e+03,NaN,NaN
134,Malta,1.912000e+03,190.000000,6.000000e-02,NaN,NaN,NaN
135,Marshall Islands,8.950000e+01,2.000000,NaN,NaN,NaN,NaN
136,Martinique,NaN,NaN,NaN,NaN,NaN,NaN
137,Mauritania,1.175700e+03,144.000000,1.040000e+02,NaN,NaN,NaN
138,Mauritius,3.087500e+03,49.300000,1.510000e+01,1.245000e+02,NaN,NaN
139,Mayotte,NaN,NaN,NaN,NaN,NaN,NaN
140,Mexico,3.218010e+05,1856.000000,1.287500e+04,3.263600e+04,5283.000,13675.000
141,Micronesia (Fed. States of),6.640000e+01,2.700000,1.100000e+00,1.100000e-01,NaN,NaN
142,Mongolia,5.686000e+03,NaN,NaN,NaN,NaN,NaN
143,Montenegro,3.545600e+03,2.300000,1.410000e+02,2.092000e+03,NaN,NaN
144,Montserrat,1.950000e+01,NaN,NaN,NaN,NaN,NaN
145,Morocco,3.577700e+04,950.000000,3.841000e+03,1.998000e+03,NaN,NaN
146,Mozambique,1.655000e+04,2.000000,NaN,1.392100e+04,NaN,NaN
147,Myanmar,2.433200e+04,10.000000,NaN,1.482600e+04,NaN,NaN
148,Namibia,1.296000e+03,180.000000,1.810000e+01,1.144000e+03,NaN,NaN
149,Nauru,3.582000e+01,1.180000,NaN,NaN,NaN,NaN
150,Nepal,4.854000e+03,1.000000,1.400000e+01,4.898000e+03,NaN,NaN
151,Neth. Antilles (former),NaN,NaN,NaN,NaN,NaN,NaN
152,Netherlands,1.110450e+05,3693.000000,1.056300e+04,7.200000e+01,NaN,3515.000
153,New Caledonia,3.485000e+03,46.700000,4.500000e+01,3.172000e+02,NaN,NaN
154,New Zealand,4.312700e+04,99.000000,2.068000e+03,2.628700e+04,7961.000,NaN
155,Nicaragua,4.233000e+03,24.000000,8.010000e+02,4.110000e+02,801.000,NaN
156,Niger,4.420000e+02,32.700000,NaN,NaN,NaN,NaN
157,Nigeria,3.523900e+04,28.000000,NaN,6.458000e+03,NaN,NaN
158,Niue,3.700000e+00,0.469000,NaN,NaN,NaN,NaN
159,North Macedonia,5.269361e+03,22.788000,9.733800e+01,1.791366e+03,NaN,NaN
160,Northern Mariana Islands,3.900000e+02,NaN,NaN,NaN,NaN,NaN
161,Norway,1.462380e+05,2.000000,3.876000e+03,1.395090e+05,NaN,NaN
162,Oman,3.719200e+04,4.000000,NaN,NaN,NaN,NaN
163,Other Asia,2.635690e+05,2739.000000,1.686000e+03,7.839000e+03,NaN,27682.000
164,Pacific Islands (former),NaN,NaN,NaN,NaN,NaN,NaN
165,Pakistan,1.306710e+05,714.000000,2.124000e+03,2.772900e+04,NaN,9849.000
166,Palau,8.900000e+01,0.250000,NaN,NaN,NaN,NaN
167,Panama,1.086060e+04,232.600000,5.879000e+02,7.857800e+03,NaN,NaN
168,Papua New Guinea,4.291400e+03,1.390000,NaN,8.760000e+02,425.000,NaN
169,Paraguay,5.872954e+04,NaN,NaN,5.921090e+04,NaN,NaN
170,Peru,5.423900e+04,797.000000,1.502000e+03,3.073700e+04,NaN,NaN
171,Philippines,9.043430e+04,1249.100000,1.152900e+03,9.400800e+03,10435.300,NaN
172,Poland,1.552590e+05,300.000000,1.279900e+04,2.387000e+03,NaN,NaN
173,Portugal,5.819700e+04,1006.000000,1.261600e+04,1.362900e+04,230.000,NaN
174,Puerto Rico,1.616700e+04,81.000000,1.080000e+02,3.800000e+01,NaN,NaN
175,Qatar,4.465400e+04,NaN,NaN,NaN,NaN,NaN
176,Republic of Moldova,8.220000e+02,1.000000,2.300000e+01,4.400000e+01,NaN,NaN
177,Reunion,NaN,NaN,NaN,NaN,NaN,NaN
178,Romania,6.017500e+04,1771.000000,6.322000e+03,1.809700e+04,NaN,11377.000
179,Russian Federation,1.044537e+06,719.945000,2.318830e+02,1.930273e+05,426.343,204569.141
180,Rwanda,7.280000e+02,18.100000,NaN,3.501000e+02,NaN,NaN
181,Réunion,NaN,NaN,NaN,NaN,NaN,NaN
182,Samoa,1.493700e+02,21.117000,1.340000e-01,4.280000e+01,NaN,NaN
183,Sao Tome and Principe,8.480000e+01,0.400000,NaN,5.900000e+00,NaN,NaN
184,Saudi Arabia,3.121930e+05,1.000000,3.555000e+00,NaN,NaN,NaN
185,Senegal,4.447000e+03,80.000000,NaN,NaN,NaN,NaN
186,Serbia,3.478400e+04,13.000000,1.500000e+02,1.139300e+04,NaN,NaN
187,Serbia and Montenegro,NaN,NaN,NaN,NaN,NaN,NaN
188,Seychelles,5.057000e+02,3.500000,7.400000e+00,NaN,NaN,NaN
189,Sierra Leone,1.563000e+02,5.800000,NaN,7.830000e+01,NaN,NaN
190,Singapore,5.290480e+04,169.000000,NaN,NaN,NaN,NaN
191,Sint Maarten (Dutch part),2.914000e+02,NaN,NaN,NaN,NaN,NaN
192,Slovakia,2.486300e+04,585.000000,6.000000e+00,3.879000e+03,NaN,14843.000
193,Slovenia,1.544700e+04,255.000000,6.000000e+00,4.893000e+03,NaN,5776.000
194,Solomon Islands,1.073380e+02,2.895000,NaN,8.910000e-01,NaN,NaN
195,Somalia,3.500000e+02,NaN,NaN,NaN,NaN,NaN
196,South Africa,2.422110e+05,4241.000000,6.467000e+03,5.694000e+03,NaN,11580.000
197,South Sudan,5.710000e+02,3.000000,NaN,NaN,NaN,NaN
198,Spain,2.638270e+05,12744.000000,5.089600e+04,3.680300e+04,NaN,55766.000
199,Sri Lanka,1.537366e+04,186.296000,3.263330e+02,6.400734e+03,NaN,NaN
200,St. Helena and Depend.,1.193400e+01,1.654000,2.503000e+00,NaN,NaN,NaN
201,St. Kitts-Nevis,2.270000e+02,3.000000,8.000000e+00,NaN,NaN,NaN
202,St. Lucia,3.869400e+02,5.000000,NaN,NaN,NaN,NaN
203,St. Pierre-Miquelon,4.950800e+01,NaN,NaN,NaN,NaN,NaN
204,St. Vincent-Grenadines,1.461990e+02,1.964000,NaN,2.377000e+01,NaN,NaN
205,State of Palestine,4.204000e+02,60.000000,NaN,NaN,NaN,NaN
206,Sudan,1.591970e+04,NaN,NaN,9.657000e+03,NaN,NaN
207,Sudan (former),NaN,NaN,NaN,NaN,NaN,NaN
208,Suriname,2.209520e+03,4.400000,NaN,9.997000e+02,NaN,NaN
209,Sweden,1.596770e+05,407.000000,1.662300e+04,6.225000e+04,NaN,68549.000
210,Switzerland,6.744900e+04,1944.000000,1.220000e+02,3.780300e+04,NaN,25513.000
211,Syrian Arab Republic,1.612900e+04,NaN,NaN,7.540000e+02,NaN,NaN
212,Tajikistan,1.953800e+04,NaN,NaN,1.839440e+04,NaN,NaN
213,Thailand,1.794740e+05,4537.000000,1.641000e+03,7.565000e+03,1.000,NaN
214,Timor-Leste,4.254550e+02,0.936000,NaN,1.500000e+00,NaN,NaN
215,Togo,5.750000e+02,3.000000,NaN,1.962000e+02,NaN,NaN
216,Tonga,6.570000e+01,4.147000,2.200000e-02,NaN,NaN,NaN
217,Trinidad and Tobago,8.889000e+03,5.000000,NaN,NaN,NaN,NaN
218,Tunisia,2.055500e+04,174.000000,4.530000e+02,1.700000e+01,NaN,NaN
219,Turkey,2.905020e+05,7800.000000,1.994900e+04,5.993800e+04,7431.000,NaN
220,Turkmenistan,2.083100e+04,NaN,NaN,NaN,NaN,NaN
221,Turks and Caicos Islands,2.490000e+02,NaN,NaN,NaN,NaN,NaN
222,Tuvalu,6.914000e+00,2.048200,NaN,NaN,NaN,NaN
223,USSR (former),NaN,NaN,NaN,NaN,NaN,NaN
224,Uganda,4.039500e+03,32.200000,NaN,3.601900e+03,NaN,NaN
225,Ukraine,1.470970e+05,1107.000000,1.188000e+03,1.200700e+04,NaN,84398.000
226,United Arab Emirates,1.312710e+05,1303.100000,NaN,NaN,NaN,NaN
227,United Kingdom,3.174670e+05,12858.000000,5.690400e+04,7.988000e+03,NaN,65064.000
228,United Rep. of Tanzania,7.230000e+03,88.000000,NaN,2.234000e+03,NaN,NaN
229,United States,4.236928e+06,85184.000000,2.758340e+05,3.170040e+05,18773.000,841329.000
230,United States Virgin Is.,5.648500e+02,21.240000,NaN,NaN,NaN,NaN
231,Uruguay,1.419360e+04,413.500000,4.732200e+03,6.556600e+03,NaN,NaN
232,Uzbekistan,6.156000e+04,0.200000,NaN,5.897319e+03,NaN,NaN
233,Vanuatu,7.930400e+01,5.300000,4.770000e+00,7.080000e+00,NaN,NaN
234,Venezuela (Bolivar. Rep.),9.876400e+04,6.000000,7.100000e+01,5.815000e+04,NaN,NaN
235,Viet Nam,2.070550e+05,23.000000,3.170000e+02,8.420500e+04,NaN,NaN
236,Wallis and Futuna Is.,1.786800e+01,0.160000,NaN,3.400000e-01,NaN,NaN
237,Yemen,3.139000e+03,458.000000,NaN,NaN,NaN,NaN
238,Yemen Arab Rep. (former),NaN,NaN,NaN,NaN,NaN,NaN
239,"Yemen, Dem. (former)",NaN,NaN,NaN,NaN,NaN,NaN
240,"Yugoslavia, SFR (former)",NaN,NaN,NaN,NaN,NaN,NaN
241,Zambia,1.578281e+04,0.930000,NaN,1.266600e+04,NaN,NaN
242,Zimbabwe,9.243000e+03,NaN,NaN,5.049000e+03,NaN,NaN
243,Total,2.516194e+07,565067.347833,1.272283e+06,4.305553e+06,87933.264,2708655.220

In [73]:
energy_production_2018 = energy_production_2018.fillna(0)
energy_production_2018

id,country,total_prod,solar,wind,hydro,geothermal,nuclear
0,Afghanistan,9.790000e+02,0.000000,0.000000e+00,1.065790e+03,0.000,0.000
1,Albania,8.506920e+03,0.000000,0.000000e+00,8.552150e+03,0.000,0.000
2,Algeria,6.896200e+04,62.000000,8.400000e+01,6.380000e+02,0.000,0.000
3,American Samoa,1.605000e+02,4.832000,0.000000e+00,0.000000e+00,0.000,0.000
4,Andorra,1.394200e+02,0.900000,0.000000e+00,1.182000e+02,0.000,0.000
5,Angola,1.144500e+04,18.000000,0.000000e+00,8.734000e+03,0.000,0.000
6,Anguilla,8.400000e+01,0.300000,0.000000e+00,0.000000e+00,0.000,0.000
7,Antigua and Barbuda,3.350000e+02,13.000000,0.000000e+00,0.000000e+00,0.000,0.000
8,Argentina,1.483070e+05,108.000000,1.413000e+03,4.143000e+04,0.000,6453.000
9,Armenia,7.437445e+03,19.463000,1.881000e+00,2.318175e+03,0.000,2076.079
10,Aruba,9.828000e+02,0.000000,1.749000e+02,0.000000e+00,0.000,0.000
11,Australia,2.472920e+05,9929.000000,1.516400e+04,1.602100e+04,0.000,0.000
12,Austria,6.512000e+04,1438.000000,6.030000e+03,4.121600e+04,0.000,0.000
13,Azerbaijan,2.436050e+04,39.300000,8.270002e+01,1.768000e+03,0.000,0.000
14,Bahamas,2.200000e+03,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
15,Bahrain,2.951700e+04,9.000000,1.000000e+00,0.000000e+00,0.000,0.000
16,Bangladesh,7.419530e+04,291.300000,6.000000e+00,1.085800e+03,0.000,0.000
17,Barbados,1.038000e+03,44.090000,0.000000e+00,0.000000e+00,0.000,0.000
18,Belarus,3.670700e+04,118.000000,9.900000e+01,3.240000e+02,0.000,0.000
19,Belgium,7.198100e+04,3902.000000,7.465000e+03,1.329000e+03,0.000,28597.000
20,Belize,6.243735e+02,0.000000,0.000000e+00,2.496955e+02,0.000,0.000
21,Benin,2.020000e+02,5.000000,0.000000e+00,0.000000e+00,0.000,0.000
22,Bermuda,6.053000e+02,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
23,Bhutan,6.960110e+03,0.662000,1.130000e+00,6.958640e+03,0.000,0.000
24,Bolivia (Plur. State of),9.506000e+03,127.000000,5.900000e+01,2.613000e+03,0.000,0.000
25,"Bonaire, St Eustatius, Saba",1.250000e+02,5.000000,4.300000e+01,0.000000e+00,0.000,0.000
26,Bosnia and Herzegovina,1.791200e+04,21.000000,1.030000e+02,6.519000e+03,0.000,0.000
27,Botswana,2.729895e+03,5.000000,0.000000e+00,0.000000e+00,0.000,0.000
28,Brazil,5.935760e+05,3461.000000,4.847500e+04,3.889710e+05,0.000,15674.000
29,British Virgin Islands,1.400000e+02,0.300000,6.000000e-01,0.000000e+00,0.000,0.000
30,Brunei Darussalam,3.683000e+03,2.000000,0.000000e+00,0.000000e+00,0.000,0.000
31,Bulgaria,4.271500e+04,1343.000000,1.318000e+03,5.423000e+03,0.000,16125.000
32,Burkina Faso,9.660000e+02,54.100000,0.000000e+00,9.140000e+01,0.000,0.000
33,Burundi,2.158700e+02,7.930000,0.000000e+00,1.330300e+02,0.000,0.000
34,Cabo Verde,4.821000e+02,10.400000,9.300000e+01,0.000000e+00,0.000,0.000
35,Cambodia,7.738000e+03,16.000000,0.000000e+00,4.737000e+03,0.000,0.000
36,Cameroon,8.374000e+03,19.000000,0.000000e+00,5.023000e+03,0.000,0.000
37,Canada,6.358120e+05,3796.000000,3.318300e+04,3.859510e+05,0.000,100731.000
38,Cayman Islands,6.577200e+02,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
39,Central African Rep.,1.470000e+02,0.430000,0.000000e+00,1.460000e+02,0.000,0.000
40,Chad,2.210000e+02,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
41,Chile,7.988300e+04,5217.000000,3.588000e+03,2.336700e+04,214.000,0.000
42,China,6.612610e+06,177517.000000,3.659710e+05,1.231787e+06,0.000,294359.000
43,"China, Hong Kong SAR",3.656500e+04,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
44,"China, Macao SAR",5.990000e+02,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
45,Colombia,7.784400e+04,21.000000,4.300000e+01,5.993300e+04,0.000,0.000
46,Comoros,8.670900e+01,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
47,Congo,3.117000e+03,1.000000,0.000000e+00,1.239000e+03,0.000,0.000
48,Cook Islands,4.140000e+01,10.500000,0.000000e+00,0.000000e+00,0.000,0.000
49,Costa Rica,1.137644e+04,55.338300,1.798875e+03,8.342897e+03,968.571,0.000
50,Croatia,1.318200e+04,75.000000,1.335000e+03,7.785000e+03,2.000,0.000
51,Cuba,1.887880e+04,124.300000,4.350000e+01,1.455000e+02,0.000,0.000
52,Curaçao,8.490000e+02,19.000000,2.340000e+02,0.000000e+00,0.000,0.000
53,Cyprus,4.828000e+03,200.000000,2.214300e+02,0.000000e+00,0.000,0.000
54,Czechia,8.086100e+04,2359.000000,6.090000e+02,2.679000e+03,0.000,29921.000
55,Czechoslovakia (former),0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
56,Côte d'Ivoire,9.866000e+03,0.000000,0.000000e+00,2.962000e+03,0.000,0.000
57,Dem. Rep. of the Congo,1.054800e+04,26.680000,0.000000e+00,1.106400e+04,0.000,0.000
58,Denmark,2.932300e+04,953.000000,1.389900e+04,1.500000e+01,0.000,0.000
59,Djibouti,5.800000e+01,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
60,Dominica,1.063040e+02,0.000000,0.000000e+00,2.418000e+01,0.000,0.000
61,Dominican Republic,1.895831e+04,230.440000,4.974800e+02,1.779510e+03,0.000,0.000
62,Ecuador,2.882910e+04,38.080000,8.026000e+01,2.067800e+04,0.000,0.000
63,Egypt,1.906820e+05,537.000000,2.234000e+03,1.272600e+04,0.000,0.000
64,El Salvador,5.238400e+03,289.300000,0.000000e+00,1.630600e+03,1545.300,0.000
65,Equatorial Guinea,7.360960e+02,0.000000,0.000000e+00,2.000000e+02,0.000,0.000
66,Eritrea,4.730000e+02,43.000000,2.000000e+00,0.000000e+00,0.000,0.000
67,Estonia,1.093300e+04,31.000000,6.360000e+02,1.500000e+01,0.000,0.000
68,Eswatini,5.190000e+02,0.115000,0.000000e+00,2.080000e+02,0.000,0.000
69,Ethiopia,1.355300e+04,20.000000,5.330000e+02,1.301800e+04,0.000,0.000
70,"Ethiopia, incl. Eritrea",0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
71,Faeroe Islands,3.410000e+02,0.000000,6.380000e+01,1.081000e+02,0.000,0.000
72,Falkland Is. (Malvinas),1.765000e+01,0.000000,5.412200e+00,0.000000e+00,0.000,0.000
73,Fiji,9.930080e+02,9.500000,2.558000e+00,5.667090e+02,0.000,0.000
74,Finland,6.753300e+04,90.000000,5.839000e+03,1.330100e+04,0.000,22793.000
75,France,5.580870e+05,10569.000000,2.860000e+04,7.059000e+04,129.000,412942.000
76,French Guiana,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
77,French Polynesia,6.860000e+02,37.000000,8.000000e-02,1.640000e+02,0.000,0.000
78,Gabon,2.586720e+03,2.000000,0.000000e+00,1.056530e+03,0.000,0.000
79,Gambia,3.085170e+02,3.500000,1.000000e-01,0.000000e+00,0.000,0.000
80,Georgia,1.193370e+04,0.000000,8.430000e+01,9.949400e+03,0.000,0.000
81,German Dem. R. (former),0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
82,Germany,6.091910e+05,45784.000000,1.099510e+05,2.414300e+04,178.000,76005.000
83,"Germany, Fed. R. (former)",0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
84,Ghana,1.619600e+04,32.800000,0.000000e+00,6.017000e+03,0.000,0.000
85,Gibraltar,2.111000e+02,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
86,Greece,5.008400e+04,3791.000000,6.300000e+03,5.760000e+03,0.000,0.000
87,Greenland,5.150000e+02,0.000000,0.000000e+00,4.000000e+02,0.000,0.000
88,Grenada,2.244572e+02,0.108333,0.000000e+00,0.000000e+00,0.000,0.000
89,Guadeloupe,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
90,Guam,1.652000e+03,51.600000,5.000000e-01,0.000000e+00,0.000,0.000
91,Guatemala,1.279318e+04,208.310000,3.195000e+02,5.218465e+03,249.750,0.000
92,Guernsey,5.380000e+01,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
93,Guinea,1.875500e+03,0.000000,0.000000e+00,1.181500e+03,0.000,0.000
94,Guinea-Bissau,8.660000e+01,6.920000,0.000000e+00,0.000000e+00,0.000,0.000
95,Guyana,1.103162e+03,11.120000,3.500000e-01,0.000000e+00,0.000,0.000
96,Haiti,1.028000e+03,1.000000,0.000000e+00,1.970000e+02,0.000,0.000
97,Honduras,9.506000e+03,993.000000,9.290000e+02,3.262000e+03,297.000,0.000
98,Hungary,2.983200e+04,620.000000,6.070000e+02,2.220000e+02,12.000,15733.000
99,Iceland,1.943300e+04,0.000000,4.000000e+00,1.381400e+04,6010.000,0.000
100,India,1.413661e+06,39728.000000,6.429400e+04,1.349910e+05,0.000,37813.000
101,Indonesia,2.737930e+05,6.600000,0.000000e+00,1.977400e+04,12804.000,0.000
102,Iran (Islamic Rep. of),2.963290e+05,286.000000,5.850000e+02,1.505100e+04,0.000,7514.000
103,Iraq,8.043100e+04,377.000000,0.000000e+00,1.818000e+03,0.000,0.000
104,Ireland,3.035300e+04,0.000000,8.640000e+03,9.320000e+02,0.000,0.000
105,Isle of Man,4.574000e+02,0.000000,0.000000e+00,3.000000e+00,0.000,0.000
106,Israel,6.659000e+04,1574.000000,1.830000e+02,0.000000e+00,0.000,0.000
107,Italy,2.798440e+05,22654.000000,1.771600e+04,5.050300e+04,6105.000,0.000
108,Jamaica,4.383000e+03,46.000000,3.020000e+02,1.790000e+02,0.000,0.000
109,Japan,1.026696e+06,62668.000000,7.481000e+03,8.834800e+04,2524.000,64929.000
110,Jersey,4.294000e+01,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
111,Jordan,1.833860e+04,836.200000,7.070000e+02,2.270000e+01,0.000,0.000
112,Kazakhstan,9.462400e+04,116.000000,4.270000e+02,1.033000e+04,0.000,0.000
113,Kenya,1.105300e+04,0.000000,3.760000e+02,3.986000e+03,5128.000,0.000
114,Kiribati,2.990000e+01,4.900000,0.000000e+00,0.000000e+00,0.000,0.000
115,"Korea, Dem.Ppl's.Rep.",1.397000e+04,15.000000,0.000000e+00,1.280000e+04,0.000,0.000
116,"Korea, Republic of",5.668450e+05,9208.000000,2.465000e+03,7.270000e+03,0.000,133505.000
117,Kosovo,5.380000e+03,2.000000,3.000000e+01,2.730000e+02,0.000,0.000
118,Kuwait,6.579100e+04,4.000000,0.000000e+00,0.000000e+00,0.000,0.000
119,Kyrgyzstan,1.553400e+04,0.000000,0.000000e+00,1.431800e+04,0.000,0.000
120,Lao People's Dem. Rep.,3.404990e+04,11.500000,0.000000e+00,2.184370e+04,0.000,0.000
121,Latvia,6.203000e+03,1.000000,1.220000e+02,2.432000e+03,0.000,0.000
122,Lebanon,2.310200e+04,48.000000,0.000000e+00,3.480000e+02,0.000,0.000
123,Lesotho,5.166600e+02,0.000000,0.000000e+00,5.166600e+02,0.000,0.000
124,Liberia,3.270000e+02,4.000000,0.000000e+00,1.220000e+02,0.000,0.000
125,Libya,3.332900e+04,8.000000,0.000000e+00,0.000000e+00,0.000,0.000
126,Liechtenstein,8.900000e+01,25.200000,0.000000e+00,6.190000e+01,0.000,0.000
127,Lithuania,3.314000e+03,87.000000,1.144000e+03,9.600000e+02,0.000,0.000
128,Luxembourg,2.171000e+03,120.000000,2.550000e+02,1.336000e+03,0.000,0.000
129,Madagascar,2.047000e+03,0.120000,0.000000e+00,9.683000e+02,0.000,0.000
130,Malawi,2.055655e+03,0.000000,0.000000e+00,2.080655e+03,0.000,0.000
131,Malaysia,1.698820e+05,632.000000,0.000000e+00,2.632500e+04,0.000,0.000
132,Maldives,7.510000e+02,14.000000,2.000000e+00,0.000000e+00,0.000,0.000
133,Mali,3.248000e+03,2.900000,0.000000e+00,1.130000e+03,0.000,0.000
134,Malta,1.912000e+03,190.000000,6.000000e-02,0.000000e+00,0.000,0.000
135,Marshall Islands,8.950000e+01,2.000000,0.000000e+00,0.000000e+00,0.000,0.000
136,Martinique,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
137,Mauritania,1.175700e+03,144.000000,1.040000e+02,0.000000e+00,0.000,0.000
138,Mauritius,3.087500e+03,49.300000,1.510000e+01,1.245000e+02,0.000,0.000
139,Mayotte,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
140,Mexico,3.218010e+05,1856.000000,1.287500e+04,3.263600e+04,5283.000,13675.000
141,Micronesia (Fed. States of),6.640000e+01,2.700000,1.100000e+00,1.100000e-01,0.000,0.000
142,Mongolia,5.686000e+03,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
143,Montenegro,3.545600e+03,2.300000,1.410000e+02,2.092000e+03,0.000,0.000
144,Montserrat,1.950000e+01,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
145,Morocco,3.577700e+04,950.000000,3.841000e+03,1.998000e+03,0.000,0.000
146,Mozambique,1.655000e+04,2.000000,0.000000e+00,1.392100e+04,0.000,0.000
147,Myanmar,2.433200e+04,10.000000,0.000000e+00,1.482600e+04,0.000,0.000
148,Namibia,1.296000e+03,180.000000,1.810000e+01,1.144000e+03,0.000,0.000
149,Nauru,3.582000e+01,1.180000,0.000000e+00,0.000000e+00,0.000,0.000
150,Nepal,4.854000e+03,1.000000,1.400000e+01,4.898000e+03,0.000,0.000
151,Neth. Antilles (former),0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
152,Netherlands,1.110450e+05,3693.000000,1.056300e+04,7.200000e+01,0.000,3515.000
153,New Caledonia,3.485000e+03,46.700000,4.500000e+01,3.172000e+02,0.000,0.000
154,New Zealand,4.312700e+04,99.000000,2.068000e+03,2.628700e+04,7961.000,0.000
155,Nicaragua,4.233000e+03,24.000000,8.010000e+02,4.110000e+02,801.000,0.000
156,Niger,4.420000e+02,32.700000,0.000000e+00,0.000000e+00,0.000,0.000
157,Nigeria,3.523900e+04,28.000000,0.000000e+00,6.458000e+03,0.000,0.000
158,Niue,3.700000e+00,0.469000,0.000000e+00,0.000000e+00,0.000,0.000
159,North Macedonia,5.269361e+03,22.788000,9.733800e+01,1.791366e+03,0.000,0.000
160,Northern Mariana Islands,3.900000e+02,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
161,Norway,1.462380e+05,2.000000,3.876000e+03,1.395090e+05,0.000,0.000
162,Oman,3.719200e+04,4.000000,0.000000e+00,0.000000e+00,0.000,0.000
163,Other Asia,2.635690e+05,2739.000000,1.686000e+03,7.839000e+03,0.000,27682.000
164,Pacific Islands (former),0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
165,Pakistan,1.306710e+05,714.000000,2.124000e+03,2.772900e+04,0.000,9849.000
166,Palau,8.900000e+01,0.250000,0.000000e+00,0.000000e+00,0.000,0.000
167,Panama,1.086060e+04,232.600000,5.879000e+02,7.857800e+03,0.000,0.000
168,Papua New Guinea,4.291400e+03,1.390000,0.000000e+00,8.760000e+02,425.000,0.000
169,Paraguay,5.872954e+04,0.000000,0.000000e+00,5.921090e+04,0.000,0.000
170,Peru,5.423900e+04,797.000000,1.502000e+03,3.073700e+04,0.000,0.000
171,Philippines,9.043430e+04,1249.100000,1.152900e+03,9.400800e+03,10435.300,0.000
172,Poland,1.552590e+05,300.000000,1.279900e+04,2.387000e+03,0.000,0.000
173,Portugal,5.819700e+04,1006.000000,1.261600e+04,1.362900e+04,230.000,0.000
174,Puerto Rico,1.616700e+04,81.000000,1.080000e+02,3.800000e+01,0.000,0.000
175,Qatar,4.465400e+04,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
176,Republic of Moldova,8.220000e+02,1.000000,2.300000e+01,4.400000e+01,0.000,0.000
177,Reunion,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
178,Romania,6.017500e+04,1771.000000,6.322000e+03,1.809700e+04,0.000,11377.000
179,Russian Federation,1.044537e+06,719.945000,2.318830e+02,1.930273e+05,426.343,204569.141
180,Rwanda,7.280000e+02,18.100000,0.000000e+00,3.501000e+02,0.000,0.000
181,Réunion,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
182,Samoa,1.493700e+02,21.117000,1.340000e-01,4.280000e+01,0.000,0.000
183,Sao Tome and Principe,8.480000e+01,0.400000,0.000000e+00,5.900000e+00,0.000,0.000
184,Saudi Arabia,3.121930e+05,1.000000,3.555000e+00,0.000000e+00,0.000,0.000
185,Senegal,4.447000e+03,80.000000,0.000000e+00,0.000000e+00,0.000,0.000
186,Serbia,3.478400e+04,13.000000,1.500000e+02,1.139300e+04,0.000,0.000
187,Serbia and Montenegro,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
188,Seychelles,5.057000e+02,3.500000,7.400000e+00,0.000000e+00,0.000,0.000
189,Sierra Leone,1.563000e+02,5.800000,0.000000e+00,7.830000e+01,0.000,0.000
190,Singapore,5.290480e+04,169.000000,0.000000e+00,0.000000e+00,0.000,0.000
191,Sint Maarten (Dutch part),2.914000e+02,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
192,Slovakia,2.486300e+04,585.000000,6.000000e+00,3.879000e+03,0.000,14843.000
193,Slovenia,1.544700e+04,255.000000,6.000000e+00,4.893000e+03,0.000,5776.000
194,Solomon Islands,1.073380e+02,2.895000,0.000000e+00,8.910000e-01,0.000,0.000
195,Somalia,3.500000e+02,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
196,South Africa,2.422110e+05,4241.000000,6.467000e+03,5.694000e+03,0.000,11580.000
197,South Sudan,5.710000e+02,3.000000,0.000000e+00,0.000000e+00,0.000,0.000
198,Spain,2.638270e+05,12744.000000,5.089600e+04,3.680300e+04,0.000,55766.000
199,Sri Lanka,1.537366e+04,186.296000,3.263330e+02,6.400734e+03,0.000,0.000
200,St. Helena and Depend.,1.193400e+01,1.654000,2.503000e+00,0.000000e+00,0.000,0.000
201,St. Kitts-Nevis,2.270000e+02,3.000000,8.000000e+00,0.000000e+00,0.000,0.000
202,St. Lucia,3.869400e+02,5.000000,0.000000e+00,0.000000e+00,0.000,0.000
203,St. Pierre-Miquelon,4.950800e+01,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
204,St. Vincent-Grenadines,1.461990e+02,1.964000,0.000000e+00,2.377000e+01,0.000,0.000
205,State of Palestine,4.204000e+02,60.000000,0.000000e+00,0.000000e+00,0.000,0.000
206,Sudan,1.591970e+04,0.000000,0.000000e+00,9.657000e+03,0.000,0.000
207,Sudan (former),0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
208,Suriname,2.209520e+03,4.400000,0.000000e+00,9.997000e+02,0.000,0.000
209,Sweden,1.596770e+05,407.000000,1.662300e+04,6.225000e+04,0.000,68549.000
210,Switzerland,6.744900e+04,1944.000000,1.220000e+02,3.780300e+04,0.000,25513.000
211,Syrian Arab Republic,1.612900e+04,0.000000,0.000000e+00,7.540000e+02,0.000,0.000
212,Tajikistan,1.953800e+04,0.000000,0.000000e+00,1.839440e+04,0.000,0.000
213,Thailand,1.794740e+05,4537.000000,1.641000e+03,7.565000e+03,1.000,0.000
214,Timor-Leste,4.254550e+02,0.936000,0.000000e+00,1.500000e+00,0.000,0.000
215,Togo,5.750000e+02,3.000000,0.000000e+00,1.962000e+02,0.000,0.000
216,Tonga,6.570000e+01,4.147000,2.200000e-02,0.000000e+00,0.000,0.000
217,Trinidad and Tobago,8.889000e+03,5.000000,0.000000e+00,0.000000e+00,0.000,0.000
218,Tunisia,2.055500e+04,174.000000,4.530000e+02,1.700000e+01,0.000,0.000
219,Turkey,2.905020e+05,7800.000000,1.994900e+04,5.993800e+04,7431.000,0.000
220,Turkmenistan,2.083100e+04,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
221,Turks and Caicos Islands,2.490000e+02,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
222,Tuvalu,6.914000e+00,2.048200,0.000000e+00,0.000000e+00,0.000,0.000
223,USSR (former),0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
224,Uganda,4.039500e+03,32.200000,0.000000e+00,3.601900e+03,0.000,0.000
225,Ukraine,1.470970e+05,1107.000000,1.188000e+03,1.200700e+04,0.000,84398.000
226,United Arab Emirates,1.312710e+05,1303.100000,0.000000e+00,0.000000e+00,0.000,0.000
227,United Kingdom,3.174670e+05,12858.000000,5.690400e+04,7.988000e+03,0.000,65064.000
228,United Rep. of Tanzania,7.230000e+03,88.000000,0.000000e+00,2.234000e+03,0.000,0.000
229,United States,4.236928e+06,85184.000000,2.758340e+05,3.170040e+05,18773.000,841329.000
230,United States Virgin Is.,5.648500e+02,21.240000,0.000000e+00,0.000000e+00,0.000,0.000
231,Uruguay,1.419360e+04,413.500000,4.732200e+03,6.556600e+03,0.000,0.000
232,Uzbekistan,6.156000e+04,0.200000,0.000000e+00,5.897319e+03,0.000,0.000
233,Vanuatu,7.930400e+01,5.300000,4.770000e+00,7.080000e+00,0.000,0.000
234,Venezuela (Bolivar. Rep.),9.876400e+04,6.000000,7.100000e+01,5.815000e+04,0.000,0.000
235,Viet Nam,2.070550e+05,23.000000,3.170000e+02,8.420500e+04,0.000,0.000
236,Wallis and Futuna Is.,1.786800e+01,0.160000,0.000000e+00,3.400000e-01,0.000,0.000
237,Yemen,3.139000e+03,458.000000,0.000000e+00,0.000000e+00,0.000,0.000
238,Yemen Arab Rep. (former),0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
239,"Yemen, Dem. (former)",0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
240,"Yugoslavia, SFR (former)",0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000
241,Zambia,1.578281e+04,0.930000,0.000000e+00,1.266600e+04,0.000,0.000
242,Zimbabwe,9.243000e+03,0.000000,0.000000e+00,5.049000e+03,0.000,0.000
243,Total,2.516194e+07,565067.347833,1.272283e+06,4.305553e+06,87933.264,2708655.220

In [74]:
energy_production_2018['others'] = energy_production_2018['total_prod'] - (energy_production_2018['solar'] + energy_production_2018['wind'] + energy_production_2018['hydro']
                                    + energy_production_2018['geothermal'] + energy_production_2018['nuclear'])
#energy_production_2018.iloc[:,4:6]
energy_production_2018

id,country,total_prod,solar,wind,hydro,geothermal,nuclear,others
0,Afghanistan,9.790000e+02,0.000000,0.000000e+00,1.065790e+03,0.000,0.000,-8.679000e+01
1,Albania,8.506920e+03,0.000000,0.000000e+00,8.552150e+03,0.000,0.000,-4.523000e+01
2,Algeria,6.896200e+04,62.000000,8.400000e+01,6.380000e+02,0.000,0.000,6.817800e+04
3,American Samoa,1.605000e+02,4.832000,0.000000e+00,0.000000e+00,0.000,0.000,1.556680e+02
4,Andorra,1.394200e+02,0.900000,0.000000e+00,1.182000e+02,0.000,0.000,2.032000e+01
5,Angola,1.144500e+04,18.000000,0.000000e+00,8.734000e+03,0.000,0.000,2.693000e+03
6,Anguilla,8.400000e+01,0.300000,0.000000e+00,0.000000e+00,0.000,0.000,8.370000e+01
7,Antigua and Barbuda,3.350000e+02,13.000000,0.000000e+00,0.000000e+00,0.000,0.000,3.220000e+02
8,Argentina,1.483070e+05,108.000000,1.413000e+03,4.143000e+04,0.000,6453.000,9.890300e+04
9,Armenia,7.437445e+03,19.463000,1.881000e+00,2.318175e+03,0.000,2076.079,3.021847e+03
10,Aruba,9.828000e+02,0.000000,1.749000e+02,0.000000e+00,0.000,0.000,8.079000e+02
11,Australia,2.472920e+05,9929.000000,1.516400e+04,1.602100e+04,0.000,0.000,2.061780e+05
12,Austria,6.512000e+04,1438.000000,6.030000e+03,4.121600e+04,0.000,0.000,1.643600e+04
13,Azerbaijan,2.436050e+04,39.300000,8.270002e+01,1.768000e+03,0.000,0.000,2.247050e+04
14,Bahamas,2.200000e+03,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,2.200000e+03
15,Bahrain,2.951700e+04,9.000000,1.000000e+00,0.000000e+00,0.000,0.000,2.950700e+04
16,Bangladesh,7.419530e+04,291.300000,6.000000e+00,1.085800e+03,0.000,0.000,7.281220e+04
17,Barbados,1.038000e+03,44.090000,0.000000e+00,0.000000e+00,0.000,0.000,9.939100e+02
18,Belarus,3.670700e+04,118.000000,9.900000e+01,3.240000e+02,0.000,0.000,3.616600e+04
19,Belgium,7.198100e+04,3902.000000,7.465000e+03,1.329000e+03,0.000,28597.000,3.068800e+04
20,Belize,6.243735e+02,0.000000,0.000000e+00,2.496955e+02,0.000,0.000,3.746779e+02
21,Benin,2.020000e+02,5.000000,0.000000e+00,0.000000e+00,0.000,0.000,1.970000e+02
22,Bermuda,6.053000e+02,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,6.053000e+02
23,Bhutan,6.960110e+03,0.662000,1.130000e+00,6.958640e+03,0.000,0.000,-3.220000e-01
24,Bolivia (Plur. State of),9.506000e+03,127.000000,5.900000e+01,2.613000e+03,0.000,0.000,6.707000e+03
25,"Bonaire, St Eustatius, Saba",1.250000e+02,5.000000,4.300000e+01,0.000000e+00,0.000,0.000,7.700000e+01
26,Bosnia and Herzegovina,1.791200e+04,21.000000,1.030000e+02,6.519000e+03,0.000,0.000,1.126900e+04
27,Botswana,2.729895e+03,5.000000,0.000000e+00,0.000000e+00,0.000,0.000,2.724895e+03
28,Brazil,5.935760e+05,3461.000000,4.847500e+04,3.889710e+05,0.000,15674.000,1.369950e+05
29,British Virgin Islands,1.400000e+02,0.300000,6.000000e-01,0.000000e+00,0.000,0.000,1.391000e+02
30,Brunei Darussalam,3.683000e+03,2.000000,0.000000e+00,0.000000e+00,0.000,0.000,3.681000e+03
31,Bulgaria,4.271500e+04,1343.000000,1.318000e+03,5.423000e+03,0.000,16125.000,1.850600e+04
32,Burkina Faso,9.660000e+02,54.100000,0.000000e+00,9.140000e+01,0.000,0.000,8.205000e+02
33,Burundi,2.158700e+02,7.930000,0.000000e+00,1.330300e+02,0.000,0.000,7.491000e+01
34,Cabo Verde,4.821000e+02,10.400000,9.300000e+01,0.000000e+00,0.000,0.000,3.787000e+02
35,Cambodia,7.738000e+03,16.000000,0.000000e+00,4.737000e+03,0.000,0.000,2.985000e+03
36,Cameroon,8.374000e+03,19.000000,0.000000e+00,5.023000e+03,0.000,0.000,3.332000e+03
37,Canada,6.358120e+05,3796.000000,3.318300e+04,3.859510e+05,0.000,100731.000,1.121510e+05
38,Cayman Islands,6.577200e+02,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,6.577200e+02
39,Central African Rep.,1.470000e+02,0.430000,0.000000e+00,1.460000e+02,0.000,0.000,5.700000e-01
40,Chad,2.210000e+02,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,2.210000e+02
41,Chile,7.988300e+04,5217.000000,3.588000e+03,2.336700e+04,214.000,0.000,4.749700e+04
42,China,6.612610e+06,177517.000000,3.659710e+05,1.231787e+06,0.000,294359.000,4.542976e+06
43,"China, Hong Kong SAR",3.656500e+04,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,3.656500e+04
44,"China, Macao SAR",5.990000e+02,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,5.990000e+02
45,Colombia,7.784400e+04,21.000000,4.300000e+01,5.993300e+04,0.000,0.000,1.784700e+04
46,Comoros,8.670900e+01,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,8.670900e+01
47,Congo,3.117000e+03,1.000000,0.000000e+00,1.239000e+03,0.000,0.000,1.877000e+03
48,Cook Islands,4.140000e+01,10.500000,0.000000e+00,0.000000e+00,0.000,0.000,3.090000e+01
49,Costa Rica,1.137644e+04,55.338300,1.798875e+03,8.342897e+03,968.571,0.000,2.107587e+02
50,Croatia,1.318200e+04,75.000000,1.335000e+03,7.785000e+03,2.000,0.000,3.985000e+03
51,Cuba,1.887880e+04,124.300000,4.350000e+01,1.455000e+02,0.000,0.000,1.856550e+04
52,Curaçao,8.490000e+02,19.000000,2.340000e+02,0.000000e+00,0.000,0.000,5.960000e+02
53,Cyprus,4.828000e+03,200.000000,2.214300e+02,0.000000e+00,0.000,0.000,4.406570e+03
54,Czechia,8.086100e+04,2359.000000,6.090000e+02,2.679000e+03,0.000,29921.000,4.529300e+04
55,Czechoslovakia (former),0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,0.000000e+00
56,Côte d'Ivoire,9.866000e+03,0.000000,0.000000e+00,2.962000e+03,0.000,0.000,6.904000e+03
57,Dem. Rep. of the Congo,1.054800e+04,26.680000,0.000000e+00,1.106400e+04,0.000,0.000,-5.426800e+02
58,Denmark,2.932300e+04,953.000000,1.389900e+04,1.500000e+01,0.000,0.000,1.445600e+04
59,Djibouti,5.800000e+01,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,5.800000e+01
60,Dominica,1.063040e+02,0.000000,0.000000e+00,2.418000e+01,0.000,0.000,8.212400e+01
61,Dominican Republic,1.895831e+04,230.440000,4.974800e+02,1.779510e+03,0.000,0.000,1.645088e+04
62,Ecuador,2.882910e+04,38.080000,8.026000e+01,2.067800e+04,0.000,0.000,8.032760e+03
63,Egypt,1.906820e+05,537.000000,2.234000e+03,1.272600e+04,0.000,0.000,1.751850e+05
64,El Salvador,5.238400e+03,289.300000,0.000000e+00,1.630600e+03,1545.300,0.000,1.773200e+03
65,Equatorial Guinea,7.360960e+02,0.000000,0.000000e+00,2.000000e+02,0.000,0.000,5.360960e+02
66,Eritrea,4.730000e+02,43.000000,2.000000e+00,0.000000e+00,0.000,0.000,4.280000e+02
67,Estonia,1.093300e+04,31.000000,6.360000e+02,1.500000e+01,0.000,0.000,1.025100e+04
68,Eswatini,5.190000e+02,0.115000,0.000000e+00,2.080000e+02,0.000,0.000,3.108850e+02
69,Ethiopia,1.355300e+04,20.000000,5.330000e+02,1.301800e+04,0.000,0.000,-1.800000e+01
70,"Ethiopia, incl. Eritrea",0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,0.000000e+00
71,Faeroe Islands,3.410000e+02,0.000000,6.380000e+01,1.081000e+02,0.000,0.000,1.691000e+02
72,Falkland Is. (Malvinas),1.765000e+01,0.000000,5.412200e+00,0.000000e+00,0.000,0.000,1.223780e+01
73,Fiji,9.930080e+02,9.500000,2.558000e+00,5.667090e+02,0.000,0.000,4.142410e+02
74,Finland,6.753300e+04,90.000000,5.839000e+03,1.330100e+04,0.000,22793.000,2.551000e+04
75,France,5.580870e+05,10569.000000,2.860000e+04,7.059000e+04,129.000,412942.000,3.525700e+04
76,French Guiana,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,0.000000e+00
77,French Polynesia,6.860000e+02,37.000000,8.000000e-02,1.640000e+02,0.000,0.000,4.849200e+02
78,Gabon,2.586720e+03,2.000000,0.000000e+00,1.056530e+03,0.000,0.000,1.528190e+03
79,Gambia,3.085170e+02,3.500000,1.000000e-01,0.000000e+00,0.000,0.000,3.049170e+02
80,Georgia,1.193370e+04,0.000000,8.430000e+01,9.949400e+03,0.000,0.000,1.900000e+03
81,German Dem. R. (former),0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,0.000000e+00
82,Germany,6.091910e+05,45784.000000,1.099510e+05,2.414300e+04,178.000,76005.000,3.531300e+05
83,"Germany, Fed. R. (former)",0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,0.000000e+00
84,Ghana,1.619600e+04,32.800000,0.000000e+00,6.017000e+03,0.000,0.000,1.014620e+04
85,Gibraltar,2.111000e+02,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,2.111000e+02
86,Greece,5.008400e+04,3791.000000,6.300000e+03,5.760000e+03,0.000,0.000,3.423300e+04
87,Greenland,5.150000e+02,0.000000,0.000000e+00,4.000000e+02,0.000,0.000,1.150000e+02
88,Grenada,2.244572e+02,0.108333,0.000000e+00,0.000000e+00,0.000,0.000,2.243489e+02
89,Guadeloupe,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,0.000000e+00
90,Guam,1.652000e+03,51.600000,5.000000e-01,0.000000e+00,0.000,0.000,1.599900e+03
91,Guatemala,1.279318e+04,208.310000,3.195000e+02,5.218465e+03,249.750,0.000,6.797153e+03
92,Guernsey,5.380000e+01,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,5.380000e+01
93,Guinea,1.875500e+03,0.000000,0.000000e+00,1.181500e+03,0.000,0.000,6.940000e+02
94,Guinea-Bissau,8.660000e+01,6.920000,0.000000e+00,0.000000e+00,0.000,0.000,7.968000e+01
95,Guyana,1.103162e+03,11.120000,3.500000e-01,0.000000e+00,0.000,0.000,1.091692e+03
96,Haiti,1.028000e+03,1.000000,0.000000e+00,1.970000e+02,0.000,0.000,8.300000e+02
97,Honduras,9.506000e+03,993.000000,9.290000e+02,3.262000e+03,297.000,0.000,4.025000e+03
98,Hungary,2.983200e+04,620.000000,6.070000e+02,2.220000e+02,12.000,15733.000,1.263800e+04
99,Iceland,1.943300e+04,0.000000,4.000000e+00,1.381400e+04,6010.000,0.000,-3.950000e+02
100,India,1.413661e+06,39728.000000,6.429400e+04,1.349910e+05,0.000,37813.000,1.136835e+06
101,Indonesia,2.737930e+05,6.600000,0.000000e+00,1.977400e+04,12804.000,0.000,2.412084e+05
102,Iran (Islamic Rep. of),2.963290e+05,286.000000,5.850000e+02,1.505100e+04,0.000,7514.000,2.728930e+05
103,Iraq,8.043100e+04,377.000000,0.000000e+00,1.818000e+03,0.000,0.000,7.823600e+04
104,Ireland,3.035300e+04,0.000000,8.640000e+03,9.320000e+02,0.000,0.000,2.078100e+04
105,Isle of Man,4.574000e+02,0.000000,0.000000e+00,3.000000e+00,0.000,0.000,4.544000e+02
106,Israel,6.659000e+04,1574.000000,1.830000e+02,0.000000e+00,0.000,0.000,6.483300e+04
107,Italy,2.798440e+05,22654.000000,1.771600e+04,5.050300e+04,6105.000,0.000,1.828660e+05
108,Jamaica,4.383000e+03,46.000000,3.020000e+02,1.790000e+02,0.000,0.000,3.856000e+03
109,Japan,1.026696e+06,62668.000000,7.481000e+03,8.834800e+04,2524.000,64929.000,8.007460e+05
110,Jersey,4.294000e+01,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,4.294000e+01
111,Jordan,1.833860e+04,836.200000,7.070000e+02,2.270000e+01,0.000,0.000,1.677270e+04
112,Kazakhstan,9.462400e+04,116.000000,4.270000e+02,1.033000e+04,0.000,0.000,8.375100e+04
113,Kenya,1.105300e+04,0.000000,3.760000e+02,3.986000e+03,5128.000,0.000,1.563000e+03
114,Kiribati,2.990000e+01,4.900000,0.000000e+00,0.000000e+00,0.000,0.000,2.500000e+01
115,"Korea, Dem.Ppl's.Rep.",1.397000e+04,15.000000,0.000000e+00,1.280000e+04,0.000,0.000,1.155000e+03
116,"Korea, Republic of",5.668450e+05,9208.000000,2.465000e+03,7.270000e+03,0.000,133505.000,4.143970e+05
117,Kosovo,5.380000e+03,2.000000,3.000000e+01,2.730000e+02,0.000,0.000,5.075000e+03
118,Kuwait,6.579100e+04,4.000000,0.000000e+00,0.000000e+00,0.000,0.000,6.578700e+04
119,Kyrgyzstan,1.553400e+04,0.000000,0.000000e+00,1.431800e+04,0.000,0.000,1.216000e+03
120,Lao People's Dem. Rep.,3.404990e+04,11.500000,0.000000e+00,2.184370e+04,0.000,0.000,1.219470e+04
121,Latvia,6.203000e+03,1.000000,1.220000e+02,2.432000e+03,0.000,0.000,3.648000e+03
122,Lebanon,2.310200e+04,48.000000,0.000000e+00,3.480000e+02,0.000,0.000,2.270600e+04
123,Lesotho,5.166600e+02,0.000000,0.000000e+00,5.166600e+02,0.000,0.000,0.000000e+00
124,Liberia,3.270000e+02,4.000000,0.000000e+00,1.220000e+02,0.000,0.000,2.010000e+02
125,Libya,3.332900e+04,8.000000,0.000000e+00,0.000000e+00,0.000,0.000,3.332100e+04
126,Liechtenstein,8.900000e+01,25.200000,0.000000e+00,6.190000e+01,0.000,0.000,1.900000e+00
127,Lithuania,3.314000e+03,87.000000,1.144000e+03,9.600000e+02,0.000,0.000,1.123000e+03
128,Luxembourg,2.171000e+03,120.000000,2.550000e+02,1.336000e+03,0.000,0.000,4.600000e+02
129,Madagascar,2.047000e+03,0.120000,0.000000e+00,9.683000e+02,0.000,0.000,1.078580e+03
130,Malawi,2.055655e+03,0.000000,0.000000e+00,2.080655e+03,0.000,0.000,-2.500000e+01
131,Malaysia,1.698820e+05,632.000000,0.000000e+00,2.632500e+04,0.000,0.000,1.429250e+05
132,Maldives,7.510000e+02,14.000000,2.000000e+00,0.000000e+00,0.000,0.000,7.350000e+02
133,Mali,3.248000e+03,2.900000,0.000000e+00,1.130000e+03,0.000,0.000,2.115100e+03
134,Malta,1.912000e+03,190.000000,6.000000e-02,0.000000e+00,0.000,0.000,1.721940e+03
135,Marshall Islands,8.950000e+01,2.000000,0.000000e+00,0.000000e+00,0.000,0.000,8.750000e+01
136,Martinique,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,0.000000e+00
137,Mauritania,1.175700e+03,144.000000,1.040000e+02,0.000000e+00,0.000,0.000,9.277000e+02
138,Mauritius,3.087500e+03,49.300000,1.510000e+01,1.245000e+02,0.000,0.000,2.898600e+03
139,Mayotte,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,0.000000e+00
140,Mexico,3.218010e+05,1856.000000,1.287500e+04,3.263600e+04,5283.000,13675.000,2.554760e+05
141,Micronesia (Fed. States of),6.640000e+01,2.700000,1.100000e+00,1.100000e-01,0.000,0.000,6.249000e+01
142,Mongolia,5.686000e+03,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,5.686000e+03
143,Montenegro,3.545600e+03,2.300000,1.410000e+02,2.092000e+03,0.000,0.000,1.310300e+03
144,Montserrat,1.950000e+01,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,1.950000e+01
145,Morocco,3.577700e+04,950.000000,3.841000e+03,1.998000e+03,0.000,0.000,2.898800e+04
146,Mozambique,1.655000e+04,2.000000,0.000000e+00,1.392100e+04,0.000,0.000,2.627000e+03
147,Myanmar,2.433200e+04,10.000000,0.000000e+00,1.482600e+04,0.000,0.000,9.496000e+03
148,Namibia,1.296000e+03,180.000000,1.810000e+01,1.144000e+03,0.000,0.000,-4.610000e+01
149,Nauru,3.582000e+01,1.180000,0.000000e+00,0.000000e+00,0.000,0.000,3.464000e+01
150,Nepal,4.854000e+03,1.000000,1.400000e+01,4.898000e+03,0.000,0.000,-5.900000e+01
151,Neth. Antilles (former),0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,0.000000e+00
152,Netherlands,1.110450e+05,3693.000000,1.056300e+04,7.200000e+01,0.000,3515.000,9.320200e+04
153,New Caledonia,3.485000e+03,46.700000,4.500000e+01,3.172000e+02,0.000,0.000,3.076100e+03
154,New Zealand,4.312700e+04,99.000000,2.068000e+03,2.628700e+04,7961.000,0.000,6.712000e+03
155,Nicaragua,4.233000e+03,24.000000,8.010000e+02,4.110000e+02,801.000,0.000,2.196000e+03
156,Niger,4.420000e+02,32.700000,0.000000e+00,0.000000e+00,0.000,0.000,4.093000e+02
157,Nigeria,3.523900e+04,28.000000,0.000000e+00,6.458000e+03,0.000,0.000,2.875300e+04
158,Niue,3.700000e+00,0.469000,0.000000e+00,0.000000e+00,0.000,0.000,3.231000e+00
159,North Macedonia,5.269361e+03,22.788000,9.733800e+01,1.791366e+03,0.000,0.000,3.357869e+03
160,Northern Mariana Islands,3.900000e+02,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,3.900000e+02
161,Norway,1.462380e+05,2.000000,3.876000e+03,1.395090e+05,0.000,0.000,2.851000e+03
162,Oman,3.719200e+04,4.000000,0.000000e+00,0.000000e+00,0.000,0.000,3.718800e+04
163,Other Asia,2.635690e+05,2739.000000,1.686000e+03,7.839000e+03,0.000,27682.000,2.236230e+05
164,Pacific Islands (former),0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,0.000000e+00
165,Pakistan,1.306710e+05,714.000000,2.124000e+03,2.772900e+04,0.000,9849.000,9.025500e+04
166,Palau,8.900000e+01,0.250000,0.000000e+00,0.000000e+00,0.000,0.000,8.875000e+01
167,Panama,1.086060e+04,232.600000,5.879000e+02,7.857800e+03,0.000,0.000,2.182300e+03
168,Papua New Guinea,4.291400e+03,1.390000,0.000000e+00,8.760000e+02,425.000,0.000,2.989010e+03
169,Paraguay,5.872954e+04,0.000000,0.000000e+00,5.921090e+04,0.000,0.000,-4.813600e+02
170,Peru,5.423900e+04,797.000000,1.502000e+03,3.073700e+04,0.000,0.000,2.120300e+04
171,Philippines,9.043430e+04,1249.100000,1.152900e+03,9.400800e+03,10435.300,0.000,6.819620e+04
172,Poland,1.552590e+05,300.000000,1.279900e+04,2.387000e+03,0.000,0.000,1.397730e+05
173,Portugal,5.819700e+04,1006.000000,1.261600e+04,1.362900e+04,230.000,0.000,3.071600e+04
174,Puerto Rico,1.616700e+04,81.000000,1.080000e+02,3.800000e+01,0.000,0.000,1.594000e+04
175,Qatar,4.465400e+04,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,4.465400e+04
176,Republic of Moldova,8.220000e+02,1.000000,2.300000e+01,4.400000e+01,0.000,0.000,7.540000e+02
177,Reunion,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,0.000000e+00
178,Romania,6.017500e+04,1771.000000,6.322000e+03,1.809700e+04,0.000,11377.000,2.260800e+04
179,Russian Federation,1.044537e+06,719.945000,2.318830e+02,1.930273e+05,426.343,204569.141,6.455623e+05
180,Rwanda,7.280000e+02,18.100000,0.000000e+00,3.501000e+02,0.000,0.000,3.598000e+02
181,Réunion,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,0.000000e+00
182,Samoa,1.493700e+02,21.117000,1.340000e-01,4.280000e+01,0.000,0.000,8.531900e+01
183,Sao Tome and Principe,8.480000e+01,0.400000,0.000000e+00,5.900000e+00,0.000,0.000,7.850000e+01
184,Saudi Arabia,3.121930e+05,1.000000,3.555000e+00,0.000000e+00,0.000,0.000,3.121884e+05
185,Senegal,4.447000e+03,80.000000,0.000000e+00,0.000000e+00,0.000,0.000,4.367000e+03
186,Serbia,3.478400e+04,13.000000,1.500000e+02,1.139300e+04,0.000,0.000,2.322800e+04
187,Serbia and Montenegro,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,0.000000e+00
188,Seychelles,5.057000e+02,3.500000,7.400000e+00,0.000000e+00,0.000,0.000,4.948000e+02
189,Sierra Leone,1.563000e+02,5.800000,0.000000e+00,7.830000e+01,0.000,0.000,7.220000e+01
190,Singapore,5.290480e+04,169.000000,0.000000e+00,0.000000e+00,0.000,0.000,5.273580e+04
191,Sint Maarten (Dutch part),2.914000e+02,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,2.914000e+02
192,Slovakia,2.486300e+04,585.000000,6.000000e+00,3.879000e+03,0.000,14843.000,5.550000e+03
193,Slovenia,1.544700e+04,255.000000,6.000000e+00,4.893000e+03,0.000,5776.000,4.517000e+03
194,Solomon Islands,1.073380e+02,2.895000,0.000000e+00,8.910000e-01,0.000,0.000,1.035520e+02
195,Somalia,3.500000e+02,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,3.500000e+02
196,South Africa,2.422110e+05,4241.000000,6.467000e+03,5.694000e+03,0.000,11580.000,2.142290e+05
197,South Sudan,5.710000e+02,3.000000,0.000000e+00,0.000000e+00,0.000,0.000,5.680000e+02
198,Spain,2.638270e+05,12744.000000,5.089600e+04,3.680300e+04,0.000,55766.000,1.076180e+05
199,Sri Lanka,1.537366e+04,186.296000,3.263330e+02,6.400734e+03,0.000,0.000,8.460297e+03
200,St. Helena and Depend.,1.193400e+01,1.654000,2.503000e+00,0.000000e+00,0.000,0.000,7.777000e+00
201,St. Kitts-Nevis,2.270000e+02,3.000000,8.000000e+00,0.000000e+00,0.000,0.000,2.160000e+02
202,St. Lucia,3.869400e+02,5.000000,0.000000e+00,0.000000e+00,0.000,0.000,3.819400e+02
203,St. Pierre-Miquelon,4.950800e+01,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,4.950800e+01
204,St. Vincent-Grenadines,1.461990e+02,1.964000,0.000000e+00,2.377000e+01,0.000,0.000,1.204650e+02
205,State of Palestine,4.204000e+02,60.000000,0.000000e+00,0.000000e+00,0.000,0.000,3.604000e+02
206,Sudan,1.591970e+04,0.000000,0.000000e+00,9.657000e+03,0.000,0.000,6.262700e+03
207,Sudan (former),0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,0.000000e+00
208,Suriname,2.209520e+03,4.400000,0.000000e+00,9.997000e+02,0.000,0.000,1.205420e+03
209,Sweden,1.596770e+05,407.000000,1.662300e+04,6.225000e+04,0.000,68549.000,1.184800e+04
210,Switzerland,6.744900e+04,1944.000000,1.220000e+02,3.780300e+04,0.000,25513.000,2.067000e+03
211,Syrian Arab Republic,1.612900e+04,0.000000,0.000000e+00,7.540000e+02,0.000,0.000,1.537500e+04
212,Tajikistan,1.953800e+04,0.000000,0.000000e+00,1.839440e+04,0.000,0.000,1.143600e+03
213,Thailand,1.794740e+05,4537.000000,1.641000e+03,7.565000e+03,1.000,0.000,1.657300e+05
214,Timor-Leste,4.254550e+02,0.936000,0.000000e+00,1.500000e+00,0.000,0.000,4.230190e+02
215,Togo,5.750000e+02,3.000000,0.000000e+00,1.962000e+02,0.000,0.000,3.758000e+02
216,Tonga,6.570000e+01,4.147000,2.200000e-02,0.000000e+00,0.000,0.000,6.153100e+01
217,Trinidad and Tobago,8.889000e+03,5.000000,0.000000e+00,0.000000e+00,0.000,0.000,8.884000e+03
218,Tunisia,2.055500e+04,174.000000,4.530000e+02,1.700000e+01,0.000,0.000,1.991100e+04
219,Turkey,2.905020e+05,7800.000000,1.994900e+04,5.993800e+04,7431.000,0.000,1.953840e+05
220,Turkmenistan,2.083100e+04,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,2.083100e+04
221,Turks and Caicos Islands,2.490000e+02,0.000000,0.000000e+00,0.000000e+00,0.000,0.000,2.490000e+02

energy produced by type

In [75]:
#https://www.visualcapitalist.com/worlds-largest-energy-sources/

#explore

# Energy installed capacity

## Solar

In [76]:
solar_capacity = pd.read_csv('UNdata_solar_capacity.csv')
solar_capacity = solar_capacity.drop(['Commodity - Transaction','Unit','Quantity Footnotes'], axis=1)
solar_capacity.rename(columns={'Country or Area':'country', 'Year':'id', 'Quantity':'quantity'}, inplace=True)

In [77]:
solar_capacity.head()

   country      id  quantity
0  Albania  2019.0    14.996
1  Albania  2018.0     1.000
2  Albania  2017.0     1.000
3  Albania  2016.0     1.000
4  Albania  2015.0     0.000

In [78]:
solar_capacity['country'].unique()

array(['Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia (Plur. State of)',
       'Bonaire, St Eustatius, Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Rep.', 'Chile', 'China', 'Colombia', 'Congo',
       'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Curaçao',
       'Cyprus', 'Czechia', 'Dem. Rep. of the Congo', 'Denmark',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Falkland Is. (Malvinas)', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Germany',
       'Ghana', 'Greece', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guernsey', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'India', 'Indonesia', 'Iran (Islamic Rep. of)', 'Iraq',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kiribati', "Korea, Dem.Ppl's.Rep.",
       'Korea, Republic of', 'Kosovo', 'Kuwait', "Lao People's Dem. Rep.",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Fed. States of)', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'North Macedonia', 'Norway', 'Oman',
       'Other Asia', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Republic of Moldova', 'Reunion', 'Réunion', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'Sao Tome and Principe',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'St. Helena and Depend.', 'St. Kitts-Nevis', 'St. Lucia',
       'St. Vincent-Grenadines', 'State of Palestine', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United Rep. of Tanzania', 'United States',
       'United States Virgin Is.', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivar. Rep.)', 'Viet Nam', 'Wallis and Futuna Is.',
       'Yemen', 'Zambia', 'fnSeqID', '1'], dtype=object)

In [79]:
solar_capacity.loc[solar_capacity['country'] == 'fnSeqID']

      country  id  quantity
2192  fnSeqID NaN       NaN

In [80]:
solar_capacity.loc[solar_capacity['country'] == '1']

     country  id  quantity
2193       1 NaN       NaN

In [81]:
solar_capacity = solar_capacity.drop([2192, 2193])
solar_capacity['country'].unique()

array(['Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia (Plur. State of)',
       'Bonaire, St Eustatius, Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Rep.', 'Chile', 'China', 'Colombia', 'Congo',
       'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Curaçao',
       'Cyprus', 'Czechia', 'Dem. Rep. of the Congo', 'Denmark',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Falkland Is. (Malvinas)', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Germany',
       'Ghana', 'Greece', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guernsey', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'India', 'Indonesia', 'Iran (Islamic Rep. of)', 'Iraq',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kiribati', "Korea, Dem.Ppl's.Rep.",
       'Korea, Republic of', 'Kosovo', 'Kuwait', "Lao People's Dem. Rep.",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Fed. States of)', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'North Macedonia', 'Norway', 'Oman',
       'Other Asia', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Republic of Moldova', 'Reunion', 'Réunion', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'Sao Tome and Principe',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'St. Helena and Depend.', 'St. Kitts-Nevis', 'St. Lucia',
       'St. Vincent-Grenadines', 'State of Palestine', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United Rep. of Tanzania', 'United States',
       'United States Virgin Is.', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivar. Rep.)', 'Viet Nam', 'Wallis and Futuna Is.',
       'Yemen', 'Zambia'], dtype=object)

In [82]:
solar_capacity = pd.crosstab(index=solar_capacity['country'], columns=solar_capacity['id'], values=solar_capacity['quantity'], aggfunc='sum')
solar_capacity.loc['Total'] = solar_capacity.sum()
solar_capacity = solar_capacity.reset_index()
solar_capacity.head()

id,country,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.9,14.4,14.8,0.000,0.000,0.000,1.000,1.000,1.000,14.996
1,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,40.000,219.000,344.000,344.000,NaN
2,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,2.416,2.416,2.416,3.826,4.176,5.066,5.066
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.200,0.200,0.200,0.500,1.500,2.000
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,8.0,10.0,11.000,12.000,13.000,13.000,13.000,13.000,13.000

In [83]:
solar_capacity_1992 = solar_capacity[['country',1992]]
solar_capacity_1992['ranking'] = solar_capacity_1992[1992].rank(ascending=False)-1
solar_capacity_1992 = solar_capacity_1992.sort_values(by=['ranking'], ascending=True)
print(solar_capacity_1992)

id                       country  1992.0  ranking
199                        Total   442.0      0.0
189                United States   383.0      1.0
87                         Japan    19.0      2.0
85                         Italy     8.0      3.0
66                       Germany     6.0      4.0
114                       Mexico     5.0      5.5
173                  Switzerland     5.0      5.5
132                       Norway     4.0      7.5
163                        Spain     4.0      7.5
61                        France     2.0      9.0
10                       Austria     1.0     12.5
34                        Canada     1.0     12.5
60                       Finland     1.0     12.5
92            Korea, Republic of     1.0     12.5
124                  Netherlands     1.0     12.5
172                       Sweden     1.0     12.5
0                        Albania     NaN      NaN
1                        Algeria     NaN      NaN
2                 American Samoa     NaN      NaN
3                        Andorra     NaN      NaN
4                         Angola     NaN      NaN
5                       Anguilla     NaN      NaN
6            Antigua and Barbuda     NaN      NaN
7                      Argentina     NaN      NaN
8                        Armenia     NaN      NaN
9                      Australia     NaN      NaN
11                    Azerbaijan     NaN      NaN
12                       Bahrain     NaN      NaN
13                    Bangladesh     NaN      NaN
14                      Barbados     NaN      NaN
15                       Belarus     NaN      NaN
16                       Belgium     NaN      NaN
17                        Belize     NaN      NaN
18                         Benin     NaN      NaN
19                       Bermuda     NaN      NaN
20                        Bhutan     NaN      NaN
21      Bolivia (Plur. State of)     NaN      NaN
22   Bonaire, St Eustatius, Saba     NaN      NaN
23        Bosnia and Herzegovina     NaN      NaN
24                      Botswana     NaN      NaN
25                        Brazil     NaN      NaN
26        British Virgin Islands     NaN      NaN
27             Brunei Darussalam     NaN      NaN
28                      Bulgaria     NaN      NaN
29                  Burkina Faso     NaN      NaN
30                       Burundi     NaN      NaN
31                    Cabo Verde     NaN      NaN
32                      Cambodia     NaN      NaN
33                      Cameroon     NaN      NaN
35          Central African Rep.     NaN      NaN
36                         Chile     NaN      NaN
37                         China     NaN      NaN
38                      Colombia     NaN      NaN
39                         Congo     NaN      NaN
40                  Cook Islands     NaN      NaN
41                    Costa Rica     NaN      NaN
42                       Croatia     NaN      NaN
43                          Cuba     NaN      NaN
44                       Curaçao     NaN      NaN
45                        Cyprus     NaN      NaN
46                       Czechia     NaN      NaN
47        Dem. Rep. of the Congo     NaN      NaN
48                       Denmark     NaN      NaN
49            Dominican Republic     NaN      NaN
50                       Ecuador     NaN      NaN
51                         Egypt     NaN      NaN
52                   El Salvador     NaN      NaN
53             Equatorial Guinea     NaN      NaN
54                       Eritrea     NaN      NaN
55                       Estonia     NaN      NaN
56                      Eswatini     NaN      NaN
57                      Ethiopia     NaN      NaN
58       Falkland Is. (Malvinas)     NaN      NaN
59                          Fiji     NaN      NaN
62                 French Guiana     NaN      NaN
63              French Polynesia     NaN      NaN
64                         Gabon     NaN      NaN
65                        Gambia     NaN      NaN
67                         Ghana     NaN      NaN
68                        Greece     NaN      NaN
69                       Grenada     NaN      NaN
70                    Guadeloupe     NaN      NaN
71                          Guam     NaN      NaN
72                     Guatemala     NaN      NaN
73                      Guernsey     NaN      NaN
74                 Guinea-Bissau     NaN      NaN
75                        Guyana     NaN      NaN
76                         Haiti     NaN      NaN
77                      Honduras     NaN      NaN
78                       Hungary     NaN      NaN
79                         India     NaN      NaN
80                     Indonesia     NaN      NaN
81        Iran (Islamic Rep. of)     NaN      NaN
82                          Iraq     NaN      NaN
83                       Ireland     NaN      NaN
84                        Israel     NaN      NaN
86                       Jamaica     NaN      NaN
88                        Jordan     NaN      NaN
89                    Kazakhstan     NaN      NaN
90                      Kiribati     NaN      NaN
91         Korea, Dem.Ppl's.Rep.     NaN      NaN
93                        Kosovo     NaN      NaN
94                        Kuwait     NaN      NaN
95        Lao People's Dem. Rep.     NaN      NaN
96                        Latvia     NaN      NaN
97                       Lebanon     NaN      NaN
98                       Lesotho     NaN      NaN
99                       Liberia     NaN      NaN
100                        Libya     NaN      NaN
101                Liechtenstein     NaN      NaN
102                    Lithuania     NaN      NaN
103                   Luxembourg     NaN      NaN
104                   Madagascar     NaN      NaN
105                     Malaysia     NaN      NaN
106                     Maldives     NaN      NaN
107                         Mali     NaN      NaN
108                        Malta     NaN      NaN
109             Marshall Islands     NaN      NaN
110                   Martinique     NaN      NaN
111                   Mauritania     NaN      NaN
112                    Mauritius     NaN      NaN
113                      Mayotte     NaN      NaN
115  Micronesia (Fed. States of)     NaN      NaN
116                     Mongolia     NaN      NaN
117                   Montenegro     NaN      NaN
118                      Morocco     NaN      NaN
119                   Mozambique     NaN      NaN
120                      Myanmar     NaN      NaN
121                      Namibia     NaN      NaN
122                        Nauru     NaN      NaN
123                        Nepal     NaN      NaN
125                New Caledonia     NaN      NaN
126                  New Zealand     NaN      NaN
127                    Nicaragua     NaN      NaN
128                        Niger     NaN      NaN
129                      Nigeria     NaN      NaN
130                         Niue     NaN      NaN
131              North Macedonia     NaN      NaN
133                         Oman     NaN      NaN
134                   Other Asia     NaN      NaN
135                     Pakistan     NaN      NaN
136                        Palau     NaN      NaN
137                       Panama     NaN      NaN
138             Papua New Guinea     NaN      NaN
139                         Peru     NaN      NaN
140                  Philippines     NaN      NaN
141                       Poland     NaN      NaN
142                     Portugal     NaN      NaN
143                  Puerto Rico     NaN      NaN
144          Republic of Moldova     NaN      NaN
145                      Reunion     NaN      NaN
146                      Romania     NaN      NaN
147           Russian Federation     NaN      NaN
148                       Rwanda     NaN      NaN
149                      Réunion     NaN      NaN
150                        Samoa     NaN      NaN
151        Sao Tome and Principe     NaN      NaN
152                 Saudi Arabia     NaN      NaN
153                      Senegal     NaN      NaN
154                       Serbia     NaN      NaN
155                   Seychelles     NaN      NaN
156                 Sierra Leone     NaN      NaN
157                    Singapore     NaN      NaN
158                     Slovakia     NaN      NaN
159                     Slovenia     NaN      NaN
160              Solomon Islands     NaN      NaN
161                 South Africa     NaN      NaN
162                  South Sudan     NaN      NaN
164                    Sri Lanka     NaN      NaN
165       St. Helena and Depend.     NaN      NaN
166              St. Kitts-Nevis     NaN      NaN
167                    St. Lucia     NaN      NaN
168       St. Vincent-Grenadines     NaN      NaN
169           State of Palestine     NaN      NaN
170                        Sudan     NaN      NaN
171                     Suriname     NaN      NaN
174         Syrian Arab Republic     NaN      NaN
175                     Thailand     NaN      NaN
176                  Timor-Leste     NaN      NaN
177                         Togo     NaN      NaN
178                        Tonga     NaN      NaN
179          Trinidad and Tobago     NaN      NaN
180                      Tunisia     NaN      NaN
181                       Turkey     NaN      NaN
182     Turks and Caicos Islands     NaN      NaN
183                       Tuvalu     NaN      NaN
184                       Uganda     NaN      NaN
185                      Ukraine     NaN      NaN
186         United Arab Emirates     NaN      NaN
187               United Kingdom     NaN      NaN
188      United Rep. of Tanzania     NaN      NaN
190     United States Virgin Is.     NaN      NaN
191                      Uruguay     NaN      NaN
192                   Uzbekistan     NaN      NaN
193                      Vanuatu     NaN      NaN
194    Venezuela (Bolivar. Rep.)     NaN      NaN
195                     Viet Nam     NaN      NaN
196        Wallis and Futuna Is.     NaN      NaN
197                        Yemen     NaN      NaN
198                       Zambia     NaN      NaN

<ipython-input-83-b3972e714602>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  solar_capacity_1992['ranking'] = solar_capacity_1992[1992].rank(ascending=False)-1

In [84]:
solar_capacity_2018 = solar_capacity[['country',2018]]
solar_capacity_2018['ranking'] = solar_capacity_2018[2018].rank(ascending=False)-1
solar_capacity_2018 = solar_capacity_2018.sort_values(by=['ranking'], ascending=True)
print(solar_capacity_2018)

id                       country        2018.0  ranking
199                        Total  484783.26332      0.0
37                         China  174330.00000      1.0
87                         Japan   56162.00000      2.0
189                United States   51570.00000      3.0
66                       Germany   45179.00000      4.0
79                         India   28455.00000      5.0
85                         Italy   20108.00000      6.0
187               United Kingdom   13119.00000      7.0
61                        France    9617.00000      8.0
9                      Australia    8626.00000      9.0
92            Korea, Republic of    8099.00000     10.0
163                        Spain    7078.00000     11.0
181                       Turkey    5062.00000     12.0
124                  Netherlands    4522.00000     13.0
175                     Thailand    4029.00000     14.0
16                       Belgium    3987.00000     15.0
34                        Canada    3095.00000     16.0
161                 South Africa    2959.00000     17.0
134                   Other Asia    2756.00000     18.0
68                        Greece    2652.00000     19.0
36                         Chile    2438.00000     20.0
114                       Mexico    2434.00000     21.0
25                        Brazil    2360.00000     22.0
173                  Switzerland    2171.00000     23.0
46                       Czechia    2075.00000     24.0
10                       Austria    1438.00000     25.0
146                      Romania    1386.00000     26.0
84                        Israel    1358.00000     27.0
185                      Ukraine    1201.00000     28.0
28                      Bulgaria    1033.00000     29.0
105                     Malaysia    1004.00000     30.0
48                       Denmark     998.00000     31.0
140                  Philippines     896.00000     32.0
78                       Hungary     726.00000     33.0
88                        Jordan     698.50000     34.0
147           Russian Federation     677.50000     35.0
142                     Portugal     667.00000     36.0
186         United Arab Emirates     585.00000     37.0
141                       Poland     562.00000     38.0
77                      Honduras     510.80000     39.0
158                     Slovakia     471.00000     40.0
135                     Pakistan     436.00000     41.0
172                       Sweden     428.00000     42.0
1                        Algeria     344.00000     43.0
139                         Peru     325.00000     44.0
81        Iran (Islamic Rep. of)     286.00000     45.0
118                      Morocco     261.00000     46.0
197                        Yemen     250.00000     47.0
191                      Uruguay     248.40000     48.0
159                     Slovenia     247.00000     49.0
82                          Iraq     216.00000     50.0
49            Dominican Republic     203.41000     51.0
7                      Argentina     191.00000     52.0
51                         Egypt     190.00000     53.0
137                       Panama     189.00000     54.0
52                   El Salvador     166.50000     55.0
143                  Puerto Rico     165.00000     56.0
15                       Belarus     156.60000     57.0
180                      Tunisia     146.00000     58.0
153                      Senegal     143.00000     59.0
60                       Finland     140.00000     60.0
13                    Bangladesh     135.00000     61.0
164                    Sri Lanka     133.84000     62.0
108                        Malta     131.30000     63.0
103                   Luxembourg     131.00000     64.0
45                        Cyprus     118.50000     65.0
157                    Singapore     114.80000     66.0
38                      Colombia     111.00000     67.0
195                     Viet Nam     106.00000     68.0
43                          Cuba     103.00000     69.0
72                     Guatemala      91.50000     70.0
126                  New Zealand      90.00000     71.0
121                      Namibia      87.50000     72.0
111                   Mauritania      87.00000     73.0
102                    Lithuania      82.00000     74.0
21      Bolivia (Plur. State of)      70.96000     75.0
42                       Croatia      68.00000     76.0
112                    Mauritius      66.83000     77.0
116                     Mongolia      64.00000     78.0
89                    Kazakhstan      56.00000     79.0
41                    Costa Rica      44.31032     80.0
67                         Ghana      42.50000     81.0
184                       Uganda      42.40000     82.0
97                       Lebanon      42.00000     83.0
86                       Jamaica      40.00000     85.0
169           State of Palestine      40.00000     85.0
119                   Mozambique      40.00000     85.0
63              French Polynesia      35.20000     87.0
11                    Azerbaijan      34.90000     88.0
125                New Caledonia      33.00000     89.0
55                       Estonia      32.00000     90.0
50                       Ecuador      26.74000     91.0
71                          Guam      25.65000     92.0
188      United Rep. of Tanzania      25.40000     93.0
14                      Barbados      25.00000     94.0
29                  Burkina Faso      24.00000     95.5
83                       Ireland      24.00000     95.5
128                        Niger      20.00000     97.5
54                       Eritrea      20.00000     97.5
190     United States Virgin Is.      19.99000     99.0
33                      Cameroon      19.00000    100.0
47        Dem. Rep. of the Congo      18.90000    101.0
170                        Sudan      18.60000    102.0
150                        Samoa      18.02000    103.0
23        Bosnia and Herzegovina      18.00000    104.5
8                        Armenia      18.00000    104.5
131              North Macedonia      17.00000    106.0
154                       Serbia      15.00000    107.0
80                     Indonesia      14.00000    108.0
127                    Nicaragua      13.96000    109.0
4                         Angola      13.00000    110.0
148                       Rwanda      12.08000    111.0
129                      Nigeria      12.00000    112.0
57                      Ethiopia      11.02000    113.0
44                       Curaçao      11.00000    114.0
91         Korea, Dem.Ppl's.Rep.      10.00000    116.0
32                      Cambodia      10.00000    116.0
106                     Maldives      10.00000    116.0
59                          Fiji       9.50000    118.0
31                    Cabo Verde       9.30000    119.0
6            Antigua and Barbuda       9.00000    120.0
162                  South Sudan       8.40000    121.0
133                         Oman       8.30000    122.0
75                        Guyana       7.77000    123.0
95        Lao People's Dem. Rep.       6.70000    124.0
93                        Kosovo       6.60000    125.0
178                        Tonga       6.17800    126.0
40                  Cook Islands       6.00000    127.0
74                 Guinea-Bissau       5.30000    128.0
30                       Burundi       5.10000    129.0
2                 American Samoa       5.06600    130.0
12                       Bahrain       5.00000    133.5
171                     Suriname       5.00000    133.5
18                         Benin       5.00000    133.5
101                Liechtenstein       5.00000    133.5
53             Equatorial Guinea       5.00000    133.5
100                        Libya       5.00000    133.5
156                 Sierra Leone       4.30000    137.0
94                        Kuwait       4.00000    138.5
19                       Bermuda       4.00000    138.5
192                   Uzbekistan       3.50000    140.5
155                   Seychelles       3.50000    140.5
117                   Montenegro       3.39000    142.0
194    Venezuela (Bolivar. Rep.)       3.01000    143.0
99                       Liberia       3.00000    145.5
144          Republic of Moldova       3.00000    145.5
167                    St. Lucia       3.00000    145.5
177                         Togo       3.00000    145.5
90                      Kiribati       2.90000    148.0
193                      Vanuatu       2.70000    149.0
179          Trinidad and Tobago       2.57000    150.0
160              Solomon Islands       2.53500    151.0
65                        Gambia       2.20000    152.0
168       St. Vincent-Grenadines       2.12400    153.0
22   Bonaire, St Eustatius, Saba       2.10000    154.0
109             Marshall Islands       2.00000    157.0
166              St. Kitts-Nevis       2.00000    157.0
107                         Mali       2.00000    157.0
183                       Tuvalu       2.00000    157.0
96                        Latvia       2.00000    157.0
115  Micronesia (Fed. States of)       1.90000    160.0
165       St. Helena and Depend.       1.70000    161.0
136                        Palau       1.50000    162.5
3                        Andorra       1.50000    162.5
24                      Botswana       1.30000    164.0
138             Papua New Guinea       1.25800    165.0
27             Brunei Darussalam       1.20000    166.0
123                        Nepal       1.10000    167.5
198                       Zambia       1.10000    167.5
104                   Madagascar       1.00000    170.5
64                         Gabon       1.00000    170.5
0                        Albania       1.00000    170.5
174         Syrian Arab Republic       1.00000    170.5
122                        Nauru       0.82200    173.0
76                         Haiti       0.63000    174.0
176                  Timor-Leste       0.60400    175.0
39                         Congo       0.57000    176.0
152                 Saudi Arabia       0.50000    178.0
20                        Bhutan       0.50000    178.0
5                       Anguilla       0.50000    178.0
17                        Belize       0.48000    180.0
69                       Grenada       0.44000    181.0
130                         Niue       0.34100    182.0
151        Sao Tome and Principe       0.32000    183.0
35          Central African Rep.       0.30000    184.5
26        British Virgin Islands       0.30000    184.5
98                       Lesotho       0.28000    186.0
196        Wallis and Futuna Is.       0.17900    187.0
73                      Guernsey       0.11600    188.0
56                      Eswatini       0.10000    189.0
58       Falkland Is. (Malvinas)       0.07000    190.0
62                 French Guiana           NaN      NaN
70                    Guadeloupe           NaN      NaN
110                   Martinique           NaN      NaN
113                      Mayotte           NaN      NaN
120                      Myanmar           NaN      NaN
132                       Norway           NaN      NaN
145                      Reunion           NaN      NaN
149                      Réunion           NaN      NaN
182     Turks and Caicos Islands           NaN      NaN

<ipython-input-84-d9571c9c3923>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  solar_capacity_2018['ranking'] = solar_capacity_2018[2018].rank(ascending=False)-1

## Wind

In [85]:
wind_capacity = pd.read_csv('UNdata_wind_capacity.csv')
wind_capacity = wind_capacity.drop(['Commodity - Transaction','Unit','Quantity Footnotes'], axis=1)
wind_capacity.rename(columns={'Country or Area':'country', 'Year':'id', 'Quantity':'quantity'}, inplace=True)

In [86]:
wind_capacity.head()

     country      id  quantity
0    Algeria  2018.0      10.0
1    Algeria  2017.0      10.0
2    Algeria  2016.0      10.0
3    Algeria  2015.0      10.0
4  Argentina  2019.0    1611.0

In [87]:
wind_capacity['country'].unique()

array(['Algeria', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium',
       'Bhutan', 'Bolivia (Plur. State of)',
       'Bonaire, St Eustatius, Saba', 'Bosnia and Herzegovina', 'Brazil',
       'British Virgin Islands', 'Bulgaria', 'Cabo Verde', 'Canada',
       'Chile', 'China', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba',
       'Curaçao', 'Cyprus', 'Czechia', 'Denmark', 'Dominican Republic',
       'Ecuador', 'Egypt', 'Eritrea', 'Estonia', 'Ethiopia',
       'Faeroe Islands', 'Falkland Is. (Malvinas)', 'Fiji', 'Finland',
       'France', 'French Polynesia', 'Gambia', 'Georgia', 'Germany',
       'Germany, Fed. R. (former)', 'Greece', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guyana', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran (Islamic Rep. of)', 'Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea, Republic of', 'Kosovo', 'Latvia', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Maldives', 'Malta', 'Martinique',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (Fed. States of)',
       'Mongolia', 'Montenegro', 'Morocco', 'Namibia', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'North Macedonia', 'Norway', 'Other Asia', 'Pakistan', 'Panama',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Republic of Moldova', 'Reunion', 'Réunion', 'Romania',
       'Russian Federation', 'Samoa', 'Saudi Arabia', 'Serbia',
       'Seychelles', 'Slovakia', 'Slovenia', 'South Africa', 'Spain',
       'Sri Lanka', 'St. Helena and Depend.', 'St. Kitts-Nevis',
       'St. Pierre-Miquelon', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Thailand', 'Tonga', 'Tunisia', 'Turkey',
       'Ukraine', 'United Kingdom', 'United States', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela (Bolivar. Rep.)', 'Viet Nam',
       'fnSeqID', '1'], dtype=object)

In [88]:
wind_capacity.loc[wind_capacity['country'] == 'fnSeqID']

      country  id  quantity
2043  fnSeqID NaN       NaN

In [89]:
wind_capacity.loc[wind_capacity['country'] == '1']

     country  id  quantity
2044       1 NaN       NaN

In [90]:
wind_capacity = wind_capacity.drop([2043, 2044])
wind_capacity['country'].unique()

array(['Algeria', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belarus', 'Belgium',
       'Bhutan', 'Bolivia (Plur. State of)',
       'Bonaire, St Eustatius, Saba', 'Bosnia and Herzegovina', 'Brazil',
       'British Virgin Islands', 'Bulgaria', 'Cabo Verde', 'Canada',
       'Chile', 'China', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba',
       'Curaçao', 'Cyprus', 'Czechia', 'Denmark', 'Dominican Republic',
       'Ecuador', 'Egypt', 'Eritrea', 'Estonia', 'Ethiopia',
       'Faeroe Islands', 'Falkland Is. (Malvinas)', 'Fiji', 'Finland',
       'France', 'French Polynesia', 'Gambia', 'Georgia', 'Germany',
       'Germany, Fed. R. (former)', 'Greece', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guyana', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran (Islamic Rep. of)', 'Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea, Republic of', 'Kosovo', 'Latvia', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Maldives', 'Malta', 'Martinique',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (Fed. States of)',
       'Mongolia', 'Montenegro', 'Morocco', 'Namibia', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'North Macedonia', 'Norway', 'Other Asia', 'Pakistan', 'Panama',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Republic of Moldova', 'Reunion', 'Réunion', 'Romania',
       'Russian Federation', 'Samoa', 'Saudi Arabia', 'Serbia',
       'Seychelles', 'Slovakia', 'Slovenia', 'South Africa', 'Spain',
       'Sri Lanka', 'St. Helena and Depend.', 'St. Kitts-Nevis',
       'St. Pierre-Miquelon', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Thailand', 'Tonga', 'Tunisia', 'Turkey',
       'Ukraine', 'United Kingdom', 'United States', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela (Bolivar. Rep.)', 'Viet Nam'],
      dtype=object)

In [91]:
wind_capacity = pd.crosstab(index=wind_capacity['country'], columns=wind_capacity['id'], values=wind_capacity['quantity'], aggfunc='sum')
wind_capacity.loc['Total'] = wind_capacity.sum()
wind_capacity = wind_capacity.reset_index()
wind_capacity.head()

id,country,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,10.0,10.0,10.0,NaN
1,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,4.0,12.0,13.0,...,30.0,82.0,133.8,194.0,194.0,217.0,217.0,229.0,752.0,1611.0
2,Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,4.0,4.0,4.0,4.0,3.0,3.0,2.9,2.9,NaN
3,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.0,30.0,30.0,30.0,30.0,30.0,30.0,30.0,30.0,30.0
4,Australia,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,3.0,...,1864.0,2127.0,2561.0,3221.0,3797.0,4234.0,4327.0,4816.0,5679.0,NaN

In [92]:
wind_capacity_1992 = wind_capacity[['country',1992]]
wind_capacity_1992['ranking'] = wind_capacity_1992[1992].rank(ascending=False)-1
wind_capacity_1992 = wind_capacity_1992.sort_values(by=['ranking'], ascending=True)
print(wind_capacity_1992)

id                       country   1992.0  ranking
129                        Total  2736.31      0.0
123                United States  1823.00      1.0
29                       Denmark   436.00      2.0
44                       Germany   183.00      3.0
83                   Netherlands   101.00      4.0
122               United Kingdom    50.00      5.0
54                         India    37.00      6.0
109                        Spain    33.00      7.0
114                       Sweden    20.00      8.0
46                        Greece    16.00      9.0
19                        Canada    10.00     10.0
59                         Italy     7.00     11.5
57                       Ireland     7.00     11.5
10                       Belgium     5.00     13.0
95                      Portugal     3.00     14.5
76                        Mexico     3.00     14.5
40                        France     1.00     16.5
39                       Finland     1.00     16.5
84                 New Caledonia     0.31     18.0
99                       Romania     0.00     19.5
34                       Estonia     0.00     19.5
0                        Algeria      NaN      NaN
1                      Argentina      NaN      NaN
2                        Armenia      NaN      NaN
3                          Aruba      NaN      NaN
4                      Australia      NaN      NaN
5                        Austria      NaN      NaN
6                     Azerbaijan      NaN      NaN
7                        Bahrain      NaN      NaN
8                     Bangladesh      NaN      NaN
9                        Belarus      NaN      NaN
11                        Bhutan      NaN      NaN
12      Bolivia (Plur. State of)      NaN      NaN
13   Bonaire, St Eustatius, Saba      NaN      NaN
14        Bosnia and Herzegovina      NaN      NaN
15                        Brazil      NaN      NaN
16        British Virgin Islands      NaN      NaN
17                      Bulgaria      NaN      NaN
18                    Cabo Verde      NaN      NaN
20                         Chile      NaN      NaN
21                         China      NaN      NaN
22                      Colombia      NaN      NaN
23                    Costa Rica      NaN      NaN
24                       Croatia      NaN      NaN
25                          Cuba      NaN      NaN
26                       Curaçao      NaN      NaN
27                        Cyprus      NaN      NaN
28                       Czechia      NaN      NaN
30            Dominican Republic      NaN      NaN
31                       Ecuador      NaN      NaN
32                         Egypt      NaN      NaN
33                       Eritrea      NaN      NaN
35                      Ethiopia      NaN      NaN
36                Faeroe Islands      NaN      NaN
37       Falkland Is. (Malvinas)      NaN      NaN
38                          Fiji      NaN      NaN
41              French Polynesia      NaN      NaN
42                        Gambia      NaN      NaN
43                       Georgia      NaN      NaN
45     Germany, Fed. R. (former)      NaN      NaN
47                    Guadeloupe      NaN      NaN
48                          Guam      NaN      NaN
49                     Guatemala      NaN      NaN
50                        Guyana      NaN      NaN
51                      Honduras      NaN      NaN
52                       Hungary      NaN      NaN
53                       Iceland      NaN      NaN
55                     Indonesia      NaN      NaN
56        Iran (Islamic Rep. of)      NaN      NaN
58                        Israel      NaN      NaN
60                       Jamaica      NaN      NaN
61                         Japan      NaN      NaN
62                        Jordan      NaN      NaN
63                    Kazakhstan      NaN      NaN
64                         Kenya      NaN      NaN
65            Korea, Republic of      NaN      NaN
66                        Kosovo      NaN      NaN
67                        Latvia      NaN      NaN
68                     Lithuania      NaN      NaN
69                    Luxembourg      NaN      NaN
70                    Madagascar      NaN      NaN
71                      Maldives      NaN      NaN
72                         Malta      NaN      NaN
73                    Martinique      NaN      NaN
74                    Mauritania      NaN      NaN
75                     Mauritius      NaN      NaN
77   Micronesia (Fed. States of)      NaN      NaN
78                      Mongolia      NaN      NaN
79                    Montenegro      NaN      NaN
80                       Morocco      NaN      NaN
81                       Namibia      NaN      NaN
82                         Nepal      NaN      NaN
85                   New Zealand      NaN      NaN
86                     Nicaragua      NaN      NaN
87               North Macedonia      NaN      NaN
88                        Norway      NaN      NaN
89                    Other Asia      NaN      NaN
90                      Pakistan      NaN      NaN
91                        Panama      NaN      NaN
92                          Peru      NaN      NaN
93                   Philippines      NaN      NaN
94                        Poland      NaN      NaN
96                   Puerto Rico      NaN      NaN
97           Republic of Moldova      NaN      NaN
98                       Reunion      NaN      NaN
100           Russian Federation      NaN      NaN
101                      Réunion      NaN      NaN
102                        Samoa      NaN      NaN
103                 Saudi Arabia      NaN      NaN
104                       Serbia      NaN      NaN
105                   Seychelles      NaN      NaN
106                     Slovakia      NaN      NaN
107                     Slovenia      NaN      NaN
108                 South Africa      NaN      NaN
110                    Sri Lanka      NaN      NaN
111       St. Helena and Depend.      NaN      NaN
112              St. Kitts-Nevis      NaN      NaN
113          St. Pierre-Miquelon      NaN      NaN
115                  Switzerland      NaN      NaN
116         Syrian Arab Republic      NaN      NaN
117                     Thailand      NaN      NaN
118                        Tonga      NaN      NaN
119                      Tunisia      NaN      NaN
120                       Turkey      NaN      NaN
121                      Ukraine      NaN      NaN
124                      Uruguay      NaN      NaN
125                   Uzbekistan      NaN      NaN
126                      Vanuatu      NaN      NaN
127    Venezuela (Bolivar. Rep.)      NaN      NaN
128                     Viet Nam      NaN      NaN

<ipython-input-92-ba65b43a3708>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wind_capacity_1992['ranking'] = wind_capacity_1992[1992].rank(ascending=False)-1

In [93]:
wind_capacity_2018 = wind_capacity[['country',2018]]
wind_capacity_2018['ranking'] = wind_capacity_2018[2018].rank(ascending=False)-1
wind_capacity_2018 = wind_capacity_2018.sort_values(by=['ranking'], ascending=True)
print(wind_capacity_2018)

<ipython-input-93-74e1bcdf669e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wind_capacity_2018['ranking'] = wind_capacity_2018[2018].rank(ascending=False)-1

id                       country       2018.0  ranking
129                        Total  566720.2272      0.0
21                         China  184270.0000      1.0
123                United States   94516.0000      2.0
44                       Germany   58843.0000      3.0
54                         India   38825.0000      4.0
109                        Spain   23460.0000      5.0
122               United Kingdom   21770.0000      6.0
40                        France   14900.0000      7.0
15                        Brazil   14400.0000      8.0
19                        Canada   12816.0000      9.0
59                         Italy   10230.0000     10.0
114                       Sweden    7300.0000     11.0
120                       Turkey    7006.0000     12.0
29                       Denmark    6121.0000     13.0
94                        Poland    5766.0000     14.0
4                      Australia    5679.0000     15.0
95                      Portugal    5172.5000     16.0
76                        Mexico    4853.0000     17.0
83                   Netherlands    4393.0000     18.0
57                       Ireland    3676.0000     19.0
61                         Japan    3497.0000     20.0
10                       Belgium    3261.0000     21.0
5                        Austria    3133.0000     22.0
99                       Romania    3032.0000     23.0
46                        Greece    2877.0000     24.0
108                 South Africa    2330.0000     25.0
39                       Finland    2041.0000     26.0
88                        Norway    1710.0000     27.0
20                         Chile    1529.0000     28.0
124                      Uruguay    1510.7000     29.0
65            Korea, Republic of    1420.0000     30.0
80                       Morocco    1168.0000     31.0
117                     Thailand    1102.8200     32.0
90                      Pakistan    1041.0000     33.0
89                    Other Asia    1016.0000     34.0
32                         Egypt     967.0000     35.0
1                      Argentina     752.0000     36.0
17                      Bulgaria     699.0000     37.0
85                   New Zealand     689.0000     38.0
24                       Croatia     586.0000     39.0
68                     Lithuania     533.0000     40.0
121                      Ukraine     476.0000     41.0
93                   Philippines     427.0000     42.0
23                    Costa Rica     407.7752     43.0
92                          Peru     372.0000     44.0
64                         Kenya     336.1000     45.0
52                       Hungary     329.0000     46.0
35                      Ethiopia     324.0000     47.0
28                       Czechia     316.0000     48.0
34                       Estonia     310.0000     49.0
56        Iran (Islamic Rep. of)     282.0000     50.0
62                        Jordan     280.4000     51.0
91                        Panama     270.0000     52.0
104                       Serbia     264.0000     53.0
128                     Viet Nam     243.0000     54.0
119                      Tunisia     240.0000     55.0
51                      Honduras     225.0000     56.0
63                    Kazakhstan     200.0000     57.0
86                     Nicaragua     186.2000     58.0
30            Dominican Republic     183.2500     59.0
100           Russian Federation     161.1000     60.0
27                        Cyprus     157.7250     61.0
78                      Mongolia     156.0000     62.0
110                    Sri Lanka     128.0000     63.0
69                    Luxembourg     123.0000     64.0
79                    Montenegro     118.0000     65.0
49                     Guatemala     106.5000     66.0
60                       Jamaica     102.0000     67.0
96                   Puerto Rico     101.0000     68.0
9                        Belarus     100.9000     69.0
67                        Latvia      79.0000     70.0
115                  Switzerland      75.0000     71.0
6                     Azerbaijan      66.0400     72.0
84                 New Caledonia      54.0000     73.0
14        Bosnia and Herzegovina      51.0000     74.0
127    Venezuela (Bolivar. Rep.)      50.2000     75.0
26                       Curaçao      47.0000     76.0
87               North Macedonia      37.0000     77.0
25                          Cuba      36.0000     78.0
58                        Israel      35.0000     79.0
97           Republic of Moldova      34.0000     80.5
74                    Mauritania      34.0000     80.5
66                        Kosovo      33.7500     82.0
18                    Cabo Verde      31.1000     83.0
3                          Aruba      30.0000     84.0
12      Bolivia (Plur. State of)      27.0000     85.0
31                       Ecuador      21.1500     86.0
38                          Fiji      21.0000     87.0
43                       Georgia      20.0000     88.0
22                      Colombia      18.4000     89.0
36                Faeroe Islands      16.3500     90.0
13   Bonaire, St Eustatius, Saba      11.5000     91.0
75                     Mauritius      10.6300     92.0
0                        Algeria      10.0000     93.0
105                   Seychelles       6.0000     94.5
82                         Nepal       6.0000     94.5
81                       Namibia       5.2300     96.0
107                     Slovenia       5.2000     97.0
106                     Slovakia       4.0000     98.0
126                      Vanuatu       3.3000     99.0
2                        Armenia       2.9000    100.0
103                 Saudi Arabia       2.8000    101.0
111       St. Helena and Depend.       2.6000    102.0
112              St. Kitts-Nevis       2.0000    103.5
53                       Iceland       2.0000    103.5
37       Falkland Is. (Malvinas)       1.9800    105.0
42                        Gambia       1.2000    106.0
33                       Eritrea       1.0000    109.5
7                        Bahrain       1.0000    109.5
71                      Maldives       1.0000    109.5
116         Syrian Arab Republic       1.0000    109.5
55                     Indonesia       1.0000    109.5
8                     Bangladesh       1.0000    109.5
77   Micronesia (Fed. States of)       0.8000    113.0
11                        Bhutan       0.6000    114.0
102                        Samoa       0.5500    115.0
16        British Virgin Islands       0.3000    116.0
48                          Guam       0.2750    117.0
72                         Malta       0.1000    119.0
70                    Madagascar       0.1000    119.0
41              French Polynesia       0.1000    119.0
50                        Guyana       0.0800    121.0
118                        Tonga       0.0220    122.0
113          St. Pierre-Miquelon       0.0000    123.0
45     Germany, Fed. R. (former)          NaN      NaN
47                    Guadeloupe          NaN      NaN
73                    Martinique          NaN      NaN
98                       Reunion          NaN      NaN
101                      Réunion          NaN      NaN
125                   Uzbekistan          NaN      NaN

## Hydro

In [94]:
hydro_capacity = pd.read_csv('UNdata_hydro_capacity.csv')
hydro_capacity = hydro_capacity.drop(['Commodity - Transaction','Unit','Quantity Footnotes'], axis=1)
hydro_capacity.rename(columns={'Country or Area':'country', 'Year':'id', 'Quantity':'quantity'}, inplace=True)

In [95]:
hydro_capacity.head()

       country      id  quantity
0  Afghanistan  2019.0     384.0
1  Afghanistan  2018.0     384.0
2  Afghanistan  2017.0     384.0
3  Afghanistan  2016.0     384.0
4  Afghanistan  2015.0     384.0

In [96]:
hydro_capacity['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plur. State of)', 'Bosnia and Herzegovina', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Rep.', 'Chile', 'China', 'Colombia',
       'Congo', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba',
       'Czechia', 'Czechoslovakia (former)', 'Dem. Rep. of the Congo',
       'Denmark', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Estonia', 'Eswatini',
       'Ethiopia', 'Ethiopia, incl. Eritrea', 'Faeroe Islands', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Georgia', 'German Dem. R. (former)', 'Germany',
       'Germany, Fed. R. (former)', 'Ghana', 'Greece', 'Greenland',
       'Guadeloupe', 'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Rep. of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', "Korea, Dem.Ppl's.Rep.", 'Korea, Republic of', 'Kosovo',
       'Kyrgyzstan', "Lao People's Dem. Rep.", 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia (Fed. States of)', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Nigeria', 'North Macedonia', 'Norway', 'Other Asia',
       'Pacific Islands (former)', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Republic of Moldova', 'Reunion',
       'Réunion', 'Romania', 'Russian Federation', 'Rwanda', 'Samoa',
       'Sao Tome and Principe', 'Senegal', 'Serbia',
       'Serbia and Montenegro', 'Sierra Leone', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'South Africa', 'South Sudan', 'Spain',
       'Sri Lanka', 'St. Vincent-Grenadines', 'Sudan', 'Sudan (former)',
       'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Kingdom',
       'United Rep. of Tanzania', 'United States', 'Uruguay',
       'USSR (former)', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivar. Rep.)', 'Viet Nam', 'Wallis and Futuna Is.',
       'Yugoslavia, SFR (former)', 'Zambia', 'Zimbabwe', 'fnSeqID', '1'],
      dtype=object)

In [97]:
hydro_capacity.loc[hydro_capacity['country'] == 'fnSeqID']

      country  id  quantity
4592  fnSeqID NaN       NaN

In [98]:
hydro_capacity.loc[hydro_capacity['country'] == '1']

     country  id  quantity
4593       1 NaN       NaN

In [99]:
hydro_capacity = hydro_capacity.drop([4592, 4593])
hydro_capacity['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plur. State of)', 'Bosnia and Herzegovina', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Rep.', 'Chile', 'China', 'Colombia',
       'Congo', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba',
       'Czechia', 'Czechoslovakia (former)', 'Dem. Rep. of the Congo',
       'Denmark', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Estonia', 'Eswatini',
       'Ethiopia', 'Ethiopia, incl. Eritrea', 'Faeroe Islands', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Georgia', 'German Dem. R. (former)', 'Germany',
       'Germany, Fed. R. (former)', 'Ghana', 'Greece', 'Greenland',
       'Guadeloupe', 'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Rep. of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', "Korea, Dem.Ppl's.Rep.", 'Korea, Republic of', 'Kosovo',
       'Kyrgyzstan', "Lao People's Dem. Rep.", 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia (Fed. States of)', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Nigeria', 'North Macedonia', 'Norway', 'Other Asia',
       'Pacific Islands (former)', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Republic of Moldova', 'Reunion',
       'Réunion', 'Romania', 'Russian Federation', 'Rwanda', 'Samoa',
       'Sao Tome and Principe', 'Senegal', 'Serbia',
       'Serbia and Montenegro', 'Sierra Leone', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'South Africa', 'South Sudan', 'Spain',
       'Sri Lanka', 'St. Vincent-Grenadines', 'Sudan', 'Sudan (former)',
       'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Kingdom',
       'United Rep. of Tanzania', 'United States', 'Uruguay',
       'USSR (former)', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivar. Rep.)', 'Viet Nam', 'Wallis and Futuna Is.',
       'Yugoslavia, SFR (former)', 'Zambia', 'Zimbabwe'], dtype=object)

In [100]:
hydro_capacity = pd.crosstab(index=hydro_capacity['country'], columns=hydro_capacity['id'], values=hydro_capacity['quantity'], aggfunc='sum')
hydro_capacity.loc['Total'] = hydro_capacity.sum()
hydro_capacity = hydro_capacity.reset_index()
hydro_capacity.head()

id,country,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Afghanistan,292.0,292.0,292.0,292.0,292.0,292.0,292.0,292.0,292.0,...,374.0,316.0,316.0,316.0,316.0,384.0,384.0,384.0,384.0,384.000
1,Albania,1668.0,1668.0,1668.0,1668.0,1668.0,1446.0,1446.0,1446.0,1446.0,...,1476.0,1476.0,1629.0,1781.0,1726.0,1799.0,1801.0,2048.0,2105.0,2223.231
2,Algeria,286.0,286.0,286.0,275.0,275.0,275.0,275.0,275.0,275.0,...,275.0,228.0,228.0,228.0,228.0,228.0,228.0,228.0,129.0,NaN
3,Andorra,26.5,26.5,26.5,26.5,26.5,26.5,26.5,26.5,26.5,...,46.0,46.0,46.0,46.0,46.0,46.0,46.0,46.0,46.0,46.000
4,Angola,412.0,412.0,412.0,412.0,412.0,412.0,412.0,390.0,390.0,...,782.0,760.0,760.0,760.0,1300.0,1442.0,1589.0,2342.0,2699.0,2699.000

In [101]:
hydro_capacity_2018 = hydro_capacity[['country',2018]]
hydro_capacity_2018['ranking'] = hydro_capacity_2018[2018].rank(ascending=False)-1
hydro_capacity_2018 = hydro_capacity_2018.sort_values(by=['ranking'], ascending=True)
print(hydro_capacity_2018)

id                       country        2018.0  ranking
176                        Total  1.291276e+06      0.0
27                         China  3.611300e+05      1.0
18                        Brazil  1.041980e+05      2.0
166                United States  1.028010e+05      3.0
24                        Canada  8.139600e+04      4.0
131           Russian Federation  5.133250e+04      5.0
79                         Japan  5.003700e+04      6.0
70                         India  4.544700e+04      7.0
116                       Norway  3.253000e+04      8.0
159                       Turkey  2.829100e+04      9.0
51                        France  2.579300e+04     10.0
77                         Italy  2.249800e+04     11.0
145                        Spain  2.028000e+04     12.0
171                     Viet Nam  1.834100e+04     13.0
151                       Sweden  1.643100e+04     14.0
152                  Switzerland  1.554200e+04     15.0
170    Venezuela (Bolivar. Rep.)  1.513681e+04     16.0
8                        Austria  1.451600e+04     17.0
101                       Mexico  1.262800e+04     18.0
72        Iran (Islamic Rep. of)  1.195300e+04     19.0
28                      Colombia  1.172560e+04     20.0
5                      Argentina  1.130800e+04     21.0
57                       Germany  1.094000e+04     22.0
122                     Paraguay  8.760000e+03     23.0
7                      Australia  8.523000e+03     24.0
119                     Pakistan  7.270000e+03     25.0
126                     Portugal  7.236000e+03     26.0
130                      Romania  6.700000e+03     27.0
26                         Chile  6.630000e+03     28.0
84            Korea, Republic of  6.490000e+03     29.0
163                      Ukraine  6.243000e+03     30.0
97                      Malaysia  6.167900e+03     31.0
154                   Tajikistan  5.900000e+03     32.0
71                     Indonesia  5.741000e+03     33.0
112                  New Zealand  5.381000e+03     34.0
123                         Peru  5.363000e+03     35.0
87        Lao People's Dem. Rep.  5.255600e+03     36.0
40                       Ecuador  5.216430e+03     37.0
83         Korea, Dem.Ppl's.Rep.  4.790000e+03     38.0
164               United Kingdom  4.779000e+03     39.0
117                   Other Asia  4.693600e+03     40.0
46                      Ethiopia  3.814000e+03     41.0
124                  Philippines  3.717000e+03     42.0
155                     Thailand  3.667380e+03     43.0
107                      Myanmar  3.436000e+03     44.0
60                        Greece  3.409000e+03     45.0
19                      Bulgaria  3.379000e+03     46.0
50                       Finland  3.287000e+03     47.0
86                    Kyrgyzstan  3.135000e+03     48.0
36        Dem. Rep. of the Congo  3.005000e+03     49.0
137                       Serbia  2.936000e+03     50.0
41                         Egypt  2.832000e+03     51.0
4                         Angola  2.699000e+03     52.0
55                       Georgia  2.695000e+03     53.0
140                     Slovakia  2.528000e+03     54.0
81                    Kazakhstan  2.500000e+03     55.0
174                       Zambia  2.398250e+03     56.0
125                       Poland  2.392000e+03     57.0
30                    Costa Rica  2.387676e+03     58.0
33                       Czechia  2.264000e+03     59.0
106                   Mozambique  2.239000e+03     60.0
17        Bosnia and Herzegovina  2.236000e+03     61.0
31                       Croatia  2.201700e+03     62.0
114                      Nigeria  2.151000e+03     63.0
1                        Albania  2.105000e+03     64.0
69                       Iceland  2.099000e+03     65.0
168                   Uzbekistan  1.914900e+03     66.0
148                        Sudan  1.907000e+03     67.0
73                          Iraq  1.796000e+03     68.0
146                    Sri Lanka  1.793000e+03     69.0
120                       Panama  1.776700e+03     70.0
105                      Morocco  1.770000e+03     71.0
15                        Bhutan  1.614100e+03     72.0
59                         Ghana  1.580000e+03     73.0
88                        Latvia  1.565000e+03     74.0
167                      Uruguay  1.538000e+03     75.0
63                     Guatemala  1.491890e+03     76.0
153         Syrian Arab Republic  1.490000e+03     77.0
12                       Belgium  1.418000e+03     78.0
141                     Slovenia  1.343700e+03     79.0
6                        Armenia  1.336400e+03     80.0
94                    Luxembourg  1.330000e+03     81.0
22                      Cambodia  1.329700e+03     82.0
9                     Azerbaijan  1.130800e+03     83.0
109                        Nepal  1.128705e+03     84.0
175                     Zimbabwe  1.050000e+03     85.0
35                 Côte d'Ivoire  8.790000e+02     86.0
93                     Lithuania  8.770000e+02     87.0
82                         Kenya  8.207000e+02     88.0
143                 South Africa  7.610000e+02     89.0
162                       Uganda  7.440000e+02     90.0
23                      Cameroon  7.322000e+02     91.0
67                      Honduras  6.960000e+02     92.0
16      Bolivia (Plur. State of)  6.915000e+02     93.0
115              North Macedonia  6.740000e+02     94.0
104                   Montenegro  6.523800e+02     95.0
39            Dominican Republic  6.174600e+02     96.0
42                   El Salvador  5.751000e+02     97.0
165      United Rep. of Tanzania  5.618000e+02     98.0
98                          Mali  5.500000e+02     99.0
74                       Ireland  5.290000e+02    100.0
96                        Malawi  4.500000e+02    101.0
0                    Afghanistan  3.840000e+02    102.0
64                        Guinea  3.668500e+02    103.0
108                      Namibia  3.470000e+02    104.0
54                         Gabon  3.320400e+02    105.0
43             Equatorial Guinea  3.266000e+02    106.0
121             Papua New Guinea  2.577950e+02    107.0
89                       Lebanon  2.530000e+02    108.0
10                    Bangladesh  2.300000e+02    109.0
29                         Congo  2.140000e+02    110.0
150                     Suriname  1.890000e+02    111.0
95                    Madagascar  1.660000e+02    112.0
113                    Nicaragua  1.424500e+02    113.0
49                          Fiji  1.384000e+02    114.0
2                        Algeria  1.290000e+02    115.0
11                       Belarus  1.050000e+02    116.0
132                       Rwanda  1.031600e+02    117.0
127                  Puerto Rico  9.900000e+01    118.0
91                       Liberia  9.200000e+01    119.0
61                     Greenland  9.130000e+01    120.0
85                        Kosovo  8.040000e+01    121.0
111                New Caledonia  7.810000e+01    122.0
90                       Lesotho  7.418000e+01    123.0
45                      Eswatini  7.300000e+01    124.0
157                         Togo  6.660000e+01    125.0
14                         Benin  6.600000e+01    126.0
32                          Cuba  6.400000e+01    127.0
158                      Tunisia  6.200000e+01    128.0
66                         Haiti  6.100000e+01    129.0
100                    Mauritius  6.044000e+01    130.0
139                 Sierra Leone  5.700000e+01    131.5
68                       Hungary  5.700000e+01    131.5
13                        Belize  5.130000e+01    133.0
21                       Burundi  4.828000e+01    134.0
53              French Polynesia  4.673000e+01    135.0
3                        Andorra  4.600000e+01    136.0
48                Faeroe Islands  3.970000e+01    137.0
110                  Netherlands  3.700000e+01    138.0
20                  Burkina Faso  3.200000e+01    139.0
103                     Mongolia  3.100000e+01    140.0
78                       Jamaica  2.900000e+01    141.0
25          Central African Rep.  2.500000e+01    142.0
128          Republic of Moldova  1.630000e+01    143.0
134                        Samoa  1.200000e+01    144.5
80                        Jordan  1.200000e+01    144.5
92                 Liechtenstein  1.000000e+01    146.0
38                      Dominica  9.840000e+00    147.0
76                        Israel  9.000000e+00    148.5
37                       Denmark  9.000000e+00    148.5
44                       Estonia  7.000000e+00    150.0
147       St. Vincent-Grenadines  5.640000e+00    151.0
144                  South Sudan  3.000000e+00    152.0
135        Sao Tome and Principe  2.320000e+00    153.0
102  Micronesia (Fed. States of)  1.625000e+00    154.0
169                      Vanuatu  1.300000e+00    155.0
75                   Isle of Man  1.200000e+00    156.0
142              Solomon Islands  3.390000e-01    157.0
156                  Timor-Leste  3.250000e-01    158.0
172        Wallis and Futuna Is.  2.000000e-01    159.0
34       Czechoslovakia (former)           NaN      NaN
47       Ethiopia, incl. Eritrea           NaN      NaN
52                 French Guiana           NaN      NaN
56       German Dem. R. (former)           NaN      NaN
58     Germany, Fed. R. (former)           NaN      NaN
62                    Guadeloupe           NaN      NaN
65                        Guyana           NaN      NaN
99                    Mauritania           NaN      NaN
118     Pacific Islands (former)           NaN      NaN
129                      Reunion           NaN      NaN
133                      Réunion           NaN      NaN
136                      Senegal           NaN      NaN
138        Serbia and Montenegro           NaN      NaN
149               Sudan (former)           NaN      NaN
160                 Turkmenistan           NaN      NaN
161                USSR (former)           NaN      NaN
173     Yugoslavia, SFR (former)           NaN      NaN

<ipython-input-101-9d98892b5d46>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hydro_capacity_2018['ranking'] = hydro_capacity_2018[2018].rank(ascending=False)-1

## Geothermal

In [102]:
geothermal_capacity = pd.read_csv('UNdata_geothermal_capacity.csv')
geothermal_capacity = geothermal_capacity.drop(['Commodity - Transaction','Unit','Quantity Footnotes'], axis=1)
geothermal_capacity.rename(columns={'Country or Area':'country', 'Year':'id', 'Quantity':'quantity'}, inplace=True)

In [103]:
geothermal_capacity.head()

     country      id  quantity
0  Argentina  2008.0       1.0
1  Argentina  2007.0       1.0
2  Argentina  2006.0       1.0
3  Argentina  2005.0       1.0
4  Argentina  2004.0       1.0

In [104]:
geothermal_capacity['country'].unique()

array(['Argentina', 'Austria', 'Chile', 'Costa Rica', 'Croatia',
       'El Salvador', 'Ethiopia', 'Ethiopia, incl. Eritrea', 'France',
       'Germany', 'Greece', 'Guadeloupe', 'Guatemala', 'Honduras',
       'Hungary', 'Iceland', 'Indonesia', 'Italy', 'Japan', 'Kenya',
       'Mexico', 'New Zealand', 'Nicaragua', 'Papua New Guinea',
       'Philippines', 'Portugal', 'Russian Federation', 'Senegal',
       'Thailand', 'Turkey', 'United States', 'USSR (former)', 'fnSeqID',
       '1'], dtype=object)

In [105]:
geothermal_capacity.loc[geothermal_capacity['country'] == 'fnSeqID']

     country  id  quantity
641  fnSeqID NaN       NaN

In [106]:
geothermal_capacity.loc[geothermal_capacity['country'] == '1']

    country  id  quantity
642       1 NaN       NaN

In [107]:
geothermal_capacity = geothermal_capacity.drop([641, 642])
geothermal_capacity['country'].unique()

array(['Argentina', 'Austria', 'Chile', 'Costa Rica', 'Croatia',
       'El Salvador', 'Ethiopia', 'Ethiopia, incl. Eritrea', 'France',
       'Germany', 'Greece', 'Guadeloupe', 'Guatemala', 'Honduras',
       'Hungary', 'Iceland', 'Indonesia', 'Italy', 'Japan', 'Kenya',
       'Mexico', 'New Zealand', 'Nicaragua', 'Papua New Guinea',
       'Philippines', 'Portugal', 'Russian Federation', 'Senegal',
       'Thailand', 'Turkey', 'United States', 'USSR (former)'],
      dtype=object)

In [108]:
geothermal_capacity = pd.crosstab(index=geothermal_capacity['country'], columns=geothermal_capacity['id'], values=geothermal_capacity['quantity'], aggfunc='sum')
geothermal_capacity.loc['Total'] = geothermal_capacity.sum()
geothermal_capacity = geothermal_capacity.reset_index()
geothermal_capacity.head()

id,country,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.00,1.00,NaN
2,Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.00,40.00,NaN
3,Costa Rica,NaN,NaN,NaN,NaN,55.0,60.0,65.0,70.0,120.0,...,166.0,211.0,217.5,217.5,246.0,247.0,207.0,206.86,206.86,261.86
4,Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,NaN

In [109]:
geothermal_capacity_2018 = geothermal_capacity[['country',2018]]
geothermal_capacity_2018['ranking'] = geothermal_capacity_2018[2018].rank(ascending=False)-1
geothermal_capacity_2018 = geothermal_capacity_2018.sort_values(by=['ranking'], ascending=True)
print(geothermal_capacity_2018)

id                  country    2018.0  ranking
32                    Total  13154.64      0.0
31            United States   2444.00      1.0
16                Indonesia   1981.00      2.0
24              Philippines   1944.00      3.0
29                   Turkey   1283.00      4.0
20                   Mexico   1010.00      5.0
21              New Zealand    965.00      6.0
17                    Italy    767.00      7.0
15                  Iceland    756.00      8.0
19                    Kenya    627.00      9.0
18                    Japan    474.00     10.0
3                Costa Rica    206.86     11.0
5               El Salvador    204.40     12.0
22                Nicaragua    154.50     13.0
26       Russian Federation     74.00     14.0
23         Papua New Guinea     56.00     15.0
2                     Chile     40.00     16.0
12                Guatemala     39.28     17.0
9                   Germany     36.00     18.0
13                 Honduras     35.00     19.0
25                 Portugal     29.00     20.0
8                    France     16.00     21.0
6                  Ethiopia      7.30     22.0
14                  Hungary      3.00     23.0
4                   Croatia      1.00     24.5
1                   Austria      1.00     24.5
28                 Thailand      0.30     26.0
0                 Argentina       NaN      NaN
7   Ethiopia, incl. Eritrea       NaN      NaN
10                   Greece       NaN      NaN
11               Guadeloupe       NaN      NaN
27                  Senegal       NaN      NaN
30            USSR (former)       NaN      NaN

<ipython-input-109-9ccfeaf27bb0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  geothermal_capacity_2018['ranking'] = geothermal_capacity_2018[2018].rank(ascending=False)-1

## Nuclear

In [110]:
nuclear_capacity = pd.read_csv('UNdata_nuclear_capacity.csv')
nuclear_capacity = nuclear_capacity.drop(['Commodity - Transaction','Unit','Quantity Footnotes'], axis=1)
nuclear_capacity.rename(columns={'Country or Area':'country', 'Year':'id', 'Quantity':'quantity'}, inplace=True)

In [111]:
nuclear_capacity.head()

     country      id  quantity
0  Argentina  2019.0    1755.0
1  Argentina  2018.0    1755.0
2  Argentina  2017.0    1755.0
3  Argentina  2016.0    1763.0
4  Argentina  2015.0    1763.0

In [112]:
nuclear_capacity['country'].unique()

array(['Argentina', 'Armenia', 'Belgium', 'Brazil', 'Bulgaria', 'Canada',
       'China', 'Czechia', 'Czechoslovakia (former)', 'Finland', 'France',
       'German Dem. R. (former)', 'Germany', 'Germany, Fed. R. (former)',
       'Hungary', 'India', 'Iran (Islamic Rep. of)', 'Japan',
       'Korea, Republic of', 'Lithuania', 'Mexico', 'Netherlands',
       'Other Asia', 'Pakistan', 'Romania', 'Russian Federation',
       'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Sweden',
       'Switzerland', 'Ukraine', 'United Kingdom', 'United States',
       'USSR (former)', 'Yugoslavia, SFR (former)', 'fnSeqID', '1'],
      dtype=object)

In [113]:
nuclear_capacity.loc[nuclear_capacity['country'] == 'fnSeqID']

     country  id  quantity
884  fnSeqID NaN       NaN

In [114]:
nuclear_capacity.loc[nuclear_capacity['country'] == '1']

    country  id  quantity
885       1 NaN       NaN

In [115]:
nuclear_capacity = nuclear_capacity.drop([884, 885])
nuclear_capacity['country'].unique()

array(['Argentina', 'Armenia', 'Belgium', 'Brazil', 'Bulgaria', 'Canada',
       'China', 'Czechia', 'Czechoslovakia (former)', 'Finland', 'France',
       'German Dem. R. (former)', 'Germany', 'Germany, Fed. R. (former)',
       'Hungary', 'India', 'Iran (Islamic Rep. of)', 'Japan',
       'Korea, Republic of', 'Lithuania', 'Mexico', 'Netherlands',
       'Other Asia', 'Pakistan', 'Romania', 'Russian Federation',
       'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Sweden',
       'Switzerland', 'Ukraine', 'United Kingdom', 'United States',
       'USSR (former)', 'Yugoslavia, SFR (former)'], dtype=object)

In [116]:
nuclear_capacity = pd.crosstab(index=nuclear_capacity['country'], columns=nuclear_capacity['id'], values=nuclear_capacity['quantity'], aggfunc='sum')
nuclear_capacity.loc['Total'] = nuclear_capacity.sum()
nuclear_capacity = nuclear_capacity.reset_index()
nuclear_capacity.head()

id,country,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Argentina,1018.0,1018.0,1018.0,1018.0,1018.0,1018.0,1018.0,1018.0,1018.0,...,1018.0,1018.0,1018.0,1018.0,1018.0,1763.0,1763.0,1755.0,1755.0,1755.0
1,Armenia,NaN,NaN,NaN,NaN,NaN,815.0,360.0,360.0,360.0,...,408.0,408.0,408.0,408.0,408.0,408.0,408.0,407.5,407.5,NaN
2,Belgium,5500.0,5485.0,5485.0,5485.0,5528.0,5632.0,5693.0,5713.0,5722.0,...,5927.0,5927.0,5927.0,5927.0,5927.0,5913.0,5913.0,5918.0,5918.0,NaN
3,Brazil,657.0,657.0,657.0,657.0,657.0,657.0,657.0,657.0,657.0,...,2007.0,2007.0,2007.0,1990.0,1990.0,1990.0,1990.0,1990.0,1990.0,1990.0
4,Bulgaria,2760.0,3538.0,3538.0,3538.0,3538.0,3538.0,3538.0,3538.0,3538.0,...,1892.0,1892.0,1906.0,1982.0,1975.0,1975.0,1967.0,1967.0,1967.0,NaN

In [117]:
nuclear_capacity_2018 = nuclear_capacity[['country',2018]]
nuclear_capacity_2018['ranking'] = nuclear_capacity_2018[2018].rank(ascending=False)-1
nuclear_capacity_2018 = nuclear_capacity_2018.sort_values(by=['ranking'], ascending=True)
print(nuclear_capacity_2018)

id                    country    2018.0  ranking
37                      Total  406276.4      0.0
35              United States   99433.0      1.0
10                     France   63130.0      2.0
6                       China   44660.0      3.0
17                      Japan   38042.0      4.0
25         Russian Federation   29139.9      5.0
18         Korea, Republic of   21850.0      6.0
5                      Canada   14033.0      7.0
33                    Ukraine   13835.0      8.0
12                    Germany   10799.0      9.0
34             United Kingdom    9314.0     10.0
30                     Sweden    8656.0     11.0
29                      Spain    7117.0     12.0
15                      India    6780.0     13.0
2                     Belgium    5918.0     14.0
22                 Other Asia    4508.0     15.0
7                     Czechia    4290.0     16.0
31                Switzerland    3333.0     17.0
9                     Finland    2784.0     18.0
14                    Hungary    2013.0     19.0
3                      Brazil    1990.0     20.0
4                    Bulgaria    1967.0     21.0
26                   Slovakia    1940.0     22.5
28               South Africa    1940.0     22.5
0                   Argentina    1755.0     24.0
20                     Mexico    1608.0     25.0
23                   Pakistan    1430.0     26.0
24                    Romania    1411.0     27.0
16     Iran (Islamic Rep. of)    1020.0     28.0
27                   Slovenia     688.0     29.0
21                Netherlands     485.0     30.0
1                     Armenia     407.5     31.0
8     Czechoslovakia (former)       NaN      NaN
11    German Dem. R. (former)       NaN      NaN
13  Germany, Fed. R. (former)       NaN      NaN
19                  Lithuania       NaN      NaN
32              USSR (former)       NaN      NaN
36   Yugoslavia, SFR (former)       NaN      NaN

<ipython-input-117-951c8679a190>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nuclear_capacity_2018['ranking'] = nuclear_capacity_2018[2018].rank(ascending=False)-1

## Compiling 2018

In [118]:
solar_capacity_2018 =  solar_capacity[['country', 2018]].rename(columns={2018:'solar_nic'})
wind_capacity_2018 =  wind_capacity[['country', 2018]].rename(columns={2018:'wind_nic'})
hydro_capacity_2018 =  hydro_capacity[['country', 2018]].rename(columns={2018:'hydro_nic'})
geothermal_capacity_2018 =  geothermal_capacity[['country', 2018]].rename(columns={2018:'geothermal_nic'})
nuclear_capacity_2018 =  nuclear_capacity[['country', 2018]].rename(columns={2018:'nuclear_nic'})

In [119]:
energy_capacity_2018 = solar_capacity_2018
energy_capacity_2018 = energy_capacity_2018.merge(wind_capacity_2018, how='outer', on=['country'])
energy_capacity_2018 = energy_capacity_2018.merge(hydro_capacity_2018, how='outer', on=['country'])
energy_capacity_2018 = energy_capacity_2018.merge(geothermal_capacity_2018, how='outer', on=['country'])
energy_capacity_2018 = energy_capacity_2018.merge(nuclear_capacity_2018, how='outer', on=['country'])
energy_capacity_2018

id,country,solar_nic,wind_nic,hydro_nic,geothermal_nic,nuclear_nic
0,Albania,1.00000,NaN,2.105000e+03,NaN,NaN
1,Algeria,344.00000,10.0000,1.290000e+02,NaN,NaN
2,American Samoa,5.06600,NaN,NaN,NaN,NaN
3,Andorra,1.50000,NaN,4.600000e+01,NaN,NaN
4,Angola,13.00000,NaN,2.699000e+03,NaN,NaN
5,Anguilla,0.50000,NaN,NaN,NaN,NaN
6,Antigua and Barbuda,9.00000,NaN,NaN,NaN,NaN
7,Argentina,191.00000,752.0000,1.130800e+04,NaN,1755.0
8,Armenia,18.00000,2.9000,1.336400e+03,NaN,407.5
9,Australia,8626.00000,5679.0000,8.523000e+03,NaN,NaN
10,Austria,1438.00000,3133.0000,1.451600e+04,1.00,NaN
11,Azerbaijan,34.90000,66.0400,1.130800e+03,NaN,NaN
12,Bahrain,5.00000,1.0000,NaN,NaN,NaN
13,Bangladesh,135.00000,1.0000,2.300000e+02,NaN,NaN
14,Barbados,25.00000,NaN,NaN,NaN,NaN
15,Belarus,156.60000,100.9000,1.050000e+02,NaN,NaN
16,Belgium,3987.00000,3261.0000,1.418000e+03,NaN,5918.0
17,Belize,0.48000,NaN,5.130000e+01,NaN,NaN
18,Benin,5.00000,NaN,6.600000e+01,NaN,NaN
19,Bermuda,4.00000,NaN,NaN,NaN,NaN
20,Bhutan,0.50000,0.6000,1.614100e+03,NaN,NaN
21,Bolivia (Plur. State of),70.96000,27.0000,6.915000e+02,NaN,NaN
22,"Bonaire, St Eustatius, Saba",2.10000,11.5000,NaN,NaN,NaN
23,Bosnia and Herzegovina,18.00000,51.0000,2.236000e+03,NaN,NaN
24,Botswana,1.30000,NaN,NaN,NaN,NaN
25,Brazil,2360.00000,14400.0000,1.041980e+05,NaN,1990.0
26,British Virgin Islands,0.30000,0.3000,NaN,NaN,NaN
27,Brunei Darussalam,1.20000,NaN,NaN,NaN,NaN
28,Bulgaria,1033.00000,699.0000,3.379000e+03,NaN,1967.0
29,Burkina Faso,24.00000,NaN,3.200000e+01,NaN,NaN
30,Burundi,5.10000,NaN,4.828000e+01,NaN,NaN
31,Cabo Verde,9.30000,31.1000,NaN,NaN,NaN
32,Cambodia,10.00000,NaN,1.329700e+03,NaN,NaN
33,Cameroon,19.00000,NaN,7.322000e+02,NaN,NaN
34,Canada,3095.00000,12816.0000,8.139600e+04,NaN,14033.0
35,Central African Rep.,0.30000,NaN,2.500000e+01,NaN,NaN
36,Chile,2438.00000,1529.0000,6.630000e+03,40.00,NaN
37,China,174330.00000,184270.0000,3.611300e+05,NaN,44660.0
38,Colombia,111.00000,18.4000,1.172560e+04,NaN,NaN
39,Congo,0.57000,NaN,2.140000e+02,NaN,NaN
40,Cook Islands,6.00000,NaN,NaN,NaN,NaN
41,Costa Rica,44.31032,407.7752,2.387676e+03,206.86,NaN
42,Croatia,68.00000,586.0000,2.201700e+03,1.00,NaN
43,Cuba,103.00000,36.0000,6.400000e+01,NaN,NaN
44,Curaçao,11.00000,47.0000,NaN,NaN,NaN
45,Cyprus,118.50000,157.7250,NaN,NaN,NaN
46,Czechia,2075.00000,316.0000,2.264000e+03,NaN,4290.0
47,Dem. Rep. of the Congo,18.90000,NaN,3.005000e+03,NaN,NaN
48,Denmark,998.00000,6121.0000,9.000000e+00,NaN,NaN
49,Dominican Republic,203.41000,183.2500,6.174600e+02,NaN,NaN
50,Ecuador,26.74000,21.1500,5.216430e+03,NaN,NaN
51,Egypt,190.00000,967.0000,2.832000e+03,NaN,NaN
52,El Salvador,166.50000,NaN,5.751000e+02,204.40,NaN
53,Equatorial Guinea,5.00000,NaN,3.266000e+02,NaN,NaN
54,Eritrea,20.00000,1.0000,NaN,NaN,NaN
55,Estonia,32.00000,310.0000,7.000000e+00,NaN,NaN
56,Eswatini,0.10000,NaN,7.300000e+01,NaN,NaN
57,Ethiopia,11.02000,324.0000,3.814000e+03,7.30,NaN
58,Falkland Is. (Malvinas),0.07000,1.9800,NaN,NaN,NaN
59,Fiji,9.50000,21.0000,1.384000e+02,NaN,NaN
60,Finland,140.00000,2041.0000,3.287000e+03,NaN,2784.0
61,France,9617.00000,14900.0000,2.579300e+04,16.00,63130.0
62,French Guiana,NaN,NaN,NaN,NaN,NaN
63,French Polynesia,35.20000,0.1000,4.673000e+01,NaN,NaN
64,Gabon,1.00000,NaN,3.320400e+02,NaN,NaN
65,Gambia,2.20000,1.2000,NaN,NaN,NaN
66,Germany,45179.00000,58843.0000,1.094000e+04,36.00,10799.0
67,Ghana,42.50000,NaN,1.580000e+03,NaN,NaN
68,Greece,2652.00000,2877.0000,3.409000e+03,NaN,NaN
69,Grenada,0.44000,NaN,NaN,NaN,NaN
70,Guadeloupe,NaN,NaN,NaN,NaN,NaN
71,Guam,25.65000,0.2750,NaN,NaN,NaN
72,Guatemala,91.50000,106.5000,1.491890e+03,39.28,NaN
73,Guernsey,0.11600,NaN,NaN,NaN,NaN
74,Guinea-Bissau,5.30000,NaN,NaN,NaN,NaN
75,Guyana,7.77000,0.0800,NaN,NaN,NaN
76,Haiti,0.63000,NaN,6.100000e+01,NaN,NaN
77,Honduras,510.80000,225.0000,6.960000e+02,35.00,NaN
78,Hungary,726.00000,329.0000,5.700000e+01,3.00,2013.0
79,India,28455.00000,38825.0000,4.544700e+04,NaN,6780.0
80,Indonesia,14.00000,1.0000,5.741000e+03,1981.00,NaN
81,Iran (Islamic Rep. of),286.00000,282.0000,1.195300e+04,NaN,1020.0
82,Iraq,216.00000,NaN,1.796000e+03,NaN,NaN
83,Ireland,24.00000,3676.0000,5.290000e+02,NaN,NaN
84,Israel,1358.00000,35.0000,9.000000e+00,NaN,NaN
85,Italy,20108.00000,10230.0000,2.249800e+04,767.00,NaN
86,Jamaica,40.00000,102.0000,2.900000e+01,NaN,NaN
87,Japan,56162.00000,3497.0000,5.003700e+04,474.00,38042.0
88,Jordan,698.50000,280.4000,1.200000e+01,NaN,NaN
89,Kazakhstan,56.00000,200.0000,2.500000e+03,NaN,NaN
90,Kiribati,2.90000,NaN,NaN,NaN,NaN
91,"Korea, Dem.Ppl's.Rep.",10.00000,NaN,4.790000e+03,NaN,NaN
92,"Korea, Republic of",8099.00000,1420.0000,6.490000e+03,NaN,21850.0
93,Kosovo,6.60000,33.7500,8.040000e+01,NaN,NaN
94,Kuwait,4.00000,NaN,NaN,NaN,NaN
95,Lao People's Dem. Rep.,6.70000,NaN,5.255600e+03,NaN,NaN
96,Latvia,2.00000,79.0000,1.565000e+03,NaN,NaN
97,Lebanon,42.00000,NaN,2.530000e+02,NaN,NaN
98,Lesotho,0.28000,NaN,7.418000e+01,NaN,NaN
99,Liberia,3.00000,NaN,9.200000e+01,NaN,NaN
100,Libya,5.00000,NaN,NaN,NaN,NaN
101,Liechtenstein,5.00000,NaN,1.000000e+01,NaN,NaN
102,Lithuania,82.00000,533.0000,8.770000e+02,NaN,NaN
103,Luxembourg,131.00000,123.0000,1.330000e+03,NaN,NaN
104,Madagascar,1.00000,0.1000,1.660000e+02,NaN,NaN
105,Malaysia,1004.00000,NaN,6.167900e+03,NaN,NaN
106,Maldives,10.00000,1.0000,NaN,NaN,NaN
107,Mali,2.00000,NaN,5.500000e+02,NaN,NaN
108,Malta,131.30000,0.1000,NaN,NaN,NaN
109,Marshall Islands,2.00000,NaN,NaN,NaN,NaN
110,Martinique,NaN,NaN,NaN,NaN,NaN
111,Mauritania,87.00000,34.0000,NaN,NaN,NaN
112,Mauritius,66.83000,10.6300,6.044000e+01,NaN,NaN
113,Mayotte,NaN,NaN,NaN,NaN,NaN
114,Mexico,2434.00000,4853.0000,1.262800e+04,1010.00,1608.0
115,Micronesia (Fed. States of),1.90000,0.8000,1.625000e+00,NaN,NaN
116,Mongolia,64.00000,156.0000,3.100000e+01,NaN,NaN
117,Montenegro,3.39000,118.0000,6.523800e+02,NaN,NaN
118,Morocco,261.00000,1168.0000,1.770000e+03,NaN,NaN
119,Mozambique,40.00000,NaN,2.239000e+03,NaN,NaN
120,Myanmar,NaN,NaN,3.436000e+03,NaN,NaN
121,Namibia,87.50000,5.2300,3.470000e+02,NaN,NaN
122,Nauru,0.82200,NaN,NaN,NaN,NaN
123,Nepal,1.10000,6.0000,1.128705e+03,NaN,NaN
124,Netherlands,4522.00000,4393.0000,3.700000e+01,NaN,485.0
125,New Caledonia,33.00000,54.0000,7.810000e+01,NaN,NaN
126,New Zealand,90.00000,689.0000,5.381000e+03,965.00,NaN
127,Nicaragua,13.96000,186.2000,1.424500e+02,154.50,NaN
128,Niger,20.00000,NaN,NaN,NaN,NaN
129,Nigeria,12.00000,NaN,2.151000e+03,NaN,NaN
130,Niue,0.34100,NaN,NaN,NaN,NaN
131,North Macedonia,17.00000,37.0000,6.740000e+02,NaN,NaN
132,Norway,NaN,1710.0000,3.253000e+04,NaN,NaN
133,Oman,8.30000,NaN,NaN,NaN,NaN
134,Other Asia,2756.00000,1016.0000,4.693600e+03,NaN,4508.0
135,Pakistan,436.00000,1041.0000,7.270000e+03,NaN,1430.0
136,Palau,1.50000,NaN,NaN,NaN,NaN
137,Panama,189.00000,270.0000,1.776700e+03,NaN,NaN
138,Papua New Guinea,1.25800,NaN,2.577950e+02,56.00,NaN
139,Peru,325.00000,372.0000,5.363000e+03,NaN,NaN
140,Philippines,896.00000,427.0000,3.717000e+03,1944.00,NaN
141,Poland,562.00000,5766.0000,2.392000e+03,NaN,NaN
142,Portugal,667.00000,5172.5000,7.236000e+03,29.00,NaN
143,Puerto Rico,165.00000,101.0000,9.900000e+01,NaN,NaN
144,Republic of Moldova,3.00000,34.0000,1.630000e+01,NaN,NaN
145,Reunion,NaN,NaN,NaN,NaN,NaN
146,Romania,1386.00000,3032.0000,6.700000e+03,NaN,1411.0
147,Russian Federation,677.50000,161.1000,5.133250e+04,74.00,29139.9
148,Rwanda,12.08000,NaN,1.031600e+02,NaN,NaN
149,Réunion,NaN,NaN,NaN,NaN,NaN
150,Samoa,18.02000,0.5500,1.200000e+01,NaN,NaN
151,Sao Tome and Principe,0.32000,NaN,2.320000e+00,NaN,NaN
152,Saudi Arabia,0.50000,2.8000,NaN,NaN,NaN
153,Senegal,143.00000,NaN,NaN,NaN,NaN
154,Serbia,15.00000,264.0000,2.936000e+03,NaN,NaN
155,Seychelles,3.50000,6.0000,NaN,NaN,NaN
156,Sierra Leone,4.30000,NaN,5.700000e+01,NaN,NaN
157,Singapore,114.80000,NaN,NaN,NaN,NaN
158,Slovakia,471.00000,4.0000,2.528000e+03,NaN,1940.0
159,Slovenia,247.00000,5.2000,1.343700e+03,NaN,688.0
160,Solomon Islands,2.53500,NaN,3.390000e-01,NaN,NaN
161,South Africa,2959.00000,2330.0000,7.610000e+02,NaN,1940.0
162,South Sudan,8.40000,NaN,3.000000e+00,NaN,NaN
163,Spain,7078.00000,23460.0000,2.028000e+04,NaN,7117.0
164,Sri Lanka,133.84000,128.0000,1.793000e+03,NaN,NaN
165,St. Helena and Depend.,1.70000,2.6000,NaN,NaN,NaN
166,St. Kitts-Nevis,2.00000,2.0000,NaN,NaN,NaN
167,St. Lucia,3.00000,NaN,NaN,NaN,NaN
168,St. Vincent-Grenadines,2.12400,NaN,5.640000e+00,NaN,NaN
169,State of Palestine,40.00000,NaN,NaN,NaN,NaN
170,Sudan,18.60000,NaN,1.907000e+03,NaN,NaN
171,Suriname,5.00000,NaN,1.890000e+02,NaN,NaN
172,Sweden,428.00000,7300.0000,1.643100e+04,NaN,8656.0
173,Switzerland,2171.00000,75.0000,1.554200e+04,NaN,3333.0
174,Syrian Arab Republic,1.00000,1.0000,1.490000e+03,NaN,NaN
175,Thailand,4029.00000,1102.8200,3.667380e+03,0.30,NaN
176,Timor-Leste,0.60400,NaN,3.250000e-01,NaN,NaN
177,Togo,3.00000,NaN,6.660000e+01,NaN,NaN
178,Tonga,6.17800,0.0220,NaN,NaN,NaN
179,Trinidad and Tobago,2.57000,NaN,NaN,NaN,NaN
180,Tunisia,146.00000,240.0000,6.200000e+01,NaN,NaN
181,Turkey,5062.00000,7006.0000,2.829100e+04,1283.00,NaN
182,Turks and Caicos Islands,NaN,NaN,NaN,NaN,NaN
183,Tuvalu,2.00000,NaN,NaN,NaN,NaN
184,Uganda,42.40000,NaN,7.440000e+02,NaN,NaN
185,Ukraine,1201.00000,476.0000,6.243000e+03,NaN,13835.0
186,United Arab Emirates,585.00000,NaN,NaN,NaN,NaN
187,United Kingdom,13119.00000,21770.0000,4.779000e+03,NaN,9314.0
188,United Rep. of Tanzania,25.40000,NaN,5.618000e+02,NaN,NaN
189,United States,51570.00000,94516.0000,1.028010e+05,2444.00,99433.0
190,United States Virgin Is.,19.99000,NaN,NaN,NaN,NaN
191,Uruguay,248.40000,1510.7000,1.538000e+03,NaN,NaN
192,Uzbekistan,3.50000,NaN,1.914900e+03,NaN,NaN
193,Vanuatu,2.70000,3.3000,1.300000e+00,NaN,NaN
194,Venezuela (Bolivar. Rep.),3.01000,50.2000,1.513681e+04,NaN,NaN
195,Viet Nam,106.00000,243.0000,1.834100e+04,NaN,NaN
196,Wallis and Futuna Is.,0.17900,NaN,2.000000e-01,NaN,NaN
197,Yemen,250.00000,NaN,NaN,NaN,NaN
198,Zambia,1.10000,NaN,2.398250e+03,NaN,NaN
199,Total,484783.26332,566720.2272,1.291276e+06,13154.64,406276.4
200,Aruba,NaN,30.0000,NaN,NaN,NaN
201,Faeroe Islands,NaN,16.3500,3.970000e+01,NaN,NaN
202,Georgia,NaN,20.0000,2.695000e+03,NaN,NaN
203,"Germany, Fed. R. (former)",NaN,NaN,NaN,NaN,NaN
204,Iceland,NaN,2.0000,2.099000e+03,756.00,NaN
205,Kenya,NaN,336.1000,8.207000e+02,627.00,NaN
206,St. Pierre-Miquelon,NaN,0.0000,NaN,NaN,NaN
207,Afghanistan,NaN,NaN,3.840000e+02,NaN,NaN
208,Czechoslovakia (former),NaN,NaN,NaN,NaN,NaN
209,Côte d'Ivoire,NaN,NaN,8.790000e+02,NaN,NaN
210,Dominica,NaN,NaN,9.840000e+00,NaN,NaN
211,"Ethiopia, incl. Eritrea",NaN,NaN,NaN,NaN,NaN
212,German Dem. R. (former),NaN,NaN,NaN,NaN,NaN
213,Greenland,NaN,NaN,9.130000e+01,NaN,NaN
214,Guinea,NaN,NaN,3.668500e+02,NaN,NaN
215,Isle of Man,NaN,NaN,1.200000e+00,NaN,NaN
216,Kyrgyzstan,NaN,NaN,3.135000e+03,NaN,NaN
217,Malawi,NaN,NaN,4.500000e+02,NaN,NaN
218,Pacific Islands (former),NaN,NaN,NaN,NaN,NaN
219,Paraguay,NaN,NaN,8.760000e+03,NaN,NaN
220,Serbia and Montenegro,NaN,NaN,NaN,NaN,NaN
221,Sudan (former),NaN,NaN,NaN,NaN,NaN
222,Tajikistan,NaN,NaN,5.900000e+03,NaN,NaN
223,Turkmenistan,NaN,NaN,NaN,NaN,NaN
224,USSR (former),NaN,NaN,NaN,NaN,NaN
225,"Yugoslavia, SFR (former)",NaN,NaN,NaN,NaN,NaN
226,Zimbabwe,NaN,NaN,1.050000e+03,NaN,NaN

In [120]:
energy_capacity_2018 = energy_capacity_2018.fillna(0)
energy_capacity_2018

id,country,solar_nic,wind_nic,hydro_nic,geothermal_nic,nuclear_nic
0,Albania,1.00000,0.0000,2.105000e+03,0.00,0.0
1,Algeria,344.00000,10.0000,1.290000e+02,0.00,0.0
2,American Samoa,5.06600,0.0000,0.000000e+00,0.00,0.0
3,Andorra,1.50000,0.0000,4.600000e+01,0.00,0.0
4,Angola,13.00000,0.0000,2.699000e+03,0.00,0.0
5,Anguilla,0.50000,0.0000,0.000000e+00,0.00,0.0
6,Antigua and Barbuda,9.00000,0.0000,0.000000e+00,0.00,0.0
7,Argentina,191.00000,752.0000,1.130800e+04,0.00,1755.0
8,Armenia,18.00000,2.9000,1.336400e+03,0.00,407.5
9,Australia,8626.00000,5679.0000,8.523000e+03,0.00,0.0
10,Austria,1438.00000,3133.0000,1.451600e+04,1.00,0.0
11,Azerbaijan,34.90000,66.0400,1.130800e+03,0.00,0.0
12,Bahrain,5.00000,1.0000,0.000000e+00,0.00,0.0
13,Bangladesh,135.00000,1.0000,2.300000e+02,0.00,0.0
14,Barbados,25.00000,0.0000,0.000000e+00,0.00,0.0
15,Belarus,156.60000,100.9000,1.050000e+02,0.00,0.0
16,Belgium,3987.00000,3261.0000,1.418000e+03,0.00,5918.0
17,Belize,0.48000,0.0000,5.130000e+01,0.00,0.0
18,Benin,5.00000,0.0000,6.600000e+01,0.00,0.0
19,Bermuda,4.00000,0.0000,0.000000e+00,0.00,0.0
20,Bhutan,0.50000,0.6000,1.614100e+03,0.00,0.0
21,Bolivia (Plur. State of),70.96000,27.0000,6.915000e+02,0.00,0.0
22,"Bonaire, St Eustatius, Saba",2.10000,11.5000,0.000000e+00,0.00,0.0
23,Bosnia and Herzegovina,18.00000,51.0000,2.236000e+03,0.00,0.0
24,Botswana,1.30000,0.0000,0.000000e+00,0.00,0.0
25,Brazil,2360.00000,14400.0000,1.041980e+05,0.00,1990.0
26,British Virgin Islands,0.30000,0.3000,0.000000e+00,0.00,0.0
27,Brunei Darussalam,1.20000,0.0000,0.000000e+00,0.00,0.0
28,Bulgaria,1033.00000,699.0000,3.379000e+03,0.00,1967.0
29,Burkina Faso,24.00000,0.0000,3.200000e+01,0.00,0.0
30,Burundi,5.10000,0.0000,4.828000e+01,0.00,0.0
31,Cabo Verde,9.30000,31.1000,0.000000e+00,0.00,0.0
32,Cambodia,10.00000,0.0000,1.329700e+03,0.00,0.0
33,Cameroon,19.00000,0.0000,7.322000e+02,0.00,0.0
34,Canada,3095.00000,12816.0000,8.139600e+04,0.00,14033.0
35,Central African Rep.,0.30000,0.0000,2.500000e+01,0.00,0.0
36,Chile,2438.00000,1529.0000,6.630000e+03,40.00,0.0
37,China,174330.00000,184270.0000,3.611300e+05,0.00,44660.0
38,Colombia,111.00000,18.4000,1.172560e+04,0.00,0.0
39,Congo,0.57000,0.0000,2.140000e+02,0.00,0.0
40,Cook Islands,6.00000,0.0000,0.000000e+00,0.00,0.0
41,Costa Rica,44.31032,407.7752,2.387676e+03,206.86,0.0
42,Croatia,68.00000,586.0000,2.201700e+03,1.00,0.0
43,Cuba,103.00000,36.0000,6.400000e+01,0.00,0.0
44,Curaçao,11.00000,47.0000,0.000000e+00,0.00,0.0
45,Cyprus,118.50000,157.7250,0.000000e+00,0.00,0.0
46,Czechia,2075.00000,316.0000,2.264000e+03,0.00,4290.0
47,Dem. Rep. of the Congo,18.90000,0.0000,3.005000e+03,0.00,0.0
48,Denmark,998.00000,6121.0000,9.000000e+00,0.00,0.0
49,Dominican Republic,203.41000,183.2500,6.174600e+02,0.00,0.0
50,Ecuador,26.74000,21.1500,5.216430e+03,0.00,0.0
51,Egypt,190.00000,967.0000,2.832000e+03,0.00,0.0
52,El Salvador,166.50000,0.0000,5.751000e+02,204.40,0.0
53,Equatorial Guinea,5.00000,0.0000,3.266000e+02,0.00,0.0
54,Eritrea,20.00000,1.0000,0.000000e+00,0.00,0.0
55,Estonia,32.00000,310.0000,7.000000e+00,0.00,0.0
56,Eswatini,0.10000,0.0000,7.300000e+01,0.00,0.0
57,Ethiopia,11.02000,324.0000,3.814000e+03,7.30,0.0
58,Falkland Is. (Malvinas),0.07000,1.9800,0.000000e+00,0.00,0.0
59,Fiji,9.50000,21.0000,1.384000e+02,0.00,0.0
60,Finland,140.00000,2041.0000,3.287000e+03,0.00,2784.0
61,France,9617.00000,14900.0000,2.579300e+04,16.00,63130.0
62,French Guiana,0.00000,0.0000,0.000000e+00,0.00,0.0
63,French Polynesia,35.20000,0.1000,4.673000e+01,0.00,0.0
64,Gabon,1.00000,0.0000,3.320400e+02,0.00,0.0
65,Gambia,2.20000,1.2000,0.000000e+00,0.00,0.0
66,Germany,45179.00000,58843.0000,1.094000e+04,36.00,10799.0
67,Ghana,42.50000,0.0000,1.580000e+03,0.00,0.0
68,Greece,2652.00000,2877.0000,3.409000e+03,0.00,0.0
69,Grenada,0.44000,0.0000,0.000000e+00,0.00,0.0
70,Guadeloupe,0.00000,0.0000,0.000000e+00,0.00,0.0
71,Guam,25.65000,0.2750,0.000000e+00,0.00,0.0
72,Guatemala,91.50000,106.5000,1.491890e+03,39.28,0.0
73,Guernsey,0.11600,0.0000,0.000000e+00,0.00,0.0
74,Guinea-Bissau,5.30000,0.0000,0.000000e+00,0.00,0.0
75,Guyana,7.77000,0.0800,0.000000e+00,0.00,0.0
76,Haiti,0.63000,0.0000,6.100000e+01,0.00,0.0
77,Honduras,510.80000,225.0000,6.960000e+02,35.00,0.0
78,Hungary,726.00000,329.0000,5.700000e+01,3.00,2013.0
79,India,28455.00000,38825.0000,4.544700e+04,0.00,6780.0
80,Indonesia,14.00000,1.0000,5.741000e+03,1981.00,0.0
81,Iran (Islamic Rep. of),286.00000,282.0000,1.195300e+04,0.00,1020.0
82,Iraq,216.00000,0.0000,1.796000e+03,0.00,0.0
83,Ireland,24.00000,3676.0000,5.290000e+02,0.00,0.0
84,Israel,1358.00000,35.0000,9.000000e+00,0.00,0.0
85,Italy,20108.00000,10230.0000,2.249800e+04,767.00,0.0
86,Jamaica,40.00000,102.0000,2.900000e+01,0.00,0.0
87,Japan,56162.00000,3497.0000,5.003700e+04,474.00,38042.0
88,Jordan,698.50000,280.4000,1.200000e+01,0.00,0.0
89,Kazakhstan,56.00000,200.0000,2.500000e+03,0.00,0.0
90,Kiribati,2.90000,0.0000,0.000000e+00,0.00,0.0
91,"Korea, Dem.Ppl's.Rep.",10.00000,0.0000,4.790000e+03,0.00,0.0
92,"Korea, Republic of",8099.00000,1420.0000,6.490000e+03,0.00,21850.0
93,Kosovo,6.60000,33.7500,8.040000e+01,0.00,0.0
94,Kuwait,4.00000,0.0000,0.000000e+00,0.00,0.0
95,Lao People's Dem. Rep.,6.70000,0.0000,5.255600e+03,0.00,0.0
96,Latvia,2.00000,79.0000,1.565000e+03,0.00,0.0
97,Lebanon,42.00000,0.0000,2.530000e+02,0.00,0.0
98,Lesotho,0.28000,0.0000,7.418000e+01,0.00,0.0
99,Liberia,3.00000,0.0000,9.200000e+01,0.00,0.0
100,Libya,5.00000,0.0000,0.000000e+00,0.00,0.0
101,Liechtenstein,5.00000,0.0000,1.000000e+01,0.00,0.0
102,Lithuania,82.00000,533.0000,8.770000e+02,0.00,0.0
103,Luxembourg,131.00000,123.0000,1.330000e+03,0.00,0.0
104,Madagascar,1.00000,0.1000,1.660000e+02,0.00,0.0
105,Malaysia,1004.00000,0.0000,6.167900e+03,0.00,0.0
106,Maldives,10.00000,1.0000,0.000000e+00,0.00,0.0
107,Mali,2.00000,0.0000,5.500000e+02,0.00,0.0
108,Malta,131.30000,0.1000,0.000000e+00,0.00,0.0
109,Marshall Islands,2.00000,0.0000,0.000000e+00,0.00,0.0
110,Martinique,0.00000,0.0000,0.000000e+00,0.00,0.0
111,Mauritania,87.00000,34.0000,0.000000e+00,0.00,0.0
112,Mauritius,66.83000,10.6300,6.044000e+01,0.00,0.0
113,Mayotte,0.00000,0.0000,0.000000e+00,0.00,0.0
114,Mexico,2434.00000,4853.0000,1.262800e+04,1010.00,1608.0
115,Micronesia (Fed. States of),1.90000,0.8000,1.625000e+00,0.00,0.0
116,Mongolia,64.00000,156.0000,3.100000e+01,0.00,0.0
117,Montenegro,3.39000,118.0000,6.523800e+02,0.00,0.0
118,Morocco,261.00000,1168.0000,1.770000e+03,0.00,0.0
119,Mozambique,40.00000,0.0000,2.239000e+03,0.00,0.0
120,Myanmar,0.00000,0.0000,3.436000e+03,0.00,0.0
121,Namibia,87.50000,5.2300,3.470000e+02,0.00,0.0
122,Nauru,0.82200,0.0000,0.000000e+00,0.00,0.0
123,Nepal,1.10000,6.0000,1.128705e+03,0.00,0.0
124,Netherlands,4522.00000,4393.0000,3.700000e+01,0.00,485.0
125,New Caledonia,33.00000,54.0000,7.810000e+01,0.00,0.0
126,New Zealand,90.00000,689.0000,5.381000e+03,965.00,0.0
127,Nicaragua,13.96000,186.2000,1.424500e+02,154.50,0.0
128,Niger,20.00000,0.0000,0.000000e+00,0.00,0.0
129,Nigeria,12.00000,0.0000,2.151000e+03,0.00,0.0
130,Niue,0.34100,0.0000,0.000000e+00,0.00,0.0
131,North Macedonia,17.00000,37.0000,6.740000e+02,0.00,0.0
132,Norway,0.00000,1710.0000,3.253000e+04,0.00,0.0
133,Oman,8.30000,0.0000,0.000000e+00,0.00,0.0
134,Other Asia,2756.00000,1016.0000,4.693600e+03,0.00,4508.0
135,Pakistan,436.00000,1041.0000,7.270000e+03,0.00,1430.0
136,Palau,1.50000,0.0000,0.000000e+00,0.00,0.0
137,Panama,189.00000,270.0000,1.776700e+03,0.00,0.0
138,Papua New Guinea,1.25800,0.0000,2.577950e+02,56.00,0.0
139,Peru,325.00000,372.0000,5.363000e+03,0.00,0.0
140,Philippines,896.00000,427.0000,3.717000e+03,1944.00,0.0
141,Poland,562.00000,5766.0000,2.392000e+03,0.00,0.0
142,Portugal,667.00000,5172.5000,7.236000e+03,29.00,0.0
143,Puerto Rico,165.00000,101.0000,9.900000e+01,0.00,0.0
144,Republic of Moldova,3.00000,34.0000,1.630000e+01,0.00,0.0
145,Reunion,0.00000,0.0000,0.000000e+00,0.00,0.0
146,Romania,1386.00000,3032.0000,6.700000e+03,0.00,1411.0
147,Russian Federation,677.50000,161.1000,5.133250e+04,74.00,29139.9
148,Rwanda,12.08000,0.0000,1.031600e+02,0.00,0.0
149,Réunion,0.00000,0.0000,0.000000e+00,0.00,0.0
150,Samoa,18.02000,0.5500,1.200000e+01,0.00,0.0
151,Sao Tome and Principe,0.32000,0.0000,2.320000e+00,0.00,0.0
152,Saudi Arabia,0.50000,2.8000,0.000000e+00,0.00,0.0
153,Senegal,143.00000,0.0000,0.000000e+00,0.00,0.0
154,Serbia,15.00000,264.0000,2.936000e+03,0.00,0.0
155,Seychelles,3.50000,6.0000,0.000000e+00,0.00,0.0
156,Sierra Leone,4.30000,0.0000,5.700000e+01,0.00,0.0
157,Singapore,114.80000,0.0000,0.000000e+00,0.00,0.0
158,Slovakia,471.00000,4.0000,2.528000e+03,0.00,1940.0
159,Slovenia,247.00000,5.2000,1.343700e+03,0.00,688.0
160,Solomon Islands,2.53500,0.0000,3.390000e-01,0.00,0.0
161,South Africa,2959.00000,2330.0000,7.610000e+02,0.00,1940.0
162,South Sudan,8.40000,0.0000,3.000000e+00,0.00,0.0
163,Spain,7078.00000,23460.0000,2.028000e+04,0.00,7117.0
164,Sri Lanka,133.84000,128.0000,1.793000e+03,0.00,0.0
165,St. Helena and Depend.,1.70000,2.6000,0.000000e+00,0.00,0.0
166,St. Kitts-Nevis,2.00000,2.0000,0.000000e+00,0.00,0.0
167,St. Lucia,3.00000,0.0000,0.000000e+00,0.00,0.0
168,St. Vincent-Grenadines,2.12400,0.0000,5.640000e+00,0.00,0.0
169,State of Palestine,40.00000,0.0000,0.000000e+00,0.00,0.0
170,Sudan,18.60000,0.0000,1.907000e+03,0.00,0.0
171,Suriname,5.00000,0.0000,1.890000e+02,0.00,0.0
172,Sweden,428.00000,7300.0000,1.643100e+04,0.00,8656.0
173,Switzerland,2171.00000,75.0000,1.554200e+04,0.00,3333.0
174,Syrian Arab Republic,1.00000,1.0000,1.490000e+03,0.00,0.0
175,Thailand,4029.00000,1102.8200,3.667380e+03,0.30,0.0
176,Timor-Leste,0.60400,0.0000,3.250000e-01,0.00,0.0
177,Togo,3.00000,0.0000,6.660000e+01,0.00,0.0
178,Tonga,6.17800,0.0220,0.000000e+00,0.00,0.0
179,Trinidad and Tobago,2.57000,0.0000,0.000000e+00,0.00,0.0
180,Tunisia,146.00000,240.0000,6.200000e+01,0.00,0.0
181,Turkey,5062.00000,7006.0000,2.829100e+04,1283.00,0.0
182,Turks and Caicos Islands,0.00000,0.0000,0.000000e+00,0.00,0.0
183,Tuvalu,2.00000,0.0000,0.000000e+00,0.00,0.0
184,Uganda,42.40000,0.0000,7.440000e+02,0.00,0.0
185,Ukraine,1201.00000,476.0000,6.243000e+03,0.00,13835.0
186,United Arab Emirates,585.00000,0.0000,0.000000e+00,0.00,0.0
187,United Kingdom,13119.00000,21770.0000,4.779000e+03,0.00,9314.0
188,United Rep. of Tanzania,25.40000,0.0000,5.618000e+02,0.00,0.0
189,United States,51570.00000,94516.0000,1.028010e+05,2444.00,99433.0
190,United States Virgin Is.,19.99000,0.0000,0.000000e+00,0.00,0.0
191,Uruguay,248.40000,1510.7000,1.538000e+03,0.00,0.0
192,Uzbekistan,3.50000,0.0000,1.914900e+03,0.00,0.0
193,Vanuatu,2.70000,3.3000,1.300000e+00,0.00,0.0
194,Venezuela (Bolivar. Rep.),3.01000,50.2000,1.513681e+04,0.00,0.0
195,Viet Nam,106.00000,243.0000,1.834100e+04,0.00,0.0
196,Wallis and Futuna Is.,0.17900,0.0000,2.000000e-01,0.00,0.0
197,Yemen,250.00000,0.0000,0.000000e+00,0.00,0.0
198,Zambia,1.10000,0.0000,2.398250e+03,0.00,0.0
199,Total,484783.26332,566720.2272,1.291276e+06,13154.64,406276.4
200,Aruba,0.00000,30.0000,0.000000e+00,0.00,0.0
201,Faeroe Islands,0.00000,16.3500,3.970000e+01,0.00,0.0
202,Georgia,0.00000,20.0000,2.695000e+03,0.00,0.0
203,"Germany, Fed. R. (former)",0.00000,0.0000,0.000000e+00,0.00,0.0
204,Iceland,0.00000,2.0000,2.099000e+03,756.00,0.0
205,Kenya,0.00000,336.1000,8.207000e+02,627.00,0.0
206,St. Pierre-Miquelon,0.00000,0.0000,0.000000e+00,0.00,0.0
207,Afghanistan,0.00000,0.0000,3.840000e+02,0.00,0.0
208,Czechoslovakia (former),0.00000,0.0000,0.000000e+00,0.00,0.0
209,Côte d'Ivoire,0.00000,0.0000,8.790000e+02,0.00,0.0
210,Dominica,0.00000,0.0000,9.840000e+00,0.00,0.0
211,"Ethiopia, incl. Eritrea",0.00000,0.0000,0.000000e+00,0.00,0.0
212,German Dem. R. (former),0.00000,0.0000,0.000000e+00,0.00,0.0
213,Greenland,0.00000,0.0000,9.130000e+01,0.00,0.0
214,Guinea,0.00000,0.0000,3.668500e+02,0.00,0.0
215,Isle of Man,0.00000,0.0000,1.200000e+00,0.00,0.0
216,Kyrgyzstan,0.00000,0.0000,3.135000e+03,0.00,0.0
217,Malawi,0.00000,0.0000,4.500000e+02,0.00,0.0
218,Pacific Islands (former),0.00000,0.0000,0.000000e+00,0.00,0.0
219,Paraguay,0.00000,0.0000,8.760000e+03,0.00,0.0
220,Serbia and Montenegro,0.00000,0.0000,0.000000e+00,0.00,0.0
221,Sudan (former),0.00000,0.0000,0.000000e+00,0.00,0.0
222,Tajikistan,0.00000,0.0000,5.900000e+03,0.00,0.0
223,Turkmenistan,0.00000,0.0000,0.000000e+00,0.00,0.0
224,USSR (former),0.00000,0.0000,0.000000e+00,0.00,0.0
225,"Yugoslavia, SFR (former)",0.00000,0.0000,0.000000e+00,0.00,0.0
226,Zimbabwe,0.00000,0.0000,1.050000e+03,0.00,0.0

# Population

In [121]:
population = pd.read_csv('UNdata_pop.csv')
population.head()

  Country or Area  Year(s) Variant        Value
0     Afghanistan     2019  Medium    38041.754
1     Afghanistan     2018  Medium    37171.921
2          Africa     2019  Medium  1308064.195
3          Africa     2018  Medium  1275920.972
4         Albania     2019  Medium     2880.917

In [122]:
population = population.drop(['Variant'], axis=1)
population.rename(columns={'Country or Area':'country', 'Year(s)':'id', 'Value':'value'}, inplace=True)
population.head()

       country    id        value
0  Afghanistan  2019    38041.754
1  Afghanistan  2018    37171.921
2       Africa  2019  1308064.195
3       Africa  2018  1275920.972
4      Albania  2019     2880.917

In [123]:
population = pd.crosstab(index=population['country'], columns=population['id'], values=population['value'], aggfunc='sum')
population.loc['Total'] = population.sum()
population = population.reset_index()
population.head()

id         country         2018         2019
0      Afghanistan    37171.921    38041.754
1           Africa  1275920.972  1308064.195
2          Albania     2882.740     2880.917
3          Algeria    42228.408    43053.054
4   American Samoa       55.465       55.312

# Final dataset

In [124]:
world_population_2018 =  population[['country', 2018]].rename(columns={2018:'population'})

In [125]:
world_energy_2018 = world_population_2018.merge(energy_production_2018, how='outer', on=['country'])
world_energy_2018 = world_energy_2018.merge(energy_capacity_2018, how='outer', on=['country'])

In [126]:
world_energy_2018.head()

id,country,population,total_prod,solar,wind,hydro,geothermal,nuclear,others,solar_nic,wind_nic,hydro_nic,geothermal_nic,nuclear_nic
0,Afghanistan,37171.921,979.00,0.000,0.0,1065.79,0.0,0.0,-86.790,0.000,0.0,384.0,0.0,0.0
1,Africa,1275920.972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,2882.740,8506.92,0.000,0.0,8552.15,0.0,0.0,-45.230,1.000,0.0,2105.0,0.0,0.0
3,Algeria,42228.408,68962.00,62.000,84.0,638.00,0.0,0.0,68178.000,344.000,10.0,129.0,0.0,0.0
4,American Samoa,55.465,160.50,4.832,0.0,0.00,0.0,0.0,155.668,5.066,0.0,0.0,0.0,0.0

In [127]:
world_energy_2018['country'].nunique()

320

In [128]:
world_energy_2018.to_csv('world_energy_2018.csv', index=False)